doctype html
html(lang='en', data-ng-app='app')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(http-equiv='CONTENT-LANGUAGE', content='EN')
        meta(name='revisit-after', content='1 days')
        meta(name='robots', content='all')
        meta(name='Copyright', content='www.devaayanam.in')
        meta(name='description', content=mydesc)
        meta(name='keywords', content=mykeys)
        meta(name='google-site-verification', content='uPMQLWrDfPfVF_5efBLnhKUU43rUXqrh_uLhzYKpOCA')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        meta(name='fragment', content='!')
        title=mytitle
        link(rel='icon', href='images/favicon.png')
        script(src='https://plus.google.com/js/client:plusone.js')
        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-60464186-1', 'auto');
        link(href='styles/template3/css/bootstrap.min.css' rel='stylesheet')
        link(href='styles/template3/css/style.css' rel='stylesheet')
        link(href='styles/template3/css/menu.css' rel='stylesheet')
    script(src='chrome-extension://aadgmnobpdmgmigaicncghmmoeflnamj/ng-inspector.js')
    section#header.header-container(data-ng-include=" 'views/header.html' ", data-ng-class=" {'header-fixed': admin.fixedHeader} ", data-ng-controller='loginController')
    body#app.app(data-custom-page='', data-off-canvas-nav='', data-ng-controller='AppCtrl', data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ")
        #fb-root
        script.
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=776708069070153";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        .main-container.hidelogin
            section#content.content-container(data-ng-view='')
    script(src='scripts/lib/angular_1.2.7.js')
    script(src='scripts/lib/ngRoute.js')
    each js in scripts
        script(src= js)
    script(src='scripts/js/template3/jquery-1.11.0.min.js')
    script(src='scripts/lib/ui-bootstrap-tpls-0.10.0.js')
    script(src='scripts/lib/bootstrap.min.js')
    script(src='scripts/lib/ngDialog.min.js')
    script(src='scripts/lib/logger_toaster.js')
    script(src='scripts/lib/Devaayanam/underscore.js')
    script(src='scripts/lib/cookies.js')
    script(src='scripts/lib/base64.js')
    script(src='scripts/lib/shared/main.js')
    script(src='scripts/lib/shared/directives.js')
    script(src='scripts/lib/shared/localize.js')
    script(src='scripts/lib/Form/FormCtrl.js')
    script(src='scripts/lib/Devaayanam/x2js.js')
    script(src='scripts/lib/alasql.js')
    script(src='scripts/lib/xlxs.js')
    script(src='scripts/lib/papaparse.min.js')
    // controllers and services
script(src='scripts/js/footer.js')
script(src='scripts/js/services/loginService.js')
script(src='scripts/js/controllers/loginController.js')
script(src='scripts/js/controllers/Admin_PujaController.js')
script(src='scripts/js/services/Admin_PujaService.js')
script(src='scripts/js/controllers/Admin_TaskController.js')
script(src='scripts/js/services/Admin_TaskService.js')
script(src='scripts/js/services/Admin_PujaRuleService.js')
script(src='scripts/js/controllers/Admin_DeityController.js')
script(src='scripts/js/services/Admin_DeityService.js')
script(src='scripts/js/controllers/Admin_DonationController.js')
script(src='scripts/js/services/Admin_DonationService.js')
script(src='scripts/js/controllers/Admin_CalendarController.js')
script(src='scripts/js/services/Admin_CalendarService.js')
script(src='scripts/js/controllers/Admin_NewUserController.js')
script(src='scripts/js/services/Admin_NewUserService.js')
script(src='scripts/js/controllers/Admin_TempleContactController.js')
script(src='scripts/js/services/Admin_TempleContactService.js')
script(src='scripts/js/controllers/Admin_TempleHistoryController.js')
script(src='scripts/js/services/Admin_TempleHistoryService.js')
script(src='scripts/js/controllers/FranchiseeDashboardController.js')
script(src='scripts/js/controllers/FranchiseeDashboardService.js')
script(src='scripts/js/controllers/admincontroller.js')
script(src='scripts/js/services/adminservice.js')
script(src='scripts/js/controllers/commonfunction.js')
script(src='scripts/js/controllers/commondirectives.js')
script(src='scripts/lib/pdfmake.min.js')
script(src='scripts/devaayanam/scripts/vfs_fonts.js')
script(src='scripts/lib/angularjs-dropdown-multiselect.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.7.0/lodash.min.js')

