<div class="row"style="margin-top: 10%">
    <div class="col-md-4"></div>
    <div class="col-md-4" >
            <div class="signin-header">
            <section class="logo text-center">
                <img src="{{baseUrl}}/images/DevaayanamCompanyName.png"class="button-login" style="width:200px; height:40px;margin-top:-10px">
                <!--<a href="#/">{{main.brand}}</a>-->
            </section>
            </div>
            <div class="content-box"style="margin-top: 30px;padding-top: 45px;"  data-ng-controller="loginController"ng-init="headerhide();">
              <div class="col-md-12">
                  <form>
                  <div class="form-group">
                      <input type="text"
                             class="form-control input-lg input-round text-center"
                             placeholder="Username"
                             ng-model="user.mail"
                             required=""
                              >
                  </div>
                      <div class="form-group">
                          <input type="password"
                                 class="form-control input-lg input-round text-center"
                                 placeholder="Password"
                                 ng-model="user.pass"
                                 required=""
                                  >
                      </div>
                  </form>
                  <div class="form-group group-form text-center">

                      <p>
                          <input type="checkbox" name="remember" id="remember" data-ng-model="user.remember" id="remember">
                          <span class="text-small text-muted" for="remember">Stay signed in </span>
                      </p>
                  </div>

                  <div class="form-group">
                      <!--a href="#/reports"-->
                      <button data-ng-click="login(user)" class="btn btn-primary btn-lg btn-round btn-block text-center">Log in</button>
                  </div>

              </div>.
            </div>
            </div>
    <div class="col-md-4"></div>
    </div>