@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Condensed:400,700);
body {
	color:#8d8d8d;
	font-family:'Roboto',sans-serif;
	line-height:1;
	padding:0;
}
body.boxed {
	max-width:1170px;
	background:#f4f5f8;
}
.navbar-toggle{
border: 2px solid #ec7c00 !important;
padding: 10px !important;
border-radius:10px !important;
background-color:#fff;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
border: 1px solid #ec7c00!important;
padding: 10px !important;
border-radius:10px !important;
background-color:#ec7c00;
}
.navbar
{
	display:none;
}
.navbar-default
{
    border: 0px;
    box-shadow:inherit !important;
}
a {
	color:#fff;
	text-decoration:none;
	-webkit-transition:0.5s ease all;
	-o-transition:0.5s ease all;
	-moz-transition:0.5s ease all;
	-ms-transition:0.5s ease all;
	transition:0.5s ease all;
	text-decoration:none !important;
}
a:hover,a:active,a:focus {
	text-decoration:none;
	color:#fff;
}
.container {
	max-width:100%!important;
	width:1170px!important;
}
.wrapper {
	position:relative;
	overflow:hidden;
	min-height:700px
}
header {
	position:relative;
}
img {
	max-width:100%;
}
ul {
	list-style-type:none;
    text-align: center;
    background-color: #000;
}
ol,ul {
	margin:0px;
	padding:0;
}
ul li,ol li {
	line-height:1.8;
    text-align: left !important;
    padding-left: 20px !important;
}
ol.list-unstyled {
	margin-left:0;
}
.list-unstyled li i {
	padding-right:15px;
	color:#ffda43;
}
h1,h2,h3,h4,h5,h6 {
	font-family:"Roboto Condensed";
	color:#2a2a2a;
}





@media all and (max-width: 479px) {

}
.main-menuadmin {
	padding:0;
	background:#000;
	background: #fff; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#000, #4f5561); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#000, #4f5561); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#000, #4f5561); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#000, #4f5561); /* Standard syntax */
}
.main-menu {
	padding:0;
	background:#000;
    background: #fff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000, #4f5561); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #4f5561); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #4f5561); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000, #4f5561); /* Standard syntax */
}
ul.main-menu li a {
	font-size:18px;
	font-family:"Roboto Condensed";
	color:#fff;
	line-height:1.467;
	text-transform:uppercase;
	padding:10px 20px;
	display:block;
	-webkit-transition:0.5s ease all;
	-o-transition:0.5s ease all;
	-moz-transition:0.5s ease all;
	-ms-transition:0.5s ease all;
	transition:0.5s ease all;
    font-weight:400;
    letter-spacing: .2px;
}
ul.main-menu li:last-child a {
	padding-right:0;
}
ul.main-menu li a:hover,ul.main-menu li.active>a {
	color:#ec7c00;
}
ul.main-menu>li {
	display:inline-block;
	padding:0;
	position:relative;
}
ul.main-menu>li.dropdown ul {
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:120%;
	background:#fff;
	min-width:220px;
	padding:10px 0;
	-webkit-transition:0.5s ease all;
	-o-transition:0.5s ease all;
	-moz-transition:0.5s ease all;
	-ms-transition:0.5s ease all;
	transition:0.5s ease all;
	z-index:1000;
	margin-top:10px;
}
ul.main-menu>li.dropdown ul li a {
	padding:10px 20px;
	display:block;
	font-size:16px;
	font-weight:normal;
	text-transform:none;
}
ul.main-menu>li.dropdown ul:before {
	content:"";
	display:block;
	visibility:hidden;
	opacity:0;
	position:absolute;
	top:-20px!important;
	left:30px;
	border:10px solid transparent;
	border-bottom-color:#fff;
	-webkit-transition:1s ease all;
	-o-transition:1s ease all;
	transition:1s ease all;
}
ul.main-menu>li.dropdown:hover ul,ul.main-menu>li.dropdown:hover ul:before {
	visibility:visible;
	opacity:1;
	top:100%;
}
i.fa.dropdown-toggle {
	display:none;
}
li.dropdown i.fa.dropdown-toggle {
	display:block;
	position:absolute;
	top:49%;
	right:5px;
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	transform:translateY(-50%);
	font-size:12px;
	line-height:1;
	color:#aaa;
	cursor:pointer;
}
@media all and (max-width: 991px) {
	.navbar
{
	display:block;
}
	nav.navbar-collapse {
		position:fixed;
		right:0px;
		top:100px;
		width:200px;
		opacity:0;
		z-index:1000;
		height:auto!important;
		-webkit-transition:0.5s ease all;
		-o-transition:0.5s ease all;
		-moz-transition:0.5s ease all;
		-ms-transition:0.5s ease all;
		transition:0.5s ease all;
	}
	.navbar-collapse.collapse {
		display:none!important;
		padding:0;
		overflow:inherit;
	}
	.navbar-collapse.collapsing {
		padding:0;
	}
	.navbar-collapse.collapse.in {
		display:block!important;
		opacity:1;
		right:20px;
	}
	.navbar-toggle {
		display:block;
		right:0;
		position:absolute;
		background:none;
		top:0px;
		border:none;
		padding:0 10px;
		margin:21px 15px;
	}
	.navbar-toggle span.icon-bar {
		background:#61656f;
		height:3px;
	}
	ul.main-menu>li {
		display:block;
	}
	ul.main-menu {
		padding:10px 0;
	}
	ul.main-menu>li>a {
		padding:15px 10px;
	}
	ul.main-menu>li.dropdown ul {
		left:-30px;
	}
	ul.main-menu>li.dropdown:hover ul,ul.main-menu>li.dropdown:hover ul:before {
		visibility:hidden;
		opacity:0;
		top:100%;
	}
	ul.main-menu>li.dropdown.open ul,ul.main-menu>li.dropdown.open ul:before {
		visibility:visible;
		opacity:1;
		top:100%;
	}
	ul.main-menu>li.dropdown.open ul {
		left:0;
	}
}







@media only screen and (min-width: 1024px) {
	
.tab-widget {
	border:1px solid rgba(244,244,244,0.8);
	background:#ffffff;
	box-shadow:0px 0px 2px 0px rgba(0,0,0,0.1);
}
.nav-tabs>li {
	padding:0;
	border-radius:0;
	margin:0;
	border-right:1px solid #eee;
	-webkit-transition:0.5s ease all;
	-o-transition:0.5s ease all;
	-moz-transition:0.5s ease all;
	-ms-transition:0.5s ease all;
	transition:0.5s ease all;
}
ul.nav-tabs {
	border-bottom:1px solid #eee;
}
.nav-tabs>li>a {
	font-weight:bold;
	line-height:1;
	padding:20px 15px;
	background:#ffffff;
	color:#093EB6;
	border-radius:0;
	border:none;
	margin:0;
}
.nav-tabs>li>a:hover {
	background:#f9f9f9;
	color:#002D92;
	border:none;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover {
	background:#f9f9f9;
	color:#002D92;
	border:none;
}
.tab-content>.tab-pane {
	padding:22px;
}


