@charset "utf-8";
/* CSS Document */

/*-----------------------------------------------------------------------------------------------------header-wrap-------------------------------------------------------------------*/
.log-in-area{
    text-align: center !important;
    margin-bottom: 15px;
    padding-left: 25%;
}
.button-login  {
    background-color:transparent !important;
    border: 0px;
    color: #000;
    float: left;

}
.dropdown-menu li{
    padding-left: 0px !important;
}
.dropdown-menu{
    margin-top: 30px !important;
    padding: 20px !important;
    border: 1px solid  #ec7c00;
    -webkit-box-shadow: 3px 1px 13px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 3px 1px 13px 0px rgba(0,0,0,0.61);
    box-shadow: 3px 1px 13px 0px rgba(0,0,0,0.61);
}
.dropdown-menu li p{
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    color: #ec7c00;
    font-size: 16px;
}
.dropdown-menu li h5{
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.dropdown-menu button{
    margin: 0px auto;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    padding: 0px;
    padding: 3px 0px;
}


body{
    background-color: #fafafa;;
    font-family: 'Roboto', sans-serif !important;
	margin: 0px;
	padding: 0px !important;
	overflow-x: hidden;
}
.header-wrap{
	background-color:#fff;
	border-bottom:#333 2px solid;
    margin-bottom: 10px;
}
.sign-in p{
	color: #000;
	line-height: 20px;
}
.sign-in h4{
	color: #CC1B00;
	font-size: 24px;
}
.sign-in h3{
	text-align: center;
}
.payment{
	 background-color: #fafafa;
	padding: 40px 0px;
}
/*-----------------------------------------------------------------------------------------------------header-wrap-------------------------------------------------------------------*/
.social-icon
{
    text-align: center;
}
.social-icon h3{
	margin-top:0px;
}
.social-icon img{
	margin:0px auto;
}
.social-icon h3 i{
    color: #ec7c00;
    margin-left:10px;
	font-size:18px;
    
}
.social-icon h4 {
    color: #000;
    margin-left: 18px;
    margin-top: 5px;
    font-size: 15px;
    
}
.social-icon i {
    margin-left: 10px;
    margin-right:5px;
}
.logo 
{
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    
}
.logo  h1
{
	color:#ec7c00;
	font-weight:400;
}
.offering .nav-tabs > li.active > a,.offering .nav-tabs > li > a
{
	color: #000 !important;
}
.offering .nav-tabs > ul
{
	background-color: transparent !important;
}
input{
	font-size: 12px !important;
}

/*-----------------------------------------------------------------------------------------------------header-wrap-close-------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------temple-name-wrap-------------------------------------------------------------------*/
.temple-name{
    text-align: center;
    background-color:#262932;
    border-bottom: 3px solid #ec7c00;
    border-top: 3px solid #ec7c00;
    color: #fff;
}
.temple-name h1{
    color: #fff;
    font-size:1.8em;
    margin: 0px;
    margin: 8px 0px;
    text-shadow: 1px 1px 2px #ec7c00;
}


/*-----------------------------------------------------------------------------------------------------temple-name-close-------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------slider-wrap-------------------------------------------------------------------*/
.slider-content{
    padding: 20px;
    height: 100%;
    text-align: center;
	
}
.content-box{
    border: 2px solid #ec7c00;
    border-radius: 10px;
    padding: 17px;
	background-color:#fff;
  ;
}
.slider-pic img{
    padding: 0px;
	
	min-height:400px !important;
}

.full-width:{
    padding: 0px !important;
}
.special-mar{
	padding:0px;
}
.special-puja
{
    border: 1px solid #c2c2c2;
    width: 100%;
    margin: 0px auto;
    border-radius: 8px;
    background-color:#f8f7f7;
    margin-top: 1em;
	text-align:center;
	padding:20px 10px;
    
}
.special-puja-box
{
    border: 1px solid #c2c2c2;
    width: 50%;
    margin: 0px auto;
    border-radius: 8px;
    background-color:#f8f7f7;
    margin-top: 2em;
    float: left;
    
}
.special-puja th
{
    text-align: center;
    border-bottom: 0px !important;
}
.special-puja-margin{
    border-left: 2px solid #959595 !important;
    vertical-align: middle !important;
	text-align:left;
	
}
.special-puja-margin-left{
    font-weight: 600;
    font-size: 17px;
	color:#ec7c00;
	
}
.special-puja-margin-left p{
	vertical-align:middle;
	
}
.special-puja-list{
    color: #000;
    text-align: left;
    font-size: 16px;
	
}
.table
{
    margin-bottom: 0px;
}
.table .table{
    background-color: transparent;
    border: 0px;
    
}
.table .table td
{
    border: 0px;
}

.content-box p
{
    color: #000;
    line-height: 30px;
    font-size: 17px;
}
.table table
{
    background-color: none !important;
}
i{
    color: black;
font-size: 20px;
}
.slider-button{
    background-color:#ec7c00 !important;
    color: #fff !important;
    background-image: inherit !important;
    margin: 0px auto !important;
    border: 0px;

}
.slider-content>.slider-button:hover,slider-content>.slider-button:active {
    background-color: #000;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ec7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
    font-size: 27PX;
    margin-top: -10PX;
}

.button:hover span {
  padding-right: 25px;
    box-shadow: 0px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.first
{
    text-align: left !important;
    font-weight: 600;
}
.first span
{
    text-align: left !important;
    font-weight: 400;
}
.temple-detail{
    color: #2f2f2f !important;
    line-height: 24px !important;
    font-size: 16px !important;
    margin-top: 20px;
	min-height:90px !important;
	overflow:hidden !important; 
    
}



/*-----------------------------------------------------------------------------------------------------slider-wrap-close-------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------menu-wrap-------------------------------------------------------------------*/

.class{
    padding: 0px;
}
.main-menu i{
    color: #ec7c00;
    margin-right: 10px;
    font-size: 22px;
}

/*-----------------------------------------------------------------------------------------------------menu-wrap-close-------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------first-wrap-------------------------------------------------------------------*/
.first-wrap{
    padding-top: 2em;
}

.box-border{
    border: 1px solid #ec7c00 !important;
    padding: 20px 15px;
	background-color:#fff;

}
.box-border{
    -moz-box-shadow:    inset 0 0 8px rgba(250, 131, 1, 0.5);
   -webkit-box-shadow: inset 0 0 8px rgba(250, 131, 1, 0.5);
   box-shadow:         inset 0 0 8px rgba(250, 131, 1, 0.5);

}
.right-pad{
    padding-right: 0px !important;
}
.box-border span i{
    color: #ec7c00;
    margin-right: 10px;
    font-size: 25px;
}
.box-border i{
    color: #505050;
    margin-right: 10px;
    font-size: 25px;
    margin-left: 10px;
}
.box-border h3
{
    font-weight: 600;
    color: #505050;
    font-size: 20px;
}
.visitors-center img{
    
}
.events tr{
    border: 1px #ddd solid;
}

.event-head
{
    margin: 0px;
    font-size: 22px !important;
    color: #a05803 !important;
}
.event-date
{
    margin: 0px;
    font-size: 15px !important;
    font-style: italic;
	color:#333;
}
.event-des
{
    margin: 0px;
    font-size: 15px !important;
    color: #505050;
}
.event-date i
{
    margin: 0px;
}
.more
{
    text-align: right;
    font-size: 17px;
    color:#ff0000;
    font-weight: 600;
}
.prev
{
    text-align: left;
    font-size: 17px;
    color:#ff0000;
    font-weight: 600;
}

/*--------------------------------------------------------visitors-------------------------------------------------------------------*/
.visitors-center{
    text-align: center;
	min-height:433px !important;
	margin-top:0px;
}
.visitors-center img{
    margin: 0px auto;
}
.visitors-list{
    text-align:left;
    margin-left: 10px;
    width:80%;
    margin: 0px auto;
}
.visitors-list td{
    border: 0px !important;
}
.visitors-list td h4{
    margin: 0px;
    font-size: 18px !important;
}
.visitors-list td i{
    font-size: 20px !important;
}
.visitors{
    display: inline-block;
  border-radius: 4px;
  background-color: #ec7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 8px !important;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
    margin: 0px auto;
    margin: 10px 0px;
    
}
.visitors-center h3{
    text-align: left !important;
}
/*-----------------------------------------------------------------------------------------------------first-wrap-close-------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------second-------------------------------------------------------------------*/
.second-wrap{
    padding-top: 1em;
    padding-bottom: 1em;
}
.puja-shedule td, .puja-shedule th{
    text-align: center;
    border: 1px solid #ddd;
}
.puja-shedule th{
    color: #ec7c00;
    border-top: 1px solid #ddd;
}
.puja-shedule tD{
    color: #000;
}
.puja-shedule thead{
    border-top: 1px solid #ddd;;
}
/*-------------------------------------------------------------------------notice-----------------------------------------------------------*/
.notice-head
{
    margin: 0px;
    font-size: 18px !important;
    color: #a05803 !important;
}
.notice-date
{
    margin: 0px;
    font-size: 12px !important;
	color:#333;
}
.notice-des
{
    margin: 0px;
    font-size: 12px !important;
    color: #505050;
}


/*-------------------------------------------------------------------------notice-close-----------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------first-wrap-close-------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------our-sponsers-------------------------------------------------------------------*/
.our-sponser h3{
    margin: 0px;
    color:#ec7c00;
	margin-left:15px;
    
}
.ad
{
    margin: 20px 0px;
	text-align:center !important;
}
.ad img
{
	margin:0px auto;
}
#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
/*-----------------------------------------------------------------------------------------------------our-sponsers-close-------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------third-wrap-------------------------------------------------------------------*/
.third-wrap{
    padding-bottom: 1em;
}
.rules>tbody>tr>td{
    border: 0px !important; 

}
.rules>tbody>tr{
    border-bottom: 1px dashed #000 !important;
}
.rules i{
    padding: 0px;
    margin: 0px !important;
    text-align: right !important;
    color:#ec7c00;
    font-size: 16px;
}
.parikarma td
{
    padding-left: 0px !important;
}

.parikarma>tbody>tr>td{
    border: 0px !important; 

}
.parikarma>tbody>tr{
    border-bottom: 1px dashed #000 !important;
}
.parikarma i{
    padding: 0px;
    margin: 0px !important;
    text-align: right !important;
    color:#ec7c00;
    font-size: 16px;
}
.parikarma td
{
    padding-left: 0px !important;
}
.special-date
{
    margin: 0px;
    margin-top: 10px;
    color:#ec7c00;
    font-style: italic;
}
.special-name
{
    margin: 0px;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
specialpuja-class img
{
	margin:0px auto !important;
}
.special-content
{
    margin: 0px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
}
.img{
    margin-top: 20px;
}

/*-----------------------------------------------------------------------------------------------------third-wrap-close-------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------------map section-------------------------------------------------------------------*/
.map-content{
    font-size: 14px;
    color: #000;
    line-height: 18px;
}
map-table{
    margin: 0px 20px;
}
.map-table td
{
    border: 1px solid #e9e9e9 !important;
    padding: 0px;
}
.map-table p
{
    margin: 0px;
    color: #000;
    
}
.map-table p i
{
    color: #000;
    font-size: 17px;
    
}
.map-pad{
    margin-top: 15px;
}
.temple-name-bottom{
    font-size:20px;
    font-weight: 600;
    margin-bottom: 0px;
}
.temple-name-bottom i{
    color:#ec7c00;
}
.address-detail{
    padding-left: 35px;
    margin-top: 0px;
    color: #000;
    line-height: 20px;
    font-size: 14px;
    
}
/*-----------------------------------------------------------------------------------------------------first-wrap-close-------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------sixth-wrap-------------------------------------------------------------------*/
.sixth-wrap{
    padding-top: 1em;
    
}
.bottom-wrap{
    padding: 0px !important;
}
.image-review{
    margin: 0px auto;
    text-align:center !important;
    
}
.image-circle{
	margin:0px auto !important;
}
.image-review h5{
    color:#ec7c00;
    font-size: 20px;
    font-weight: 600;
    
}
.image-review p{
    color:#292828;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 19px;
    
}
.write-review{
    display: inline-block;
  border-radius: 4px;
  background-color: #ec7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px !important;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
    margin: 0px auto;
    margin: 4px 0px;
    
}
.write-review{
    display: inline-block;
  border-radius: 4px;
  background-color: #ec7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px !important;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
    margin: 0px auto;
    margin: 4px 0px;
    
}
.more-review{
    display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border:2px solid #ec7c00;
  color: #ec7c00;
  text-align: center;
  font-size: 14px;
  padding: 8px !important;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
    margin: 0px auto;
    margin: 0px 0px;
    
}
.next-streaming{
     display: inline-block;
  border-radius: 4px;
  background-color: #ec7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px !important;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
    margin: 0px auto;
    margin: 4px 0px;
    margin-top: 25px;
    
}
.next-straming-box, .tenders{
    padding: 30px 10px !important;
    text-align: center;
}
.next-straming-box p{
    line-height: 22px;
    font-size: 16px;
    margin-top: 28px;
}
.tenders img{
    margin: 0px auto;
    margin-top: 30px;
}
.tender-button{
     display: inline-block;
  border-radius: 4px;
  background-color: #ec7c00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 8px !important;
  width:80%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
    margin: 0px auto;
    box-shadow:inherit !important;
    margin: 0px auto;
    margin: 4px 0px;
    margin-top: 25px;
   text-transform: uppercase;
    line-height: 17px;
}
.tender-button span{
    font-weight: 600;
    font-size: 18px;
}
/*-----------------------------------------------------------------------------------------------------sixth-wrap-close-------------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------footer-wrap--------------------------------------------------------------------*/
.footer{
	background-color:#FFF;
	border-top:5px solid #666;
	margin-top:50px;
}
.policies{
	text-align:center;
	padding:20px 0px;
}
.refund{
	text-align:center;
	padding:20px 0px;
}
.policies h5{
	font-size:20px;
	color:#000;
}
.footer p{
	color:#666;
	line-height:20px;
}
/*-----------------------------------------------------------------------------------------------------footer-wrap-close--------------------------------------------------------------------*/

	

/*@media screen and (max-width: 1366px){
	.temple-detail{
    color: #2f2f2f !important;
    line-height: 24px !important;
    font-size: 16px !important;
    margin-top: 20px;
	max-height:75px !important;
	overflow:hidden !important; 
    
}
.slider-pic{
		width:60% !important;
		float:left;
	
}
.slider-content{
	width:40%;
	float:left ;
}

}
@media screen and (max-width: 1324px){
}
.slider-pic{
		width:40% !important;
		float:left;
	
}
.slider-content{
	width:60%;
	float:left ;
}

}
	*/
	
	/*<------------------------------------------------------------------------------------------------offering----------------------------------------------------------------------->*/
	
.ofering-banner{
	background-image:url(../../../pages/template3/images/offering.jpg);
	width:100%;
	text-align:center;
	background-size:cover;
	background-repeat:no-repeat;
	min-height:200px;
}
.ofering-banner h1
{
	margin:0px auto;
	color:#FFF;
	font-weight:500;
	font-size:50px;
	text-shadow: 0px -1px 7px rgba(0, 0, 0, 1);
	margin:0px auto;
	padding:3em 0px;
	text-align:center;
}
/*button.accordion {*/
    /*background-color:#ff952c;*/
    /*color: #fff;*/
	/*text-transform:uppercase;*/
	/*font-size:16px;*/
	/*font-weight:600;*/
    /*cursor: pointer;*/
    /*padding: 10px;*/
    /*width: 100%;*/
    /*text-align: left;*/
    /*border: none;*/
    /*outline: none;*/
    /*transition: 0.4s;*/
	/*margin-top:15px;*/
	/*border-radius:5px;*/
/*}*/
button.inner {
    background-color:#ff952c;
    color: #fff;
  text-transform:uppercase;
  font-size:15px;
  font-weight:400;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  margin-top:15px;
  border-radius:5px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/*button.accordion.active, button.accordion:hover {*/
    /*background-color: #ff7f00;*/
/*}*/

/* Style the accordion panel. Note: hidden by default */
/*div.panel {*/
    /*padding: 0 18px;*/
    /*background-color: white;*/
    /*display: none;*/
/*}*/

/* The "show" class is added to the accordion panel when the user clicks on one of the buttons. This will show the panel content */
/*div.panel.show {*/
    /*display: block;*/
/*}*/
/*div.panel {*/
    /*background-color: white;*/
    /*max-height: 0;*/
    /*overflow: hidden;*/
    /*transition: 0.6s ease-in-out !important;*/
    /*opacity: 0;*/
/*}*/
.panel{
	margin-bottom:0px!important;
}

/*div.panel.show {*/
    /*opacity: 1;*/
    /*max-height: inherit; *//* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
/*}*/
/*button.accordion:after {*/
    /*content: "\f107"; *//* Unicode character for "plus" sign (+) */
    /*font-size: 19px;*/
    /*color: #fff;*/
    /*float: right;*/
    /*margin-left: 5px;*/
    /*font-family: FontAwesome;*/
    /*font-style: normal;*/
    /*font-weight:600;*/
    /*text-decoration: inherit;*/
/*--adjust as necessary--*/
 /**/
/*}*/
.border-panel{
  border: 1px solid #ff7f00;   
  padding-bottom: 20px !important;
  padding-top: 10px !important;
} 
.inner{
  margin-top: 10px !important;
  font-size: 15px !important;
}
.inner span i{
  color: #fff;
  margin-left: 2px;
}
.inner span {
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
}

/*button.accordion.active:after {*/
    /*content: "\f106"; *//* Unicode character for "minus" sign (-) */
/*}*/
.my-booking {
	padding:10px 10px;
	border:1px solid  #ff7f00;
	border-radius:5px;
	margin:15px 0px;
}
.my-booking h4{
	float:left;
	margin:0px;
}
.thumbnail{
    min-height: 284px !important;
}
.thumbnail p{
    color: #424242;
    margin-top: 0px;
    margin-left: 5px;
    font-size: 12px;
}
.thumbnail h4{
    color: #000;
    font-weight: 400;
    margin-left: 5px;
}
.my-booking button{
	float:right;
	vertical-align:central;
	color:#FFF;
	background-color: #ff7f00;
	border:0px;
	padding:5px 10px;
	border-radius:5px;
}
iv.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

/*---------------------------------------------------------filtering------------------------*/

.banner{
  background-image:url(../../../pages/template3/images/about-img.jpg);
  min-height:400px;
  position: relative;
  background-size:cover;
  background-position:center;
  width:100%;

}
.banner-calender{
  background-image:url(../../../pages/template3/images/calender-img.jpg);
  min-height:400px;
  position: relative;
  background-size:cover;
  background-position:center;
  width:100%;

}
.banner-puja{
  background-image:url(../../../pages/template3/images/offering.jpg);
  min-height:400px;
  position: relative;
  background-size:cover;
  background-position:center;
  width:100%;

}

.bg-overlay{
	background-image:url(../../../pages/template3/images/overlay-pattern.png);
	background-repeat:repeat;
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
  
}
.bg-overlay h1{
	font-size:4em;
	color:#FFF;
	font-weight:300;
	margin-top:3em;
}
.filtering{
  text-align: center !important;
  width: auto !important;
  background-color: transparent;
  border: 0px !important;
  display: block;
    display: inline-block;
}
.filter-container{
  text-align: center;
  margin-top: 20px;
}
.filtering li{

  background-color: transparent !important;
  border: 0px !important;
}
.filtering li a{

  background-color: transparent !important;
  border: 0px !important;
  font-size: 17px;
  font-weight: 400 !important;
  color: #454545 !important;
  text-transform: uppercase;
}
.filtering li i{
  margin-right: 5px !important;
  color: #454545 !important;

}

.filtering li:hover,.filtering li a {
  color: #000;

}
.nav-tabs>li.active>a,.nav-tabs>li.active>a>i,.nav-tabs>li:hover>a,.nav-tabs>li:hover>a>i{
  color: #1498db !important;
 text-shadow: 4px 4px 2px rgba(150, 150, 150, 0.4);
}
.detail-cent{
  text-align: center;
}
.box{
  border: 1px solid  #ff7f00;
  padding: 15px;
  margin-top: 20px;
  border-radius:8px;
    color: black;
}
.adminbox{
    border: 1px solid  #ff7f00;
    border-radius:8px;
    margin-top:5px;
}
.tab-content>.tab-pane{
  padding: 0px !important;
}
.heading-detail{
  background-color:#e38749;
  padding: 10px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-top: 15px;

}
.heading-detail-rules{
  background-color:#e38749;
  padding: 10px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.heading-detail h4, .heading-detail-rules h4{
  margin: 0px;
  color: #fff;
  font-weight:500;
}

.heading-detail h4 i, .heading-detail-rules h4 i{
  margin-right: 5px;
  color: #fff;
}
.rules, .rules li, .rules li i{
  background-color: transparent !important;
  color: #4b4b4b;
}
.rules{
  margin-top: 15px;
}
.rules li i{
  margin-right: 5px !important;
}
.table-rule {
  margin-top: 15px;
  text-align: left !important; 
}
.table-rule td{
  border-top: 0px !important;
  border-bottom: 1px solid #ddd;
  color: #4b4b4b;
  text-align: left !important: 
}
.box p{
  text-align: left !important; 
  margin-top: 14px;
  line-height: 20px;
  font-weight: 400;
}
.contact-deatail{
  text-align: left;
}
.mang-heading h4{
  color: #e38749;
  margin: 0px;
}
.mang-heading p{
  color: #000;
  margin: 0px;
}
.contact-deatail p{
  text-align: left;
  color: #4b4b4b;
}
.img-circle-management{
    border-radius: 50%;
    margin: 0px auto;
    width: 70px;
    height: 70px;
    
}
.propic{
    padding: 10px 0px;
}
.mang-heading{
  background-color: #ededed;
  margin-top: -12px;
  padding: 18px 0px 10px 0px;
}
.management-detail{
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 15px;
  background-color: #fff;
  min-height: 210px;
}
.management-detail p{
  
  text-align: center !important;
}


a {
  color: #000;
}
a:visited {
  color: #000;
}
.comment a:hover, .comment a:active, .comment a:focus{
  color: #000 !important;

}

.comment {
  margin: 10px;
  color: #4b4b4b;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
a.morelink {
  text-decoration:none;
  outline: none;
}
.morecontent span {
  display: none;

}
.month h4{
  font-weight:700 !important;
  color: #fff;
  font-size: 20px;
}
.month {
  text-align: center;
}
/*---------------------------------------------------------filtering------------------------*/

.calenderlist{
  background-color: #fff;
  margin-top: 5px;
  margin-bottom: 10px;
}
.calenderlist li{
  padding: 10px;
  border: 1px solid #ddd;
}

.calender .container, .calenderlist td {
  border: 1px solid #ddd;
  margin-top: 30px;
}
.calenderlist p{
  color: #000;
}
.header-calender{
  background-color: #ff7f00!important;
  padding: 5px 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}
.previous h4 i, .next h4 i{
  color: #fff;
  font-size: 23px;
}
.calenderlist h3{
  font-weight:700;
  font-size:20px;
  color: #a15906;
  margin-bottom: 0px;
}
.calenderlist h5{
  font-weight:500;
  font-size:14px;
  color: #373636;
  margin-top: 2px;
  margin-bottom: 0px;
}
.calenderlist p{
  font-weight:300;
  font-size:15px;
  color: #373636;
  margin-top: 5px;
}
.gallery{
  margin-top: 30px;
}
.thumbnail:hover,.thumbnail .zoom-img{
  opacity: 0.8;
  animation-duration:6s;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   


}
#lightbox {
  margin-left: -200px;

}
.close{

}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
     background-color: #ff7f00!important;
   
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    right: -10px;
    display: block !important;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    z-index:1032;
}


.banner-gallery{
  background-image:url(../../../pages/template3/images/gallery-img.jpg);
  min-height:400px;
  position: relative;
  background-size:cover;
  background-position:center;
  width:100%;

}
#special-info {
    display: none ;
}
.offering .panel{
	max-height: inherit !important;
}
#special{
	color: #fff;
	background-color: #000;
	border: 0px;
	margin: 10px 0px;
	font-size: 16px;
	padding: 10px 20px;
	font-weight: 600;
	border-radius: 10px;
	
}
.special-info ul{
	background-color:#fff !important;
	
}
.special-tab li a{
	padding-left: 0px !important;
	text-align: center !important;
}
.special-tab li {
	padding-left: 0px !important;
	text-align: center !important;
}
.button-div{
	text-align: center;
	padding-top:20px;
}
.button-schedule{
	padding-top:10px;
	padding-bottom: 10px;
}
.button-div button{
	padding: 10px 35px !important;
	background-color:#e38749 !important; 
	margin: 0px auto;
	border: 0px;
	color: #fff;
	font-size: 17px;
	border-radius: 10px;

}
.button-div button:hover{
	padding: 10px 35px !important;
	background-color:#e38749 !important; 
	margin: 0px auto;
	border: 0px;
	color: #fff;
	font-size: 17px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 6px 23px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 23px -8px rgba(0,0,0,0.75);
box-shadow: 0px 6px 23px -8px rgba(0,0,0,0.75);
	transition-duration: 0.5s;

}
.input-group-addon i{
	font-size: 16px !important;
	
}
#special{
	text-align: center;
	cursor: pointer;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e061c+0,271a30+38,727272+100 */
background: #1e061c; /* Old browsers */
background: -moz-linear-gradient(top,  #1e061c 0%, #271a30 38%, #727272 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e061c 0%,#271a30 38%,#727272 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e061c 0%,#271a30 38%,#727272 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e061c', endColorstr='#727272',GradientType=0 ); /* IE6-9 */

}
.new-nav>.nav-tabs>li>a, .new-nav>.nav-tabs>li.active>a{
	color:#000;
	border: 1px solid #000;
	margin-left: 10px;
	padding: 0px;
	padding: 10px; 0px;
	border-radius: 5px;
	font-weight: 400;
}
.new-nav>.nav-tabs>li>a:hover, .new-nav>.nav-tabs>li.active>a{
	color:#fff !important;
	background-color: #e38749 !important;
	border: 1px solid #e38749 !important;
	text-shadow:none;
}
.new-nav-2>.nav-tabs>li>a, .new-nav-2>.nav-tabs>li.active>a{
	color:#000 !important;
	border: 1px solid #ddd;
	margin-left: 10px;
	padding: 0px;
	padding: 10px; 0px;
	border-radius: 5px !important;
	text-align: center;
	font-weight: 400;
	
}
.new-nav>.nav-tabs>li{
	padding-left: 0px !important;  
	
}
.new-nav-2>.nav-tabs>li{
	padding-left: 0px !important;  
	
}
.new-nav-2>.nav-tabs>li>a:hover, .new-nav-2>.nav-tabs>li.active>a{
	color:#fff !important;
	background-color: #e38749 !important;
	border: 1px solid #e38749;
	text-shadow:none;
}
.new-nav-2>.nav-tabs>li
{
	width: 33.33333333333333333% !important; 
}

	
#popover874017{
	margin-left: 50px !important;
}
.checkbox p{
	margin-top: 3px;
	color: #3c3c3c;
	font-size: 14px;
	
}
label{
	color: #3c3c3c ;
	
}
#buttons-bottom{
    margin-top: 0px 20px !important;
    float: right;
    padding: 15px 0px;
}
#buttons-bottom button{
    font-size: 15px !important;
    color: #fff !important;
    background-color: brown !important;
    border: 0px;
    border-radius: 5px;
    padding: 10px 10px;
}
.button-adress button{
    font-size: 12px !important;
    color: #fff !important;
    background-color:  brown !important;
    border: 0px;
    border-radius: 5px;
    padding: 8px 8px;
}
.button-cart button{
    font-size: 14px !important;
    color: #fff !important;
    background-color: #000 !important;
    border: 0px;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 15px 0px;
}
.border{
	border: 1px solid #ddd;
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
	background-color: #fff;
}
.button-list{
	margin: 0px auto;
}
.button-list h4 i{
	font-size: 18px;
}
.button-row{
	text-align: right!important;
}
.border i{
	font-size: 14px;
	margin: 0px;
}
.border th, .border td{
	color: #424242;
}
.signin-butn{
	margin-top: 10px;
	text-align: center !important
}
.signin-butn p{
	margin-top: 10px;
	text-align: center !important;
	color: #646464;
}
.sign-in small{
	
	margin-top:0px;
	color:firebrick;
}
.sign-in label{
	font-weight: 400;
	
}
.sign-in h3{
	font-weight: 400;
	color: #000;
	
}

.button-list button{
	padding: 10px 20px;
	border-radius: 5px;
	border: 0px;

	color: #fff;
	margin-top: 5px;
	
background: rgba(170,31,19,1);
background: -moz-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,31,19,1)), color-stop(10%, rgba(170,31,19,1)), color-stop(100%, rgba(99,4,4,1)));
background: -webkit-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: -o-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: -ms-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: linear-gradient(to bottom, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1f13', endColorstr='#630404', GradientType=0 );


}
.button-list button:hover{
	padding: 10px 20px;
	border-radius: 5px;
	border: 0px;
	color: #fff;
	margin-top:5px;
	
	-webkit-box-shadow: 2px 6px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 11px -6px rgba(0,0,0,0.75);
box-shadow: 2px 6px 11px -6px rgba(0,0,0,0.75);

	 transition-duration:.3s;
}
.signin-butn button{
	padding: 10px 20px;
	border-radius: 5px;
	border: 0px;
	background-color:firebrick;
	color: #fff;
	font-size: 12px;
	width: 80%;
	margin-top: 10px;
	
background: rgba(170,31,19,1);
background: -moz-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(170,31,19,1)), color-stop(10%, rgba(170,31,19,1)), color-stop(100%, rgba(99,4,4,1)));
background: -webkit-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: -o-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: -ms-linear-gradient(top, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
background: linear-gradient(to bottom, rgba(170,31,19,1) 0%, rgba(170,31,19,1) 10%, rgba(99,4,4,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa1f13', endColorstr='#630404', GradientType=0 );


}
.signin-butn button:hover{
	-webkit-box-shadow: 2px 6px 11px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 6px 11px -6px rgba(0,0,0,0.75);
box-shadow: 2px 6px 11px -6px rgba(0,0,0,0.75);

	 transition-duration:.3s;
	
}

.button-list h4, .button-list h4 i{
	color:#000;
}
.confirmation{
	color:#424242;
	line-height: 24px;
}
.confirmation span{
	font-weight: 600;
}
.mob-cart{
	display: none;
}


	/*<------------------------------------------------------------------------------------------------offering----------------------------------------------------------------------->*/

@media screen and (max-width: 1200px){
	/*.slider-pic{
		width:50% !important;
		float:left;
	
}
.slider-content{
	width:50%;
	float:left ;
}*/
}


@media screen and (max-width: 992px){
	.width-confirm
{
	width: auto !important;
}

    .adminmenu{
        color: #000000;
       width: 50% !important;
    }
	.mob-cart{
	display:block;
		position: fixed;
		bottom: 0px;
		margin: 20px;
		width: 50px;
		height: 50px;
		background-color:#e38749;
		color: #fff !important;
		z-index: 999999;
		text-align: center;
		padding: 15px 0px;
		border-radius: 50%;
		-webkit-box-shadow: -1px 2px 32px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 2px 32px -7px rgba(0,0,0,0.75);
box-shadow: -1px 2px 32px -7px rgba(0,0,0,0.75);
}
	.mob-cart i{
	
		color: #fff !important;
		font-size:18px;
}
	.my-booking{
		display: none;
	}
	.input-group, .daily{
		margin-bottom: 15px !important;
		
	}
	.special-tab li  {
	
	margin-left: 5px;
	width: 49% !important;
	
	
}
	.visitor-box{
		margin:0px auto;
	}
	.slider-pic{
    padding: 0px;
	max-height:inherit;
        height: inherit;
	}
	
	.slider-pic{
		width:100% !important;
		float:left;
	
}
	
.slider-content{
	width:100%;
	float:left ;
}
	.right-pad{
    padding-right: 15px !important;
}
.bottom-wrap{
    padding: 15px !important;
}
.notice-board{
	margin-top:15px;
}
.parikarma-class{
	margin-top:15px;
}
.specialpuja-class{
	margin-top:15px;
}
.next-straming-box{
	margin-top:15px;
}
.tenders{
	margin-top:15px;
}
.container{
	padding:0px !important;
}
.special-mar{
	margin-top:10px;
}
.visitors-center{
	margin-top:15px !important;
}
.special-puja-margin{
	 border-left: 0px solid #959595 !important;
    vertical-align: middle !important;
	text-align:center;
	margin-top:10px;
	line-height:20px;
	
}
.special-puja-margin-left{
	text-align:center;

}
}


@media screen and (max-width: 768px){
	.visitors-list td h4{
		font-size: 16px !important;
	}
	.visitors-list td{
    border: 0px !important;
}
.visitors-list td h4{
    margin: 0px;
    font-size: 16px !important;
}
.visitors-list td i{
    font-size: 18px !important;
}
  .logo h1
{
  color:#ec7c00;
  font-weight:400;
  font-size:18px;
}
#lightbox {
  margin-left: 20px !important;

}
	.special-tab li  {
	
	margin-left: 0px;
	width: 48% !important;
	
	
}
	.bg-overlay h1{
	font-size:4em;
	color:#FFF;
	font-weight:300;
	margin-top:3em;
}
}
@media screen and (max-width: 492px){
	.button-adress button{
		margin-top: 5px;
	}
	.border td, .border td, .border td i{
	color: #424242;
		font-size: 12px;
}
	.new-nav>.nav-tabs>li>a, .new-nav>.nav-tabs>li.active>a{
	color:#000;
	border: 1px solid #000;
	margin-left: 2px !important;
	padding: 0px;
	padding: 10px; 0px;
	border-radius: 5px;
	font-weight: 400;
		font-size: 12px;
}
	.new-nav-2>.nav-tabs>li>a, .new-nav-2>.nav-tabs>li.active>a{
	color:#000;
	border: 1px solid #000;
	margin-left: 2px !important;
	padding: 0px;
	padding: 10px; 0px;
	border-radius: 5px;
	font-weight: 400;
		font-size: 12px;
}
	
}


.ui-accordion .panel-group .panel-heading2 .panel-heading .panel-collapse
.panel-body{border-top:1px solid #e9e9e9}.ui-accordion
                                         .panel{border:1px solid #e9e9e9}.ui-accordion
                                                                         .panel-heading{padding:0;background-color:#f6f6f6}
.ui-accordion .panel-heading .panel-title>a{display:block;
    padding:15px;font-size:14px}
.ui-accordion .panel-heading .panel-title>a:hover{cursor:pointer;
    text-decoration:none}.ui-accordion-success .panel{border:1px solid #94b758}
.ui-accordion-success .panel-heading{background-color:#94b758;color:#fff}
.ui-accordion-info .panel{border:1px solid #56bdf1}
.ui-accordion-info .panel-heading{background-color:#56bdf1;    color:#fff}.
 ui-accordion-warning .panel{border:1px solid #f3c536}
.ui-accordion-warning .panel-heading{background-color:#f3c536;
    color:#fff}
.ui-accordion-danger .panel{border:1px solid #fa7b58}
.ui-accordion-danger .panel-heading{background-color:#fa7b58;color:#fff}
.ui-accordion-dark .panel{border:1px solid #242633}
.ui-accordion-dark .panel-heading{background-color:#242633;color:#fff}

.ui-accordion-MainPuja .panel{margin-top:10px;border:1px solid #e38749}
.ui-accordion-MainPuja .panel-heading{background-color:#e38749;!important; color:white}
.ui-accordion-MainPuja accordion-heading{
    background-color:#e38749; color:#e38749;

}
.ui-accordion-Puja .panel{border:0px solid #A3DBF7}
.ui-accordion-Puja .panel-heading{background-color:#A3DBF7;    color:#000}
.ui-accordion-Donation .panel{border:0px solid rgba(0, 0, 0, 0.61)
}
.ui-accordion-Donation .panel-heading{
    background-color: #e6f5fd;
    color: #000000;

}
.ui-accordion-MiniCart .panel{border:0px solid rgba(0, 0, 0, 0.24)
}
.ui-accordion-MiniCart .panel-heading{
    background-color: rgba(253, 249, 253, 0.43);
    color: rgba(0, 0, 0, 0.55);

}

.mini-text-tree{
    font-size: 15px;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 1%;
    padding-top: 2%;

    color: black;
}
.counter-float{
    float: right;
}
.mini-text-name{
    font-size: 15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 5%;
    color: black;
    /*border-bottom: 1px solid rgba(58, 0, 0, 0.21);*/
}
.counter-bg{
    margin-top: 3px;
    background-color: #e7edf1;
}
.mini-text-tree-donation{
    font-size: 15px;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 1%;
    /*padding-top: 3%;*/

    color: black;
}





.toast-title{font-weight:700}.toast-message{-ms-word-wrap:break-word;word-wrap:break-word}.toast-message a,.toast-message label{color:#fff}.toast-message a:hover{color:#ccc;text-decoration:none}.toast-close-button{position:relative;right:-.3em;top:-.3em;float:right;font-size:20px;font-weight:700;color:#fff;-webkit-text-shadow:0 1px 0 #fff;text-shadow:0 1px 0 #fff;opacity:.8;-ms-filter:alpha(Opacity=80);filter:alpha(opacity=80)}.toast-close-button:focus,.toast-close-button:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.4;-ms-filter:alpha(Opacity=40);filter:alpha(opacity=40)}button.toast-close-button{padding:0;cursor:pointer;background:0 0;border:0;-webkit-appearance:none}.toast-top-full-width{top:0;right:0;width:100%}.toast-bottom-full-width{bottom:0;right:0;width:100%}.toast-top-left{top:12px;left:12px}.toast-top-right{top:12px;right:12px}.toast-bottom-right{right:12px;bottom:12px}.toast-bottom-left{bottom:12px;left:12px}#toast-container{position:fixed;z-index:999999}#toast-container *{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}#toast-container>div{margin:0 0 6px;padding:15px 15px 15px 50px;width:300px;border-radius:4px;background-position:15px center;background-repeat:no-repeat;-moz-box-shadow:0 0 12px #999;-webkit-box-shadow:0 0 12px #999;box-shadow:0 0 12px #999;color:#fff;opacity:.8;-ms-filter:alpha(Opacity=80);filter:alpha(opacity=80)}#toast-container>:hover{-moz-box-shadow:0 0 12px #000;-webkit-box-shadow:0 0 12px #000;box-shadow:0 0 12px #000;opacity:1;-ms-filter:alpha(Opacity=100);filter:alpha(opacity=100);cursor:pointer}#toast-container>.toast-info{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=)!important}#toast-container>.toast-error{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=)!important}#toast-container>.toast-success{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==)!important}#toast-container>.toast-warning{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=)!important}#toast-container.toast-bottom-full-width>div,#toast-container.toast-top-full-width>div{width:96%;margin:auto}.toast{background-color:#333}.toast-success{background-color:#329d76}.toast-error{background-color:#d82b17}.toast-info{background-color:#2299b1}.toast-warning{background-color:#f9b82a}@media all and (max-width:240px){#toast-container>div{padding:8px 8px 8px 50px;width:11em}#toast-container .toast-close-button{right:-.2em;top:-.2em}}@media all and (min-width:241px) and (max-width:480px){#toast-container>div{padding:8px 8px 8px 50px;width:18em}#toast-container .toast-close-button{right:-.2em;top:-.2em}}@media all and (min-width:481px) and (max-width:768px){#toast-container>div{padding:15px 15px 15px 50px;width:25em}}.jqstooltip{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.tabcontrol,.wizard{display:block;width:100%;overflow:hidden}.tabcontrol a,.wizard a{outline:0}.tabcontrol ul,.wizard ul{list-style:none!important;padding:0;margin:0}.tabcontrol ul>li,.wizard ul>li{display:block;padding:0}.tabcontrol>.content>.title,.tabcontrol>.steps .current-info,.wizard>.content>.title,.wizard>.steps .current-info{position:absolute;left:-999em}.wizard>.steps{position:relative;display:block;width:100%}.wizard>.steps>ul>li{width:100%}@media (min-width:600px){.wizard>.steps>ul>li{width:25%}}.wizard.vertical>.steps{display:block;width:100%}@media (min-width:600px){.wizard.vertical>.steps{display:inline;float:left;width:30%}}.wizard.vertical>.steps>ul>li{float:none;width:100%}.wizard.vertical>.content{width:100%}@media (min-width:600px){.wizard.vertical>.content{display:inline;float:left;margin:0 2.5% .5em;width:65%}}.wizard>.steps .number{font-size:1.429em}.wizard>.actions>ul>li,.wizard>.steps>ul>li{float:left}.wizard>.steps a,.wizard>.steps a:active,.wizard>.steps a:hover{display:block;width:auto;margin:0 .5em .5em;padding:1em;text-decoration:none;border-radius:2em}.wizard>.steps .disabled a,.wizard>.steps .disabled a:active,.wizard>.steps .disabled a:hover{background:#eee;color:#aaa;cursor:default}.wizard>.steps .current a,.wizard>.steps .current a:active,.wizard>.steps .current a:hover{background:#248aaf;color:#fff;cursor:default}.wizard>.steps .done a,.wizard>.steps .done a:active,.wizard>.steps .done a:hover{background:#248aaf;color:#fff;opacity:.6}.wizard>.steps .error a,.wizard>.steps .error a:active,.wizard>.steps .error a:hover{background:#e9422e;color:#fff}.wizard>.content{background-color:#eee;display:block;margin:.5em;min-height:25em;overflow:hidden;position:relative;width:auto;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.wizard>.content>.body{float:left;position:absolute;width:95%;height:95%;padding:2.5%}.wizard>.content>.body ul{list-style:disc!important}.wizard>.content>.body ul>li{display:list-item}.wizard>.content>.body>iframe{border:0 none;width:100%;height:100%}.wizard>.content>.body input{display:block;border:1px solid #ccc}.wizard>.content>.body input[type=checkbox]{display:inline-block}
.templeThumbnail {
    height: 90px !important;
    width: 150px !important;
    max-height: 90px;
    max-width:150px;
}
.headerdiv
{
    background-color:#e38749;height: 35px;border: groove 1px orangered;border-radius: 5px;margin: 15px;width: 97%;
}
.headerdiv>h4
{
    color:#ffffff;font-size:15px;margin-top: 10px;padding-bottom:8px;margin-bottom: 10px;margin-left: 10px;
}
.selected{
    /*width: 50% !important;*/
    background-color: #e38749;
    color: #ffffff;
}
.adminmenu{
    color: #000000;
    /*color: #ffffff;*/
}

.mini-box
{
    min-height:120px;
    padding:25px;
}
.mini-box .box-icon
{
    display:block;
    float:left;
    margin:0 15px 10px 0;
    width:70px;
    height:70px;
    line-height:70px;
    vertical-align:middle;
    text-align:center;
    font-size:35px;
    border-radius:4px;
}
.mini-box .box-icon.rounded
{
    border-radius:50%;
}
.mini-box .box-info p
{
    margin:0;
}
.mini-box .more {
    clear: both;
    display: block;
    padding: 3px 0px 1px 21px;
    /*ViewMore*/
    /*text-transform: uppercase;*/
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    opacity: 0.7;



    filter: alpha(opacity=70);
}

.mini-box .more:hover {
    text-decoration: none;
    opacity: 1;
    filter: alpha(opacity=100);
}

.mini-box .more > i {
    display: inline-block;
    margin-top: 3px;
    float: right;
    margin-right: 4px;
}
/*dev color*/
/*.mini-box.dev1 {*/
/*background-color: #90966A;*/
/*}*/
.mini-box.dev1 .more {
    /*background-color: #00aa00;*/
    background-color: #94B758;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -26px;
    border-radius: 3px;
    margin-top: 25px;
}
.mini-box.dev2 .more {
    /*background-color: #00aa00;*/
    background-color: #56BDF1;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -26px;
    border-radius: 3px;
    margin-top: 25px;
}
.mini-box.dev3 .more {
    /*background-color: #00aa00;*/
    background-color: #F3C536;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -26px;
    border-radius: 3px;
    margin-top: 25px;
}
.mini-box.dev4 .more {
    /*background-color: #00aa00;*/
    background-color: #FA7B58;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -26px;
    border-radius: 3px;
    margin-top: 25px;
}
.mini-box.dev5 .more {
    /*background-color: #00aa00;*/
    background-color: #335397;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -26px;
    border-radius: 3px;
    margin-top: 25px;
}
.mini-box.dev6 .more {
    /*background-color: #00aa00;*/
    background-color: #00C7F7;
    margin-left: -26px;
    margin-right: -26px;
    margin-bottom: -26px;
    border-radius: 3px;
    margin-top: 25px;
}
.bg-twitter{background-color:#00c7f7;color:#fff
}

.bg-primary-light{background-color:#40dec8;color:#fff}
.bg-success{background-color:#94b758;color:#fff}
.bg-successlight{background-color:#94b758;color:#fff}
.bg-info{background-color:#56bdf1;color:#fff}
.bg-warning{background-color:#f3c536;color:#fff}
.bg-danger{background-color:#fa7b58;color:#fff}
.bg-orange{background-color:#ef9549;color:#fff}
.bg-violet{background-color:#7f6ec7;color:#fff}
.bg-dark{background-color:#242633;color:#fff}
.bg-bright{background-color:#fafafa;color:#767676}
.bg-reverse{background-color:#fff;color:#767676}
.bg-facebook{background-color:#335397;color:#fff}
.bg-twitter{background-color:#00c7f7;color:#fff}
.bg-google-plus{background-color:#df4a32;color:#fff}
