

.nopadding{
    padding: 0 !important;
    margin: 0 !important;
}
.imgpadding{
    padding: 1px !important;
    margin: 0 !important;
}

.len{
    width: 99.777778%;
}
/*tab color item wise*/
.tab_1_11DashBoard{
    background-color: #648894;
    border-radius: 4px;
    margin-right: 4px;
}
.tab_PujaList{
    background-color: #79778C;
    border-radius: 4px;
    margin-right: 4px;

}
.tab_AllReports{
    background-color: #6D7F43;
    margin-right: 4px;
    border-radius: 4px;

}
/*Settings Tab color*/
.tab_puja{
    background-color: #648894;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_donation{
    background-color: #7D9F7E;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_calendar{
    background-color: #7E6D8F;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_announcements{
    background-color: #975861;
    border-radius: 4px;
    margin-right: 4px;



}

.tab_history{
    background-color: #6aa99e;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_templesettings{
    background-color: #948764;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_approval{
    background-color: #4F85A7;
    border-radius: 4px;
    margin-right: 4px;
    /*border-right: 3px solid #DEEAF6;*/


}
.tab_statusUpdate{
    background-color: #B55C96;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_user{
    background-color: #206D98;
    border-radius: 4px;
    margin-right: 4px;


}
.tab_templecontact{
    background-color: #BAC055;
    border-radius: 4px;
    margin-right: 4px;


}

/***
Vertical inline menu
***/
.ver-inline-menu {
padding: 0;
margin: 0;
list-style: none;

}

.ver-inline-menu li {
position:relative;
margin-bottom:3px;
margin-left: 15px;

}
 .tabs{
    color: red;
 }

.ver-inline-menu li i {
width: 37px;
height: 37px;
display: inline-block;
/*fa icon color*/
color: #e1d6d8;
/*fa icon size*/
font-size:30px;
padding:12px 10px 10px 8px;
margin:0 8px 0 0;
text-align: center;

padding-top: 15px;
/*inactive icon color*/
background: #5B9Bd6 !important;
}
/*INACTIVECOLORsidebar*/
.ver-inline-menu li a {
font-size: 25px;
height: 88px;
padding-top: 20px;

color: #ffffff;
display:block;
/*inactive high*/
background: #5B9Bd5;
border-right:solid 5px #ffffff;
}
/*.pad{*/
/*border-right: red 3px solid;*/
/*}*/


/*HOVER COLOR*/
.ver-inline-menu li:hover a,
.ver-inline-menu li:hover i {
background:#8D6272;
text-decoration:none;
}
/*hover  inactive color side icon*/
.ver-inline-menu li:hover i {
color: #e1d6d8;
background:#8D6272 !important;

}

.ver-inline-menu li.active a,
.ver-inline-menu li:hover a {
font-size: 25px;
}

.ver-inline-menu li.active a {
border-right:solid 2px #DEEAf6;
/*active side gap*/
color: red;

}
/*---------------------------------------------------- */
/*side Tab Color clicked*/
.ver-inline-menu li.active a,
.ver-inline-menu li.active i {
/*font color*/
font-size: 30px;
color:#8D4272;
/*Sidebar tab color active*/
background:#DEEAf6;
text-decoration:none;

height: 88px;
/*text-align: center;*/
padding-top: 15px;
}
/*Side Bar square box color*/
.ver-inline-menu li.active i {
background: #DEEAf6 !important;
height: 71px;
padding-top: 22px;


}


/*-------------------------------------------------------------*/


/*-------------------------------------------------------*/

/***
Custom tabs
***/
.nav-tabs > li > a > .badge,
.nav-pills > li > a > .badge {
    margin-top: -3px;
}
/*tab icon size*/
.nav-tabs > li > a > div{
    font-size: 25px;
    padding-left: 30%;
}
.nav-tabs > li > a > label{
    font-size: 18px;
    width: 100%;
    text-align: center;
}

.nav-tabs > li > a > .Reports{
    font-size: 25px;
    padding-left: 30%;
}

.nav-tabs > li > a,
.nav-pills > li > a {
    font-size: 14px;
}

.nav-tabs-sm > li > a,
.nav-pills-sm > li > a {
    font-size: 13px;
}
/*Border for tab Content*/

/*.tabbable-custom { */
/*margin-bottom: 15px; */
/*padding: 0px;*/
/*overflow: hidden;*/
/*}*/
.tabbable-custom {
    margin-bottom: 15px;
    /*tabs margin*/
    margin-top:-0px;
    padding: 0px;
    overflow: hidden;
    border-left: 60px solid #DEEAf6;
    border-right: 60px solid #DEEAf6;
    border-top:20px solid #DEEAf6;
    border-bottom: 60px solid #DEEAf6;
    background-color: #DEEAf6;
}


/*Background color for content page in tab*/

/*.tabbable-custom > .nav-tabs { */
/*border: none; */
/*margin: 0px;*/

/*}*/

.tabbable-custom > .nav-tabs {
    border: none;
    margin: 0px;
    background-color: #DEEAf6;

}

/*TAB BACKGROUND COLOR */
/*-------------------------------E0E1D9-------------------------*/
.tabbable-custom > .tab-content {

    /*background-color: #E0E1D9;*/
    background-color: #FAB083;
    border-top: 1px solid transparent;


    /*border: 2px solid #FAB083;*/

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    padding: 10px;
}

.tabbable-custom.nav-justified .tab-content {
    margin-top: -1px;
}

.tabs-below.tabbable-custom.nav-justified .tab-content {
    margin-top: 0px;
    margin-bottom: -2px;
}

.tabbable-custom.boxless > .tab-content {
    padding:15px 0;
    border-left:none;
    border-right:none;
    border-bottom:none;
}
/*TAB INACTIVE COLOR*/
/*-----------------------------------------------------------*/

.tabbable-custom .nav-tabs > li {
    margin-right: 2px;
    /*border-top: 2px solid transparent;*/
    background-color: #cba6d2;
    width: 100px;
    /*haseeb*/
}
.tabbable-custom .nav-tabs > li.test {
    /*margin-right: 0px;*/
    /*border-top: 2px solid transparent;*/
    background-color: #cba6d2;
    width: 140px;
    /*haseeb*/
}
.tabtest{
    /*color: red;*/
    font-size: 2px;

}
.tabbable-custom .nav-tabs > li.Reports {
    margin-right: 2px;
    /*border-top: 2px solid transparent;*/
    background-color: #cba6d2;
    width: 170px;
    /*haseeb*/
}
.tabbable-custom .nav-tabs > li.Reports > div {
    text-align: center;
}


.tabbable-custom .nav-tabs > li > a {
    margin-right: 0;
    color: red;
}

.tabbable-custom .nav-tabs > li > a:hover {
    background: none;
    border-color:transparent;
}
/*TabBorderColor 8d7f0e*/
.tabbable-custom .nav-tabs > li.active {
    /*border-top: 3px solid #93948c;*/
    /*border-left: 1px solid #93948c;*/
    border-right: 2px solid #DEEAf6;
    margin-top: 0;
    position: relative;
    height: 86px;
    background-color: #FAB083;
    /*devaayanam tab active */
}
/*TAB COLOR */
/*-------------------------------E0E1D9----------------------------------------------------*/
.tabbable-custom .nav-tabs > li.active > a  {
    border-top: none;

    font-weight: 400;
    /*when clicked in the tab the text will seen Italics */
    font-style: italic;
    background-color: #FAB083;
}

/*.tabbable-custom .nav-tabs > li.active > a:hover { */
/*border-top: none; */
/*background: #fff;*/
/*border-color: #d4d4d4 #d4d4d4 transparent;*/

/*}*/

.tabbable-custom .nav-tabs > li {
    margin-right: 2px;
    /*border-top: 2px solid transparent;*/

    font-style: normal;

}

/* below tabs */

.tabs-below.tabbable-custom .nav-tabs > li > a {
    border-top: none;
    border-bottom: 2px solid transparent;
    margin-top: -1px;

}

.tabs-below.tabbable-custom .nav-tabs > li.active {
    border-top: none;
    border-bottom: 3px solid #d12610;
    margin-bottom: 0;
    position: relative;

}

.tabs-below.tabbable-custom .nav-tabs > li.active > a {
    border-bottom: none;

}

.tabs-below.tabbable-custom .nav-tabs > li.active > a:hover {
    background: #fff;
    border-color: #d4d4d4 #d4d4d4 transparent;
}

/*full width tabs with bigger titles */
.tabbable-custom.tabbable-full-width > .tab-content {
    padding:15px 0;
    border-left:none;
    border-right:none;
    border-bottom:none;

}

.tabbable-custom.tabbable-full-width .nav-tabs > li > a {
    /*tab text color*/
    color: #ffffff;
    font-size:15px;
    /*Tab BLOCK SIZE*/
    padding:9px 10px;

}

/*--------------------------------------------------------------------------------*/
.callout-info-fav
{
    background-color:#f4f8fa;
    border-color:#56bdf1;
    border-right: 3px solid #56bdf1;

}
.callout-info-fav h4
{
    text-align: center;
    font-size:24px ;
    color:#56bdf1;
}
.mouse-pointer {
    cursor: pointer;
}