/* BS3.0.3 removed tabbable class so its added back */
.tabbable:before,
.tabbable:after {
    display: table;
    content: " ";
}

.tabbable:after {
    clear: both;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: " ";
}

.tabbable:after {
    clear: both;
}

/***
Bootstrap modal
***/