<div data-ng-controller="Admin_TempleHistoryController">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="masterpuja">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">MASTER</div></a>
                <a href="Advertisements">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS</div></a>
                <a href="darshanam">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO</div></a>
                <a href="general">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL</div></a>
                <a href="onboard">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ONBOARD</div></a>

            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <accordion class="ui-accordion-MainPuja">
                    <accordion-group style="margin: 5px;" is-open="true">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD ADVERTISEMENTS</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box" data-ng-controller="Admin_TempleHistoryController" >
                            <form  class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Add Name"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Add Name"
                                                               ng-model="generaldata.addname"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                                <label style="margin-top: 5px" class="control-label col-md-4"><span data-i18n="Link"></span></label>
                                                <div  style="margin-top: 5px" class="col-md-8">
                                                    <input type="text" class="form-control"placeholder="ex: http://www.devaayanam.in"ng-model="generaldata.addlink">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-12"><span data-i18n="" style="float: left;"></span></label>
                                            </div>
                                        </div>
                                                <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="For Temple Site"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="file"
                                                               file-model="addimage">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="For Email "></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="file" file-model="addimageformail">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group" style="float: left">
                                                <label class="control-label col-md-4"><span data-i18n="Type"></span></label>
                                                <div class="col-md-8">
                                                    <select class="form-control input-medium" ng-model="generaldata.addtype" >
                                                        <option value="" data-i18n="Select Type"></option>
                                                        <option value="single" data-i18n="Single"></option>
                                                        <option value="column" data-i18n="FullColumn"></option>
                                                        <option value="row" data-i18n="FullRow"></option>
                                                        <option value="full" data-i18n="Full"></option>
                                                    </select>
                                                </div>
                                                <label style="margin-top: 5px;" class="control-label col-md-4"><span data-i18n="Expiry Date"></span></label>
                                                <div style="margin-top: 5px;" class="col-md-8">
                                                    <input class="form-control" type="date"ng-model="generaldata.addexpirydate">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-12"><span data-i18n="" style="float: left;"></span></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label ng-if="generaldata.addtype=='single'" class="control-label col-md-12"><span data-i18n="image size should be 683x250"style="float: left"></span></label>
                                                <label ng-if="generaldata.addtype=='column'" class="control-label col-md-12"><span data-i18n="image size should be 683x500"style="float: left"></span></label>
                                                <label ng-if="generaldata.addtype=='row'" class="control-label col-md-12"><span data-i18n="image size should be 1366x250"style="float: left"></span></label>
                                                <label ng-if="generaldata.addtype=='full'" class="control-label col-md-12"><span data-i18n="image size should be 1366x500"style="float: left"></span></label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label ng-if="generaldata.addtype=='single'" class="control-label col-md-12"><span data-i18n="image size should be 322x100"style="float: left"></span></label>
                                                <label ng-if="generaldata.addtype=='column'" class="control-label col-md-12"><span data-i18n="image size should be 322x200"style="float: left"></span></label>
                                                <label ng-if="generaldata.addtype=='row'" class="control-label col-md-12"><span data-i18n="image size should be 651x100"style="float: left"></span></label>
                                                <label ng-if="generaldata.addtype=='full'" class="control-label col-md-12"><span data-i18n="image size should be 651x200"style="float: left"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-1 col-md-10">
                                                    <button data-ng-click="generaltab('uploadaddimage');" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button data-ng-click="creategeneraldata();" class="btn btn-primary"><span data-i18n="Cancel"></span></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <hr>
                        <div class="row">
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADVERTISEMENTS LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body"style="border: 2px red">
                                        <div class="col-md-offset-7 col-md-5 ">

                                            <div class=" col-sm-10 form-group">
                                                <input type="text"
                                                       placeholder="search "
                                                       class="form-control"
                                                       data-ng-model="PujaSearchKeywords">
                                                <!--data-ng-keyup="PujaSearch()">-->
                                                <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                            </div>


                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th><span data-i18n="Name"></span></th>
                                                <th class="text-center"><span data-i18n="ExpiryDate"></span></th>
                                                <th class="text-center"><span data-i18n="Edit"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="adds in advertisements | filter:PujaSearchKeywords">

                                                <td>
                        <span>
                            {{adds.MessageHeader}}
                        </span>
                                                    <!--<span data-ng-show="puja.ShowControls">-->
                                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                                    <!--</span>-->
                                                </td>
                                                <td class="text-right">
                                                   <span ng-hide="editadd"> {{adds.EndDate | date}}</span>
                                                    <input data-ng-model="generaldata.addexpirydate" ng-show="editadd" type="date">
                                                </td>
                                                <td>
                                                      <span style="margin-left: 5px;"
                                                            ng-click="generaldata.selectedtemple=adds.TempleID;generaldata.selectedcontentid=adds.ContentID;generaltab('deleteadvertisements')"
                                                            popover-placement="bottom"
                                                            popover-trigger="mouseenter"
                                                            popover="click here to delete advertisement"
                                                            popover-append-to-body="true">
                                                          <a href="" class="btn btn-xs btn-info">
                                                              <i class="fa fa-trash-o"></i> <span data-i18n="Delete"></span>
                                                          </a>
                                                      </span>
                                                    <span style="margin-left: 5px;"
                                                          ng-hide="editadd"
                                                          ng-click="editadds()"
                                                          popover-placement="bottom"
                                                          popover-trigger="mouseenter"
                                                          popover="click here to edit expiry date"
                                                          popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Edit"></span>
                                                        </a>
                                                    </span>
                                                    <span style="margin-left: 5px;"
                                                          ng-show="editadd"
                                                          ng-click="generaldata.selectedtemple=adds.TempleID;generaldata.selectedcontentid=adds.ContentID;generaltab('updateadvertisements');"
                                                          popover-placement="bottom"
                                                          popover-trigger="mouseenter"
                                                          popover="click here save expiry date"
                                                          popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Save"></span>
                                                        </a>
                                                    </span>

                                                    <span style="margin-left: 5px;"
                                                          ng-show="editadd"
                                                          ng-click="editadds()"
                                                          popover-placement="bottom"
                                                          popover-trigger="mouseenter"
                                                          popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Cancel"></span>
                                                        </a>
                                                    </span>


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group></accordion>

                        </div>
                    </accordion-group>
                    <accordion-group style="margin: 5px;" >
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                 ASSIGN ADVERTISEMENTS </span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <!--ng-init="generaltab('loadadvertisementsassigned');generaltab('loadadvertisements');"-->
                        <div class="panel-box" ng-init="generaltab('loadtemples');">
                            <div  class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Temple Name"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               data-ng-blur="onchangetemplename(selectedtemple)"
                                                               ng-click="selectedtemple='';"
                                                               placeholder="Temple Name"
                                                               typeahead="options as options.TempleName for options in templelists"
                                                               ng-model="selectedtemple"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Descriptin"></span></label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="text"
                                                                data-ng-blur="onchangeaddname(selectedadd)"
                                                                ng-click="selectedadd='';"
                                                               placeholder="Add Name"
                                                               typeahead="options as options.MessageHeader for options in advertisements"
                                                               ng-model="selectedadd"
                                                               class="form-control"
                                                               required="">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button data-ng-click="generaltab('assignadvertisements');" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button  data-ng-click="creategeneraldata();"  class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <hr>
                        <div class="row">
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADVERTISEMENTS ALLOTEMENT LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body"style="border: 2px red">
                                        <div class="col-md-offset-7 col-md-5 ">

                                            <div class=" col-sm-10 form-group">
                                                <input type="text"
                                                       placeholder="search "
                                                       class="form-control"
                                                       data-ng-model="PujaSearchKeywords">
                                                <!--data-ng-keyup="PujaSearch()">-->
                                                <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                            </div>


                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th><span data-i18n="Temple Name"></span></th>
                                              <th><span data-i18n="Advertisement Name"></span></th>
                                                <th class="text-center"><span data-i18n="ExpiryDate"></span></th>
                                                <th class="text-center"><span data-i18n="Edit"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="adds1 in  advertisementsassigned | filter:PujaSearchKeywords">
                                                <td>
                                                    {{adds1.TempleName}}
                                                </td>
                                                <td>
                        <span>
                            {{adds1.MessageHeader}}
                        </span>
                                                    <!--<span data-ng-show="puja.ShowControls">-->
                                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                                    <!--</span>-->
                                                </td>
                                                <td class="text-right">
                                                    <span ng-hide="editadd"> {{adds1.EndDate | date}}</span>
                                                    <input ng-show="editadd" data-ng-model="generaldata.addexpirydate" type="date">
                                                </td>
                                                <td>
                                                    <span ng-hide="editadd"style="margin-left: 5px;"
                                                          data-ng-click="editadds()"
                                                          popover-placement="bottom"
                                                          popover-trigger="mouseenter"
                                                          popover="click here to edit expiry date"
                                                          popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Edit"></span>
                                                        </a>
                                                    </span>
                                                    <span ng-show="editadd" style="margin-left: 5px;"
                                                          data-ng-click="generaldata.selectedtemple=adds1.TempleID;generaldata.selectedcontentid=adds1.ContentID;generaltab('updateadvertisements')"
                                                          popover-placement="bottom"
                                                          popover-trigger="mouseenter"
                                                          popover="click here to edit expiry date"
                                                          popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Save"></span>
                                                        </a>
                                                    </span>
                                                    <span ng-show="editadd" style="margin-left: 5px;"
                                                          data-ng-click="editadds()"
                                                          popover-placement="bottom"
                                                          popover-trigger="mouseenter"
                                                          popover="click here to edit expiry date"
                                                          popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Cancel"></span>
                                                        </a>
                                                    </span>
                                                    <span
                                                            style="margin-left: 5px;"
                                                            ng-click="generaldata.selectedtemple=adds1.TempleID;generaldata.selectedcontentid=adds1.ContentID;generaltab('deleteadvertisements')"
                                                            popover-placement="bottom"
                                                            popover-trigger="mouseenter"
                                                            popover="click here to delete add"
                                                            popover-append-to-body="true">
                                                        <a href="" class="btn btn-xs btn-info">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="Delete"></span>
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group></accordion>

                        </div>
                            </div>
                    </accordion-group>
                </accordion>

            </div>

        </div>
    </div>
</div>

