<div data-ng-controller="admincontroller">
    <div class="col-md-2" ng-show="davaayanamadmin">
        <a href="allreports"> <div class="col-md-11 box selected">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box " data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-2" ng-hide="davaayanamadmin">
        <a href="https://registration.devaayanam.in/" > <div class="{{varClassRegistration}}">
            <i class="fa t"></i>
            <span data-i18n="Registration"></span>
        </div></a>
        <a href="allreports"> <div class="col-md-11 box selected">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box ">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box " data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div ng-show="davaayanamadmin" ng-init="devaayanamadmin()">
            <div class="col-lg-12"style="min-height: 40px;">
                <div class="row">
                    <!--<div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%; ">DASHBOARD</div>-->
                    <a href="allreports">  <div class=" col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:15%;" >FRANCHISEEBOARD</div></a>
                    <a href="settlement">   <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">SETTLEMENT</div></a>
                    <a href="dashboard">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">STATUS</div></a>
                    <a href="adminreports">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">REPORTS</div></a>
                    <a href="pujapackages">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">PUJA PACKAGES</div></a>

                </div>

                <div class="adminbox"style="width: 95%;min-height: 400px;"  data-ng-controller=" FranchiseeDashboardController">
                    <div class="row" style="margin: 10px;">
                        <div class="col-md-4">
                            <div class="btn-group">
                                <button type="button" class="btn btn-line-primary" data-ng-click="Showfranchiseereport('1',reportDates);" ng-model="reporttype"  btn-radio="1"  style="font-size: 12px"><span class="fa fa-home"> </span> Temple wise report</button>
                                <button type="button" class="btn btn-line-primary" data-ng-click="Showfranchiseereport('2',reportDates);"  ng-model="reporttype"  btn-radio="2"  style="font-size: 12px" ><span class="fa fa-calendar"> </span> Date wise report</button>
                            </div>
                        </div>
                        <div class="col-md-3"> <div class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.from"
                                   is-open="opened"
                                   min-date="minDate"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="btn btn-info btn-w-md"  ><span i18n="To"></span></div>


                        </div>
                        <div class="col-md-3">
                            <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="dd-MM-yyyy"
                                       ng-model="reportDates.to"
                                       is-open="opened"
                                       min-date="minDate"
                                       max-date="'2050-12-31'"
                                       ng-click="open($event)"
                                       datepicker-options="dateOptions"
                                       datepicker-append-to-body="true"
                                       ng-required="true"
                                       close-text="Close"
                                       readonly="true"
                                       show-weeks="false"
                                       show-button-bar="false"
                                       tabindex="3">
                                <!--date-disabled="disabled(date, mode)"-->
                                <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                            </div>
                        </div>
                        <div class="btn btn-info btn-w-md" ng-click="Showfranchiseereport(reporttype,reportDates)" ><span i18n="Show"></span></div>
                        <!--<button >show</button>-->
                        <div class="row">
                            <div class="col-md-12" ng-if="pujareport">
                                <div class="panel font_b ">
                                    <div class="panel-body" ng-repeat="(key,value) in pujareportgroup">
                                        <div class="row ">
                                            <div class="col-md-8 bg-franchiseboardListitem" >
                                                <div class="col-md-12 col-sm-6 col-xs-12 padding-top-18 " ng-switch="reporttype" style="padding-bottom: 15px">
                                                    <span style="font-style: oblique;font-size: 25px;color: #000000;" ng-switch-when="1"> {{key}} </span>
                                                    <span style="font-style: oblique;font-size: 25px;color: #000000;" ng-switch-when="2"> {{key|date:'fullDate'}} </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 bg-franchiseboardListitem" ng-switch="reporttype" >
                                                <div class="text-right col-md-12 col-sm-6 col-xs-12 padding-top-18 " style="padding-bottom: 10px">
                                                    <span class="fa fa-print envelope mouse-point" data-ng-click="printpujareport('print',value,key)" ng-switch-when="1"></span>&nbsp;&nbsp;&nbsp;
                                                    <span class="fa fa-file-text envelope iconcolor mouse-point" data-ng-click="printpujareport('pdf',value,key)" ng-switch-when="1"></span>&nbsp;&nbsp; &nbsp;
                                                    <span class="fa fa-file-excel-o envelope mouse-point" data-ng-click="printpujareport('excel',value,key)" ng-switch-when="1"></span>&nbsp;&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 10px; margin-bottom: 15px; padding-left: 10px; padding-right: 10px" ng-switch="reporttype">
                                            <div class="col-md-6 col-sm-6 col-xs-12 text-left " ng-switch-when="1">
                                                <span class="font_b text-normal"> {{value[0].PostOffice}}, {{value[0].District}},{{value[0].State}} </span><br>
                                                <span class="font_b text-normal"> {{value[0].Email}} </span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 text-right " ng-switch-when="1">
                                                <span class="font_b "> {{value[0].PhoneWired}} </span> <br>
                                                <span class="font_b "> {{value[0].PhoneMobile}} </span>
                                            </div>
                                        </div>

                                        <table class="table  table-advance"  >
                                            <thead>
                                            <tr ng-switch="reporttype">
                                                <th ng-switch-when="1" class="text-left"><i class="fa fa-calendar"></i>  <span i18n="Puja date"></span></th>
                                                <th ng-switch-when="2" class="text-left"><i class="fa fa-calendar"></i>  <span i18n="temple"></span></th>
                                                <th class="text-left"><i class="fa fa-fire "></i><span i18n="Puja"></span></th>
                                                <th class="text-left"><i class="fa fa-leaf "></i><span i18n="Benficiary"></span></th>
                                                <th class="text-right">
                                                    <!--<i class="fa fa-sort-numeric-asc "></i> -->
                                                    <!--<span i18n="count"></span>-->
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody  data-ng-repeat="puja in value">
                                            <tr ng-switch="reporttype">
                                                <td ng-switch-when="1" class="text-left">{{puja.PujaDate |date:'longDate'}}</td>
                                                <td ng-switch-when="2" class="text-left">{{puja.TempleName}}</td>
                                                <td class="text-left">{{puja.PujaName}}</td>
                                                <td class="text-left">{{puja.DevoteeName}}</td>

                                                <td  ng-switch-when="1" class="text-right">  <button ng-show="puja.PujaDate.substring(0,10)==currentdate||puja.PujaDate.substring(0,10)==previousdate" data-ng-click="sendsms(puja,1);" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                                    <span ng-show="puja.smscount==0"style="color: #ffffff;font-size: 13px;">{{puja.smsstatus}}</span>
                                                    <span  ng-show="puja.smscount>0"style="color: #ffffff;font-size: 13px;">{{puja.smsresendstatus}}</span>
                                                </button>
                                                </td>
                                                <td  ng-switch-when="2" class="text-right">  <button ng-show="puja.PujaDate.substring(0,10)==currentdate||puja.PujaDate.substring(0,10)==previousdate" data-ng-click="sendsms(puja,2);" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                                    <span ng-show="puja.smscount==0"style="color: #ffffff;font-size: 13px;">{{puja.smsstatus}}</span>
                                                    <span  ng-show="puja.smscount>0"style="color: #ffffff;font-size: 13px;">{{puja.smsresendstatus}}</span>
                                                </button>
                                                </td>
                                                <td ng-switch-when="2"ng-show="puja.Quantity>'1'" class="text-left">Qty:{{puja.Quantity}}</td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
























        <div class="adminbox"style="width: 95%;min-height: 400px;" ng-hide="davaayanamadmin">

            <!--<a href="app.apk"target="_self"download="appname.apk">Download app</a>-->

            <accordion class="ui-accordion-MainPuja">
                <accordion-group style="margin: 5px;" is-open="true">
                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Puja
                            </span></div>
                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                    </accordion-heading>

                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5"> <div data-ng-controller="DatepickerController" class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.from"
                                   is-open="opened"
                                   min="minDate"
                                   max="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="btn btn-info btn-w-md"style="margin-bottom: 10px;"><span i18n="To"></span></div>


                        </div>
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.to"
                                   is-open="opened"
                                   min-date="'reportDates.from'"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="" >
                                <button class="btn btn-info btn-w-md" ng-click="getPujaReport(reportDates,1)" ><span i18n="Go"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class style="background-color: #f1fcff;margin-top: 50px;">
                        <div class="row" ng-show="PujaReport"    id="allpujareport" style="margin-top: 10px;">
                            <div class="table-responsive" style="padding: 10px; min-height: 200px;"   id="allpujareportPDF">
                                <table class="table table-hover table-advance"  >
                                    <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-calendar"></i>  <span i18n="Puja Date"></span>
                                        </th>
                                        <th>
                                            <i class="fa fa-leaf"></i> <span i18n="Diety"></span>
                                        </th>
                                        <th>
                                            <i class="fa fa-fire"></i>  <span i18n="Puja"></span>

                                        </th>
                                        <th>
                                            <i class="fa fa-user"></i>  <span i18n="Devotee"></span>
                                        </th>
                                        <th>
                                            <i class="fa fa-star"></i> <span i18n="Star"></span>
                                        </th>
                                        <th>
                                            <i class="fa fa-star"></i> <span i18n="Qty"></span>
                                        </th>
                                        <th>
                                            <i class="fa fa-truck"></i> <span i18n="Shipping"></span>
                                        </th>
                                        <th>
                                            <i class="fa fa-truck"></i> <span i18n="Payment Ref No"></span>
                                        </th>
                                        <th>
                                            <i class=" fa fa-tasks"></i> <span i18n="Status"></span>
                                        </th>
                                    </tr>
                                    </thead>

                                    <tbody  data-ng-repeat="puja in PujaReport">
                                    <tr>
                                        <td>
                                            {{puja.PujaDate|date:'longDate'}}
                                        </td>
                                        <td>
                                            {{puja.DeityName}}
                                        </td>
                                        <td>
                                            {{puja.PujaName}}
                                        </td>
                                        <td>
                                            {{puja.DevoteeName}}
                                        </td>
                                        <td>
                                            {{puja.StarName}}
                                        </td>
                                        <td>
                                            {{puja.Quantity}}
                                        </td>
                                        <td>
                                            {{shippingOptions[puja.ShippingID]}}
                                        </td>
                                        <td>
                                            {{puja.TrackingNo}}
                                        </td>
                                        <td>
                                            {{puja.StatusDesc|lowercase|capitalize}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" style="margin-left: 20px;">
                                <table class="table table-hover table-advance table-bordered">
                                    <thead>
                                    <!--<div class="fa fa-envelope envelope iconyellow"></div>&nbsp;&nbsp;-->
                                    <button data-ng-click="exportPDF('print','puja');" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                        <span style="color: #ffffff;font-size: 15px;">Print</span>
                                    </button>
                                    <button data-ng-click="exportPDF('pdf','puja')" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download</span>
                                    </button>
                                    <!--<div class="fa fa-print envelope" data-ng-click="exportPDF('print','puja')">Print</div>&nbsp;&nbsp;&nbsp;-->
                                    <!--<div class="fa fa-file-text envelope iconcolor" data-ng-click="exportPDF('pdf','puja')"></div>&nbsp;&nbsp; &nbsp;-->
                                    <!--<div class="fa fa-file-excel-o envelope" data-ng-click="exportPDF('excel','puja')">p</div>&nbsp;&nbsp;&nbsp;-->
                                    <!--<div class="fa fa-file-word-o envelope" data-ng-click="exportPDF('word','puja')">p</div>&nbsp;&nbsp;&nbsp;-->
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </accordion-group></accordion>
            <accordion class="ui-accordion-MainPuja">
                <accordion-group style="margin: 5px;">
                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Booking</span></div>
                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                    </accordion-heading>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5"> <div class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.from"
                                   is-open="opened"
                                   min-date="minDate"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="btn btn-info btn-w-md"  style="margin-bottom: 10px"><span i18n="To"></span></div>

                        </div>
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.to"
                                   is-open="opened"
                                   min-date="'reportDates.from'"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="" >
                                <button class="btn btn-info btn-w-md" ng-click="getBookingReport(reportDates,1)"  ><span i18n="Go"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class style="background-color: #f1fcff;margin-top: 50px;">
                        <div ng-show="BookingReport"    id="allbookingreport">
                            <div class="table-responsive" style="padding: 10px; min-height: 200px;" id="allbookingreportPDF">
                                <table class="table table-hover table-advance"  >
                                    <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-calendar"></i>  <span i18n="Booking Date"></span>
                                        </th>
                                        <th>
                                            <span i18n="Receipt"></span>
                                        </th>
                                        <th>
                                            <span i18n="TrackingNo"></span>
                                        </th>
                                        <th>
                                            <span i18n="Customer"></span>
                                        </th>
                                        <th>
                                            <span i18n="Address"></span>
                                        </th>
                                        <th>
                                            <span i18n="Amount"></span>
                                        </th>
                                        <th>
                                            <span i18n="Status"></span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody  data-ng-repeat="booking in BookingReport">
                                    <tr  data-ng-click="isCollapsed=!isCollapsed" class="mouse-pointer">
                                        <td>
                                            {{booking.BookingDate|date:'longDate'}}
                                        </td>
                                        <td>
                                            {{booking.ReceiptNo}}
                                        </td>
                                        <td>
                                            {{booking.TrackingNo}}
                                        </td>
                                        <td>
                                            {{booking.FirstName}} {{booking.LastName}}
                                        </td>
                                        <td style="max-width: 250px; overflow-wrap: break-word;">
                                            {{booking.HouseName}}<br>
                                            {{booking.District}}, {{booking.State}} {{booking.PostalCode}}. <br>
                                            contact: {{booking.PhoneMobile}}
                                        </td>
                                        <td>
                                            {{booking.BillAmount}}
                                        </td>
                                        <td>
                                            {{booking.StatusDesc}}
                                        </td>
                                    </tr>
                                    <tr ng-show="!isCollapsed">
                                        <td colspan="7">
                                            <table  class="table table-hover table-advance">
                                                <thead>
                                                <tr>
                                                    <th>
                                                        <span i18n="Type"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Puja Date"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Puja"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Deity"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Devotee"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Star"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Qty"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Rate"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Amount"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Postage"></span>
                                                    </th>
                                                    <th>
                                                        <span i18n="Status"></span>
                                                    </th>
                                                </tr>
                                                </thead>
                                                <!--<tbody  data-ng-repeat="details in booking.bookingdetails">-->
                                                <tr data-ng-repeat="details in booking.bookingdetails">
                                                    <td>
                                                        {{details.servicetype}}
                                                    </td>
                                                    <td>
                                                        {{details.servicedate|date:'longDate'}}
                                                    </td>
                                                    <td>
                                                        {{details.servicename}}
                                                    </td>

                                                    <td>
                                                        {{details.dietyname}}
                                                    </td>
                                                    <td>
                                                        {{details.devoteename}}
                                                    </td>
                                                    <td>
                                                        {{details.devoteestar}}
                                                    </td>
                                                    <td>
                                                        {{details.serviveqty}}
                                                    </td>
                                                    <td>
                                                        {{details.servicerate}}
                                                    </td>
                                                    <td>
                                                        <!--{{details.BillAmount}}-->
                                                        {{details.serviveqty * details.servicerate}}
                                                    </td>
                                                    <td>
                                                        {{details.postage}}
                                                    </td>
                                                    <td>
                                                        {{details.servicestatus}}
                                                    </td>
                                                </tr>
                                                <!--</tbody>-->
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" >
                                <table class="table table-hover table-advance table-bordered">
                                    <thead>
                                    <button data-ng-click="exportPDF('print','booking');" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                        <span style="color: #ffffff;font-size: 15px;">Print</span>
                                    </button>
                                    <button data-ng-click="exportPDF('pdf','booking')" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download</span>
                                    </button>
                                    &nbsp;&nbsp;
                                    <!-- button data-ng-click="exportPDF('excel','booking')" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download CSV</span>
                                    </button -->
                                    <button data-ng-click="/var/www/production/admin/xlreports/DvnmBusiness_2020-01-01_to_2020-01-31_53.xlsx" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download CSV</span>
                                    </button>

                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>


                </accordion-group></accordion>
            <accordion class="ui-accordion-MainPuja">
                <accordion-group style="margin: 5px;" >
                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Shipment</span></div>
                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                    </accordion-heading>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.from"
                                   is-open="opened"
                                   min-date="minDate"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="btn btn-info btn-w-md" style="margin-bottom: 10px"><span i18n="To"></span></div>

                        </div>
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.to"
                                   is-open="opened"
                                   min-date="'reportDates.from'"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div></div>
                        <div class="col-md-1" >
                            <div class="" >
                                <button class="btn btn-info btn-w-md" ng-click="getPostalAddressReport(reportDates,1)"  ><span i18n="Go"></span></button>
                            </div>
                        </div>

                    </div>

                    <div class style="background-color: #f1fcff;margin-top: 50px;">
                        <div class="row" ng-show="PostalAddressReport" id="allpostalreport">
                            <div class="table table-responsive" style="padding: 10px; min-height: 200px;" id="allpostalreportPDF">
                                <table class="table table-hover table-advance">
                                    <thead>
                                    <tr>
                                        <th>Tracking No</th>
                                        <th>Customer</th>
                                        <th>Pooja</th>
                                        <th>Pooja Date</th>
                                        <th>Address</th>
                                        <th>Contact</th>
                                        <th>Shipping</th>										
                                        <th>Status</th>										
                                        <th>Update</th>																				
                                    </tr>
                                    </thead>
                                    <tbody  ng-show="PostalAddressReport">
                                    <tr ng-repeat="puja in PostalAddressReport">
                                        <td>{{puja.TrackingNo}}</td>
                                        <td>{{puja.FirstName}} {{puja.LasttName}}</td>
                                        <td>{{puja.PujaName}}</td>
                                        <td>{{puja.PujaDate|date:'mediumDate'}}</td>
                                        <td>{{puja.HouseName}},
                                            <p>{{puja.District}}</p>
                                            <p>{{puja.State}}. PIN: {{puja.PostalCode}}</p>
                                        </td>
                                        <td>{{puja.PhoneMobile}}, {{puja.PhoneWired}}</td>
                                        <td>
                                            {{shippingOptions[puja.ShippingID]}}
                                        </td>
										<td ng-show="puja.PujaStatus!=7">
											<div ng-disabled="puja.PujaStatus==7">
												<select class="form-control" ng-model="puja.UpdateStatus" style="width: 160px; padding: 0px;">
													<option value="99" selected data-i18n="Select new status"></option>
													<option value="7" data-i18n="Complete"></option>
													<option value="0" data-i18n="Pending"></option>
												</select>
											</div>
										</td>										
										<td ng-show="puja.PujaStatus==7">
                                            <span>Complete</span>
										</td>										
										<td>
											<button ng-click="PostalAction(puja,'')" ng-disabled="puja.PujaStatus==7" class="btn btn-info">Update</button>
										</td>										
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive" >
                                <table class="table table-hover table-advance table-bordered">
                                    <thead>
                                    <button data-ng-click="exportPDF('print','shipping');" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                        <span style="color: #ffffff;font-size: 15px;">Print</span>
                                    </button>
                                    <button data-ng-click="exportPDF('pdf','shipping')" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download</span>
                                    </button>                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>


                </accordion-group></accordion>
            <accordion class="ui-accordion-MainPuja">
                <accordion-group style="margin: 5px;">
                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Payment</span></div>
                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                    </accordion-heading>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.from"
                                   is-open="opened"
                                   min-date="minDate"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="btn btn-info btn-w-md" style="margin-bottom: 10px" ><span i18n="To"></span></div>

                        </div>
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.to"
                                   is-open="opened"
                                   min-date="'reportDates.from'"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="" >
                                <button class="btn btn-info btn-w-md" ng-click="getPaymentReport(reportDates,1)"  ><span i18n="Go"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class style="background-color: #f1fcff;margin-top: 50px;">
                        <div ng-show="showPaymentReport">
                            <div class="table-responsive">
                                <table class="table table-hover table-advance">
                                    <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-calendar"></i> Booking Date
                                        </th>
                                        <th>
                                            Customer
                                        </th>
                                        <th>
                                            <i class="fa fa-rupee"></i>  Amount
                                        </th>
                                        <th style="width: 120px;">
                                            <i class="fa fa-rupee"></i>  Dvnm Subscr Charge
                                        </th>																				
                                        <th>
                                            Payment Ref No
                                        </th>
                                        <th>
                                            Bank Reference
                                        </th>
                                        <th>
                                           <i class="fa fa-calendar"></i> Settled Date
                                        </th>										
                                    </tr>
                                    </thead>
                                    <tbody  ng-show="showPaymentReport">
                                    <tr ng-repeat="puja in pujaPaymentReport">
                                        <td>{{puja.BookingDate|date:'mediumDate'}}</td>
                                        <td>{{puja.FirstName}} {{puja.LastName}}</td>
                                        <td>{{puja.BillAmount}}</td>
                                        <td>{{puja.DvnmSubscriptionAmount}}</td>																				
                                        <td>{{puja.TrackingNo}}</td>
                                        <td>{{puja.SettlementReferenceId}}</td>
                                        <td>{{puja.SettledOn|date:'mediumDate'}}</td>										
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-advance table-bordered">
                                    <thead>
                                    <button data-ng-click="exportPDF('print','payment');" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                        <span style="color: #ffffff;font-size: 15px;">Print</span>
                                    </button>
                                    <button data-ng-click="exportPDF('pdf','payment')" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download</span>
                                    </button>                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>


                </accordion-group></accordion>
            <accordion class="ui-accordion-MainPuja">
                <accordion-group style="margin: 5px;">
                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Donation</span></div>
                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                    </accordion-heading>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.from"
                                   is-open="opened"
                                   min-date="minDate"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="btn btn-info btn-w-md" style="margin-bottom: 10px" ><span i18n="To"></span></div>

                        </div>
                        <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="dd-MM-yyyy"
                                   ng-model="reportDates.to"
                                   is-open="opened"
                                   min-date="'reportDates.from'"
                                   max-date="'2050-12-31'"
                                   ng-click="open($event)"
                                   datepicker-options="dateOptions"
                                   datepicker-append-to-body="true"
                                   ng-required="true"
                                   close-text="Close"
                                   readonly="true"
                                   show-weeks="false"
                                   show-button-bar="false"
                                   tabindex="3">
                            <!--date-disabled="disabled(date, mode)"-->
                            <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                        </div>
                        </div>
                        <div class="col-md-1" >
                            <div class="" >
                                <button class="btn btn-info btn-w-md" ng-click="getDonationReport(reportDates,1)"  ><span i18n="Go"></span></button>
                            </div>
                        </div>
                    </div>

                    <div class style="background-color: #f1fcff;margin-top: 50px;">
                        <div class="row" ng-show="DonationReport">

                            <div class="table-responsive" style="padding: 10px; min-height: 200px;">

                                <table class="table table-hover table-advance">
                                    <thead>
                                    <tr>
                                        <th>
                                            <i class="fa fa-leaf"></i>  <span i18n="Category"></span>
                                        </th>

                                        <th>
                                            <i class="fa fa-user"></i> <span i18n="Devotee"></span>
                                        </th>

                                        <th>
                                            <i class="fa fa-inr"></i> <span i18n="Amount"></span>
                                        </th>

                                        <th>
                                            <i class="fa fa-calendar-o"></i> <span i18n="Date"></span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody data-ng-repeat="item in DonationReport">
                                    <tr data-ng-click="item.openDetail = !item.openDetail">
                                        <td>
                                            <a href="" data-ng-click="item.openDetail = !item.openDetail">
                                                <span ng-hide="item.toggle" class="fa fa-plus-square-o" > </span>
                                                <span ng-show="item.toggle" class="fa fa-minus-square-o"> </span>
                                            </a>
                                            {{item.DonationName}}
                                        </td>
                                        <td>
                                            {{item.Devotee}}
                                        </td>
                                        <td>
                                            {{item.Amount}}
                                        </td>
                                        <td>
                                            {{item.DonationDate |date:'longDate'}}
                                        </td>

                                    </tr>
                                    <tr ng-show="item.openDetail" >
                                        <td>

                                        </td>
                                        <td>
                                            <p>
                                            <p  class="text-small text-muted"> <span i18n="Customer"></span> </p>
                                            <p class="">  {{item.FirstName |lowercase|capitalize}} {{item.LastName |lowercase|capitalize}}</p>
                                            </p>
                                        </td>
                                        <td>
                                            <span i18n="Address"></span><br>
                                            <p class="text-small text-muted"> {{item.HouseName |lowercase|capitalize}} {{item.StreetName |lowercase|capitalize}} ,{{item.PostOffice |lowercase|capitalize}}</p>
                                            <p class="text-small text-muted"> {{item.District |lowercase|capitalize}}, {{item.State |lowercase|capitalize}} ,Pin {{item.PostalCode |lowercase|capitalize}}</p>
                                            <p class="text-small text-muted"><span ng-show="item.CustomerEmail"> <span i18n="Email"></span>: {{item.CustomerEmail |lowercase|capitalize}} , </span>
                                                <span ng-show="item.PhoneMobile"><span i18n="Phone"></span>: {{item.PhoneMobile |lowercase|capitalize}}</span>
                                            </p>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-advance table-bordered">
                                    <thead>
                                    <button data-ng-click="exportPDF('print','donation');" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;margin-right: 3px;">
                                        <span style="color: #ffffff;font-size: 15px;">Print</span>
                                    </button>
                                    <button data-ng-click="exportPDF('pdf','donation')" style="border-radius: 10px;border:none;background-color: orange;padding: 5px;">
                                        <span style="color: #ffffff;font-size: 15px;">Download</span>
                                    </button>                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>

                </accordion-group>

            </accordion>
        </div>
    </div>


</div>
<script type="text/ng-template" id="mailpreview.html"style="width:100%;background-color:green">
    <div ng-bind-html="maildata" style="width:100%;"></div>
</script>



