<div>
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box selected">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box ">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row">
                <div class="col-md-1 box adminmenu selected" style="margin-top: 5px;margin-right: 5px;width:11%; "ng-click="showpage('approval')">APPROVAL</div>
                <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:14%;" ng-click="showpage('statusupdate')">STATUS UPDATE</div>
                <div class="col-md-1 box adminmenu  " style="margin-top: 5px;margin-right: 5px;width:14%; "ng-click="showpage('reviews')">CHECK REVIEWS</div>
                <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:16%;" ng-click="showpage('sendmail')">SEND NOTIFICATION</div>
            </div>


            <div class="adminbox"style="width: 95%;min-height: 400px;"ng-controller="Admin_TaskController">
                <div  >
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                      APPROVAL LIST</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="col-md-5"> <div class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd-MM-yyyy"
                                           ng-model="reportDates.from"
                                           is-open="opened"
                                           min-date="minDate"
                                           max-date="'2050-12-31'"
                                           ng-click="open($event)"
                                           datepicker-options="dateOptions"
                                           datepicker-append-to-body="true"
                                           ng-required="true"
                                           close-text="Close"
                                           readonly="true"
                                           show-weeks="false"
                                           show-button-bar="false"
                                           tabindex="3">
                                    <!--date-disabled="disabled(date, mode)"-->
                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                </div>
                                </div>
                                <div class="col-md-1" >
                                    <div class="btn btn-info btn-w-md"  ><span i18n="To"></span></div>


                                </div>
                                <div class="col-md-5"> <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd-MM-yyyy"
                                           ng-model="reportDates.to"
                                           is-open="opened"
                                           min-date="'reportDates.from'"
                                           max-date="'2050-12-31'"
                                           ng-click="open($event)"
                                           datepicker-options="dateOptions"
                                           datepicker-append-to-body="true"
                                           ng-required="true"
                                           close-text="Close"
                                           readonly="true"
                                           show-weeks="false"
                                           show-button-bar="false"
                                           tabindex="3">
                                    <!--date-disabled="disabled(date, mode)"-->
                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                </div>
                                </div>
                            </div>
                            <div class="col-md-1" >
                                <div class="" >
                                    <button class="btn btn-info btn-w-md" ng-click="loadApprovalPuja(reportDates)" ><span i18n="Go"></span></button>
                                </div>
                            </div>
                            <div class="col-md-12"style="margin:10px;border-bottom: groove 1px orangered"></div>
                            <div class="row" >
                                <div class="table-responsive" style="padding: 10px; min-height: 200px;">
                                    <table class="table table-hover table-advance">
                                        <thead>
                                        <tr>
                                            <th>
                                                <span i18n="Devotee"></span>
                                            </th>
                                            <th>
                                                <span i18n="Puja Date"></span>
                                            </th>
                                            <th>
                                                <span i18n="Puja"></span>
                                            </th>
                                            <th>
                                                <span i18n="Rate"></span>
                                            </th>
                                            <th>
                                                <span i18n="Action"></span>
                                            </th>
                                            <th>
                                                <span i18n="Comments"></span>
                                            </th>
                                            <th>
                                                <span i18n="Update"></span>
                                            </th>
                                            <th>
                                                <span i18n="Status"></span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr data-ng-repeat="puja in PujaApprovalList | filter:{'TrackingNo': order.TrackingNo }">


                                            <td>
                                                {{puja.DevoteeName}}
                                            </td>
                                            <td>
                                                {{puja.PujaDate|date:'mediumDate'}}
                                            </td>
                                            <td>
                                                {{puja.PujaName}}
                                            </td>
                                            <td>
                                                {{puja.Rate}}
                                            </td>
                                            <td>
                                                <!--<div class="btn-group btn-group-xs ">-->
                                                    <!--<button type="button" class="btn btn-line-primary " data-ng-model="puja.ApprovalStatus" btn-radio="'1'" >-->
                                                        <!--<span class="text-small"> <span i18n="Approved"></span></span>-->
                                                    <!--</button>-->
                                                    <!--<button type="button" class="btn btn-line-primary" data-ng-model="puja.ApprovalStatus" btn-radio="'0'">-->
                                                        <!--<span class="text-small"> <span i18n="Not Approved"></span></span>-->
                                                    <!--</button>-->
                                                <!--</div>-->
                                                <div >
                                                    <select class="form-control" data-ng-model="puja.ApprovalStatus ">
                                                        <option value="3" selected data-i18n="Select new status"></option>
                                                        <option value="1" data-i18n="APPROVE"></option>
                                                        <option value="0" data-i18n="CANCEL"></option>
                                                        <!-- <option value="4" data-i18n="DELETE"></option> DV-154 SMS on approval action-->
                                                        <!--<option value="2" data-i18n="NEW"></option>-->
                                                    </select>
                                                </div>

                                            </td>
                                            <td>
                                                <textarea placeholder="Type Message" data-ng-model="ApprovalMessage" required style="height: 32px;" class="form-control"></textarea>
                                            </td>
                                            <td>
                                                <button type="submit" data-ng-click="ApprovalAction(puja, ApprovalMessage)" class="btn btn-info">Update</button>
                                            </td>
                                            <td>
                                                <span ng-if="puja.Status==2">NEW</span>
                                                <span ng-if="puja.Status==1">APPROVED</span>
                                                <span ng-if="puja.Status==0">CANCELLED</span>
                                            </td>
                                        </tr>
                                        <!--<tr>-->
                                        <!--<td></td>-->
                                        <!--<td colspan="3">-->
                                        <!--<textarea class="form-control" placeholder="Enter message here " data-ng-model="ApprovalMessage"></textarea>-->
                                        <!--</td>-->
                                        <!--<td>-->
                                        <!--<button type="submit" data-ng-click="ApprovalAction(order,PujaApprovalList, ApprovalMessage)" class="btn btn-info">Update</button>-->
                                        <!--</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="portlet-body" >
                                <div class="row">
                                    <div class="table-responsive" style="padding: 10px; min-height: 200px;">
                                        <div class="callout callout-info" data-ng-hide="NoPujaApprovalListTextHide">
                                            <p>{{NoPujaApprovalListText}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </accordion-group>
                    </accordion>
                </div>


            </div>


        </div>
    </div>

</div>
