<div data-ng-controller="admincontroller"ng-init="loaddashboard()">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box selected">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box " data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
















    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row">
                <!--<div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%; ">DASHBOARD</div>-->
                <a href="allreports">  <div class=" col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;" >FRANCHISEEBOARD</div></a>
                <a href="settlement">   <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">SETTLEMENT</div></a>
                <a href="dashboard">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:15%;">STATUS</div></a>
                <a href="adminreports">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;">REPORTS</div></a>
                <a href="pujapackages">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">PUJA PACKAGES</div></a>

            </div>

            <div class="adminbox"style="width: 95%;min-height: 400px;">
                <div>
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  DASHBOARD</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>

                            <div class="row">
                                <div class="col-md-6">
                                    <div style="margin: 15px;min-height: 120px;"class="box">
                                        <div class="col-md-4"style="background-color: #ec7c00;height:70px;border-radius: 20px;padding-top: 22px; ">
                                            <span style="font-size: 23px;"> Users</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6"style="padding-top: 22px;">
                                            <span style="font-size: 27px;"> {{dashboarddata[0][0].customers}}</span>

                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;border-radius:5px;background-color: #0000FF;min-height: 2px;"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin: 15px;min-height: 120px;"class="box">
                                        <div class="col-md-4"style="background-color: #ec7c00;height:70px;border-radius: 20px;padding-top: 22px; ">
                                            <span style="font-size: 23px;"> Booking</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6"style="padding-top: 22px;">
                                            <span style="font-size: 27px;"> {{dashboarddata[1][0].bookings}}</span>

                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;border-radius:5px;background-color: #0000FF;min-height: 2px;"> </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div style="margin: 15px;min-height: 120px;"class="box">
                                        <div class="col-md-4"style="background-color: #ec7c00;height:70px;border-radius: 20px;padding-top: 22px; ">
                                            <span style="font-size: 23px;"> Puja</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6"style="padding-top: 22px;">
                                            <span style="font-size: 27px;"> {{dashboarddata[2][0].pujas}}</span>

                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;border-radius:5px;background-color: #0000FF;min-height: 2px;"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin: 15px;min-height: 120px;"class="box">
                                        <div class="col-md-4"style="background-color: #ec7c00;height:70px;border-radius: 20px;padding-top: 5px; ">
                                            <span style="font-size: 23px;"> Total value</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6"style="padding-top: 22px;">
                                            <span style="font-size: 27px;"> {{dashboarddata[3][0].billvalues}}</span>

                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;border-radius:5px;background-color: #0000FF;min-height: 2px;"> </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin: 15px;min-height: 120px;"class="box">
                                        <div class="col-md-4"style="background-color: #ec7c00;height:70px;border-radius: 20px;padding-top: 5px; ">
                                            <span style="font-size: 23px;"> Temples</span><br>
                                            <span style="font-size: 13px;">Total/Active/With PG</span>
                                        </div>
                                        <div class="col-md-2"></div>
                                        <div class="col-md-6"style="padding-top: 22px;">
                                            <span style="font-size: 27px;"> {{dashboarddata[4][0].temples}}/{{dashboarddata[5][0].activeTemples}}/{{dashboarddata[6][0].templesWithPG}}</span>

                                        </div>
                                        <div class="col-md-12" style="margin-top:5px;border-radius:5px;background-color: #0000FF;min-height: 2px;"> </div>
                                    </div>
                                </div>

                            </div>


                        </accordion-group>
                    </accordion>
                </div>
            </div>


        </div>
    </div>

</div>

























