<div data-ng-controller="Admin_DonationController">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">Events</div></a>
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <a href="donation">   <div class=" col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>


                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:13%;"ng-click="submenuselect(allreporthide);settinghide=false;">SETTINGS</div>-->
                <a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>
                <a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>
            </div>



             <div class="adminbox"style="width: 95%;min-height: 400px;">

                <div >
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;"is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD DONATION</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-box" data-ng-controller="Admin_DonationController"ng-init="onDonationPageLoad()">
                                <form  class="form-horizontal">

                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Donation"></span></label>
                                                    <div class="col-md-9">
                                                        <select class="form-control input-medium" ng-model="donationData" ng-options="user as user.DonationName for user in masterDonationList " required="">
                                                            <option value="" data-i18n="Select Donation"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Amount"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control input-medium" required="" placeholder="Donation Amount"  ng-model="donationAmount" >

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Start Date"></span></label>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-medium ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   data-ng-model="StartFromDate"
                                                                   min-date="Today"
                                                                   data-ng-change="EndOnDate=StartFromDate"
                                                                   is-open="StartOpened"
                                                                   ng-click="open($event,'Start')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close"
                                                                    >
                                                            <span class="input-group-addon bg-transparent btn" ng-click="open($event,'Start')"><span class="fa  fa-calendar" ></span></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="End Date"></span></label>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-medium ui-datepicker" >
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd-MM-yyyy"
                                                                   data-ng-model="EndOnDate"
                                                                   min-date="StartFromDate"
                                                                   is-open="EndOpened"
                                                                   ng-click="open($event,'End')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close">
                                                            <span class="input-group-addon bg-transparent btn" ng-click="open($event,'End')"><span class="fa  fa-calendar" ></span></span>

                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <!--/span-->


                                        </div>


                                    </div>
                                    <!--/row ENDS HERE -->

                                    <!--FORM BODY ENDS HERE -->

                                    <div class="form-actions fluid">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="col-md-offset-2 col-md-8">
                                                    <button data-ng-click="AddDonation();" class="btn btn-primary"><span data-i18n="Submit"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>



                                        </div>

                                    </div>
                                </form>

                            </div>
                            <hr>
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;"is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  LIST DONATION</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                            <div class="panel-body" ng-controller="Admin_DonationController">
                                <div class="col-md-offset-8 col-md-4 ">
                                    <div class="form-group">
                                        <form>
                                            <input type="text"
                                                   placeholder="search"
                                                   class="form-control"
                                                   data-ng-model="DonationSearchKeywords">
                                            <!--data-ng-keyup="DonationSearch()">-->
                                        </form>
                                    </div>

                                </div>
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-center"><span data-i18n="ID"></span></th>
                                        <th><span data-i18n="Name"></span></th>
                                        <th class="text-center" ><span data-i18n="Amount"></span></th>
                                        <th class="text-center"><span data-i18n="Status"></span></th>
                                        <th class="text-center"><span data-i18n="Edit"></span></th>
                                    </tr>
                                    </thead>
                                    <tbody class="content">
                                    <tr data-ng-repeat="donation in  DonationList | filter:DonationSearchKeywords">
                                        <td>{{donation.DonationID}}</td>
                                        <td>
                            <span >
                                 {{donation.DonationName}}
                            </span>
                                            <!--<span data-ng-show="donation.ShowControls">-->
                                            <!--<input type="text" data-ng-model="donation.DonationName" class="form-control">-->
                                            <!--</span>-->

                                        </td>
                                        <td>
                             <span data-ng-hide="donation.ShowControls">
                                 {{donation.Amount}}
                            </span>
                             <span data-ng-show="donation.ShowControls">
                                 <input type="text" data-ng-model="donation.Amount" class="form-control">
                            </span>
                                        </td>
                                        <td>
                                            <span data-ng-show="donation.Status"> <b class="color-success"> <span data-i18n="Active"></span> &nbsp;&nbsp; </b>  </span>
                                            <span data-ng-hide="donation.Status"> <b class="color-danger"> <span data-i18n="Deleted"></span> </b>  </span>
                                        </td>
                                        <td>
                            <span data-ng-show="donation.ShowControls">
                            <a href=""
                               data-ng-click="ChangeDonationStatus(donation,1)"
                               class="btn btn-xs btn-info">
                                <i class="fa fa-check-square-o"></i><span data-i18n="Update"></span>
                            </a>
							<a href="" data-ng-click="donation.ShowControls=false" class="btn btn-xs btn-danger">
                                <i class="fa fa-times-circle-o"></i><span data-i18n="Cancel"></span>
                            </a>
                        </span>
                        <span data-ng-hide="donation.ShowControls">
                            <span style="margin-left: 5px;"
                                  ng-click="donation.ShowControls=true"
                                  popover-placement="bottom"
                                  popover-trigger="mouseenter"
                                  popover="click here to edit donation"
                                  popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i> <span data-i18n="Edit"></span>
                                </a>
							 </span>
                            <span  data-ng-hide="donation.Status"
                                   style="margin-left: 5px;"
                                   ng-click="ChangeDonationStatus(donation,1)"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter"
                                   popover="click here to enable this donation"
                                   popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-success">
                                    <i class="fa fa-plus-square"></i> <span data-i18n="Enable"></span>
                                </a>
							 </span>
                            <span  data-ng-show="donation.Status"
                                   style="margin-left: 5px;"
                                   ng-click="ChangeDonationStatus(donation,0)"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter"
                                   popover="click here to delete donation"
                                   popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-info">
                                    <i class="fa fa-trash-o"></i> <span data-i18n="Delete"></span>
                                </a>
							 </span>
                        </span>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div></accordion-group></accordion>
                            <hr>


                        </accordion-group>
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  EDIT DONATION</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-box" data-ng-controller="Admin_DonationController">
                                <form  ng-submit="updateDonation()" class="form-horizontal">

                                    <div class="form-body">
                                        <div class="row">

                                            <!--COLUMNS SPAN 1 RAW -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Donation"></span></label>
                                                    <div class="col-md-8">
                                                        <select class="form-control input-medium" ng-model="donationUpdateData" ng-options="user as user.DonationName for user in DonationList " required="">
                                                            <option value="" data-i18n="Select Donation"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Amount"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" required="" placeholder="Donation Amount"  ng-model="donationUpdateData.Amount" >

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Status"></span>  </label>
                                                    <div class="col-md-8">
                                                        <div class="radio-list">
                                                            <label class="radio-inline">
                                                                <input type="radio" ng-model="donationUpdateData.Status" name="optionsRadios2" value="1"/>
                                                                <span data-i18n="Online"></span>
                                                            </label>
                                                            <label class="radio-inline">
                                                                <input type="radio" ng-model="donationUpdateData.Status" name="optionsRadios2" value="0" checked/>
                                                                <span data-i18n="Offline"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Language"></span></label>
                                                    <div class="col-md-9">
                                                        <select class="form-control input-medium " ng-model="donationUpdateData.LanguageID" ng-change="getDonationDataByLanguage()"  ng-options="user.languages_id as user.languages_name for user in allLanguages " >
                                                            <option value="" data-i18n="select language"> </option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Description"></span></label>
                                                    <div class="col-md-9">
                                                        <textarea class="form-control input-medium" id="multi_lang_input_donation_desc" required="" placeholder="Description" ng-model="donationUpdateData.Desc" > </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="row">

                                            <div class="col-md-10">
                                                <div class="col-md-offset-3 col-md-10">
                                                    <button type="submit" class="btn btn-primary"><span data-i18n="Submit"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </form>

                            </div>
                        </accordion-group>

                    </accordion>
                </div>


            </div>

        </div>
    </div>

</div>
