<div data-ng-controller="admincontroller">
    <div class="col-md-2" ng-show="davaayanamadmin">
        <a href="allreports"> <div class="col-md-11 box ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-2" ng-hide="davaayanamadmin">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row" ng-show="davaayanamadmin" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="masterpuja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">MASTER</div></a>
                <a href="Advertisements">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS</div></a>
                <a href="darshanam">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO</div></a>
                <a href="general">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL</div></a>
                <a href="onboard">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ONBOARD</div></a>

            </div>
            <div class="row" ng-hide="davaayanamadmin" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>


                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:13%;"ng-click="submenuselect(allreporthide);settinghide=false;">SETTINGS</div>-->
                <a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>
                <a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>
            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">
                <div class="row headerdiv" >
                    <h4 >ADD EVENT</h4> </div>
                <div data-ng-controller="Admin_CalendarController" ng-init="loadEvents()" >

                            <div class="panel-box"style="margin:10px;border: groove 0.8px #e38749;border-radius: 5px;padding: 5px;" data-ng-controller="Admin_CalendarController">
                                <form  class="form-horizontal" ng-submit="addNewEvent()">
                                    <div class="form-body">

                                        <h3 class="form-section"></h3>

                                        <!--RAW 1ST CLASS START HERE -->
                                        <div class="row">

                                            <!--COLUMNS SPAN 1 RAW -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Event Name"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control input-medium"
                                                               ng-model="EventName"
                                                               placeholder="Event Name"
															   required>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Description"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="text"
                                                               ng-model="Desc"
                                                               class="form-control input-medium"
                                                               placeholder="Description"
															   required>


                                                    </div>
                                                </div>
                                            </div>
                                            <!-- COLOUMN /span 1 ST RAW ENDS HERE -->

                                        </div>

                                        <!--/span-->
                                        <div class="row">

                                            <!--COLUMNS SPAN 1 RAW -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Start Date"></span></label>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-medium ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   data-ng-model="StartDate"
                                                                   min-date="Today"
                                                                   data-ng-change="EndDate=StartDate"
                                                                   is-open="opened1"
                                                                   ng-click="open($event,'start')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close"
                                                                   required>
                                                            <span class="input-group-addon bg-transparent btn" ng-click="open($event,'start')"><span class="fa  fa-calendar" ></span></span>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="End Date"></span></label>
                                                    <div class="col-md-9">
                                                        <div class="input-group input-medium ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   data-ng-model="EndDate"
                                                                   min-date="StartDate"
                                                                   is-open="opened2"
                                                                   ng-click="open($event,'end')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close"
                                                                   required>
                                                            <span class="input-group-addon bg-transparent btn" ng-click="open($event,'end')"><span class="fa  fa-calendar" ></span></span>

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- COLOUMN /span 1 ST RAW ENDS HERE -->

                                        </div>
                                        <div class="row">

                                            <!--COLUMNS SPAN 1 RAW -->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="Start Time"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="text" placeholder="2:30 PM"
                                                               data-format="hh:mm A"
                                                               ng-model="StartTime"
                                                               class="form-control clockface_1 input-medium"/>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->

                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3"><span data-i18n="End Time"></span></label>
                                                    <div class="col-md-9">
                                                        <input type="text"
                                                               placeholder="5:30 PM"
                                                               data-format="hh:mm A"
                                                               ng-model="EndTime"
                                                               class="form-control clockface_1 input-medium"/>


                                                    </div>
                                                </div>
                                            </div>
                                            <!-- COLOUMN /span 1 ST RAW ENDS HERE -->

                                        </div>



                                    </div>
                                    <!--/row ENDS HERE -->

                                    <!--FORM BODY ENDS HERE -->

                                    <div class="form-actions fluid">

                                        <div class="row">

                                            <div class="col-md-10">
                                                <div class="col-md-offset-3 col-md-10">
                                                    <button class="btn btn-primary"><span data-i18n="Submit"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                            </div>

                                        </div>

                                    </div>
                                </form>

                            </div>
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  EVENTS LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body" >
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th><span data-i18n="Name"></span></th>
                                                <th class="text-center"><span data-i18n="Description"></span></th>
                                                <th class="text-center"><span data-i18n="Start Date"></span></th>
                                                <th class="text-center"><span data-i18n="End Date"></span></th>
                                                <th class="text-center"><span data-i18n="Delete"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="event in  EventList ">

                                                <td>
                        <span>
                            {{event.MessageHeader}}
                        </span>
                                                    <!--<span data-ng-show="puja.ShowControls">-->
                                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                                    <!--</span>-->
                                                </td>
                                                <td class="text-right">
                        <span>
                            {{event.MessageBody}}
                        </span>

                                                </td>
                                                <td>
                                                    {{event.StartDate | date:'mediumDate'}}
                                                </td>
                                                <td>
                                                    {{event.EndDate | date:'mediumDate'}}
                                                </td>
                                                <td align="center">
                        <span>
							<a href="" data-ng-click="updateEvent($index,0)" class="btn btn-xs btn-danger">
                                <i class="fa fa-times-circle-o"></i> <span data-i18n="Delete"></span>
                            </a>
                        </span>


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>

                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;">
                            <accordion-heading style="background-color: #e38749"> <div class="row"><span style="padding-left: 2%">
                  UPDATE EVENT</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-box" data-ng-controller="Admin_CalendarController" >
                                <div class="row">
                                    <form class="form-horizontal">
                                        <div class="form-body">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label">
                                                            <span data-i18n="Event"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <select class="form-control input-medium"
                                                                data-ng-model="UpdateEventData" ng-options="user as user.MessageHeader for user in EventList " >
                                                            <option value="" data-i18n="select event"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label">
                                                            <span data-i18n="Start Date"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group input-medium ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   data-ng-model="UpdateEventData.StartDate"
                                                                   is-open="opened1"
                                                                   ng-click="open($event,'start')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close" >
                                                            <span class="input-group-addon bg-transparent btn" ng-click="open($event,'start')"><span class="fa  fa-calendar" ></span></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label">
                                                            <span data-i18n="End Date"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="input-group input-medium ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   data-ng-model="UpdateEventData.EndDate"
                                                                   min-date="UpdateEventData.StartDate"
                                                                   is-open="opened2"
                                                                   ng-click="open($event,'end')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close"
                                                                    >
                                                            <span class="input-group-addon bg-transparent btn" ng-click="open($event,'end')"><span class="fa  fa-calendar" ></span></span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="control-label">
                                                            <span data-i18n="Language"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <select class="form-control"
                                                                data-ng-model="UpdateEventData.LanguageID" ng-change="getEventDataByLanguage()"  ng-options="user.languages_id as user.languages_name for user in allLanguages " >
                                                            <option value="" data-i18n="select language"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="control-label "><span data-i18n="Name"></span></label>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <input type="text"
                                                               class="form-control"
                                                               ng-model="UpdateEventData.MessageHeader"
                                                               placeholder="update event name"
                                                               id="multi_lang_input_event_title">

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <label class="control-label "><span data-i18n="Description"></span></label>
                                                    </div>
                                                    <div class="col-md-9">
                            <textarea class="form-control"
                                      ng-model="UpdateEventData.MessageBody"
                                      placeholder="Type description here"
                                      rows="5"
                                      id="multi_lang_input_event_desc">
                            </textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions fluid">

                                                <div class="row">

                                                    <div class="col-md-12">
                                                        <div class="col-md-offset-6 col-md-6">
                                                            <button data-ng-click="updateEvent($index,1)" class="btn btn-primary"><span data-i18n="Update"></span></button>
                                                            <button type="button" class="btn btn-primary" data-ng-click="updateEvent($index,0)"><span data-i18n="Delete"></span></button>
                                                        </div>
                                                    </div>



                                                </div>

                                            </div>

                                        </div>
                                    </form>

                                </div>


                            </div>

                        </accordion-group>

</accordion>


                </div>

            </div>

        </div>
    </div>

</div>
