
<div class="row"style="background-color: #0093cd;min-height: 70px;" ng-hide="signin">
    <div class="col-md-2">
        <!--<a href=""> <img src="{{baseUrl}}/images/DevaayanamCompanyName.png" style="width:200px; height:40px; margin-bottom: 15px; margin-top:-10px"></a>-->
        <img style="padding: 1px;" src="{{baseUrl}}{{TempleIcon}}" class="templeThumbnail" alt="{{TempleName}}">
    </div>
    <div class="container-fluid ">
        <div class="col-md-7 ">
            <h3 style="padding-bottom:0px;margin-bottom:0px;color:#ffffff">{{TempleName}}</h3>
            <span style="color: #ffffff">Administrator</span>
        </div>
        <div class="col-md-3" data-ng-controller="loginController" ng-init="checkAuthentication();">
            <div class="log-in-area"style="margin-left:10px;margin-top: 10px;">

                <!--<div class="dropdown ">-->
                    <!--<button class="button-login" id="menu1" type="button" data-toggle="dropdown" >  <i class="fa fa-bell-o nav-icon"></i>-->
                        <!--<span class="badge badge-info">3</span></button>-->
                    <!--<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">-->
                        <!--<div class="panel-heading">-->
                            <!--You have 3 notifications.-->
                        <!--</div>-->
                        <!--<ul class="list-group">-->
                            <!--<li class="list-group-item">-->
                                <!--<a href="javascript:;" class="media">-->
                                <!--<span class="pull-left media-icon">-->
                                    <!--<span class="round-icon sm bg-success"><i class="fa fa-bell-o"></i></span>-->
                                <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<span class="block">New tasks needs to be done</span>-->
                                        <!--<span class="text-muted block">2min ago</span>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="list-group-item">-->
                                <!--<a href="javascript:;" class="media">-->
                                <!--<span class="pull-left media-icon">-->
                                    <!--<span class="round-icon sm bg-info"><i class="fa fa-bell-o"></i></span>-->
                                <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<span class="block">Change your password</span>-->
                                        <!--<span class="text-muted">3 hours ago</span>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li class="list-group-item">-->
                                <!--<a href="javascript:;" class="media">-->
                                <!--<span class="pull-left media-icon">-->
                                    <!--<span class="round-icon sm bg-danger"><i class="fa fa-bell-o"></i></span>-->
                                <!--</span>-->
                                    <!--<div class="media-body">-->
                                        <!--<span class="block">New feature added</span>-->
                                        <!--<span class="text-muted">9 hours ago</span>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <!--<div class="panel-footer">-->
                            <!--<a href="javascript:;">Show all notifications.</a>-->
                        <!--</div>-->
                    <!--</ul>-->
                <!--</div>-->

                    <div class="col-md-12"> <img src="{{baseUrl}}/images/DevaayanamCompanyName.png"class="button-login" style="width:200px; height:40px; margin-right:20px;margin-top:-10px"></div>
                <div style="margin-left: 30px;" class="dropdown "data-ng-controller="LangCtrl">
                    <button style="height:32px;margin:10px;border: groove 1px orangered;border-radius: 5px;" class="button-login" id="menu1" type="button" data-toggle="dropdown" > <img src="{{allLanguages[SessionLanguageID-1].languages_image}}" ></button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <span class="btn color-danger fa fa-times-circle" style="float:right;"></span>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-ng-repeat="user in allLanguages"data-ng-click="setLanguage(user)"> <div class="" ><img src="{{user.languages_image}}" style="height:21px;width:12px"> {{user.languages_name}} </div></a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button style="border-radius:5px;margin-top:10px;border: groove 1px orangered" class="button-login" id="menu1" type="button" data-toggle="dropdown" >
                       <i class="fa fa-user"></i>

                        <span data-i18n="">{{CustomerName}}</span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li> <a href="">
                            <i class="fa fa-user"></i>
                            <span data-i18n="My Profile"></span>
                        </a></li><li>
                        <a  ng-click="logout()">
                            <i class="fa fa-sign-out mouse-pointer"></i>
                            <span data-i18n="Logout"></span>
                        </a>
                    </li>


                    </ul>
                </div>
                <div class="dropdown">
                    <button style="border-radius:5px;margin:10px;border: groove 1px orangered"  class="button-login" id="menu1" type="button" data-toggle="dropdown" >
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out mouse-pointer"></i>
                            <span data-i18n="Logout"></span>
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>














<div class="dropdown "data-ng-controller="LangCtrl">
    <button class="dropdown" id="menu1" type="button" data-toggle="dropdown"><img src="{{allLanguages[SessionLanguageID-1].languages_image}}" ></button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <span class="btn color-danger fa fa-times-circle" style="float:right;" ></span>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-ng-repeat="user in allLanguages"data-ng-click="setLanguage(user)"> <div class="" ><img src="{{user.languages_image}}" style="height:21px;width:12px"> {{user.languages_name}} </div></a></li>
    </ul>
</div> <!-- language button-->
<div class="dropdown">
    <button class=" dropdown button-login" id="menu1" type="button" data-toggle="dropdown" >
        <i class="fa fa-user"></i>

        <span data-i18n="">{{CustomerName}}</span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li> <a href="">
            <i class="fa fa-user"></i>
            <span data-i18n="My Profile"></span>
        </a></li><li>
        <a  ng-click="logout()">
            <i class="fa fa-sign-out mouse-pointer"></i>
            <span data-i18n="Logout"></span>
        </a>
    </li>


    </ul>
</div>
<div class="dropdown">
    <button class="dropdown button-login" id="menu1" type="button" data-toggle="dropdown" >
        <a ng-click="logout()">
            <i class="fa fa-sign-out mouse-pointer"></i>
            <span data-i18n="Logout"></span>
        </a>
    </button>
</div>