<div class="header-wrap" ng-hide="signin">
    <div class="row" style="">
        <div class="container-fluid ">
            <div class="col-md-1"style="margin-bottom: 8px;margin-top: 5px;">
                <!--<a href=""> <img src="{{baseUrl}}/images/DevaayanamCompanyName.png" style="width:200px; height:40px; margin-bottom: 15px; margin-top:-10px"></a>-->
                <img style="padding: 1px;" src="{{baseUrl}}{{TempleIcon}}" class="templeThumbnail" alt="{{TempleName}}">
            </div>
            <div class="col-md-6 col-md-offset-1 col-sm-10 col-xs-10  logo">
                <h1><a class="mouse-pointer" href="/"> {{TempleName}}</a> </h1>
                Administrator
            </div>

            <div class="col-md-1 col-sm-2 col-xs-2">

            </div>
            <div class="col-md-3 col-xs-12 social-icon" data-ng-controller="loginController" ng-init="checkAuthentication();">
                <img ng-click="gotodevaayanam();" src="{{baseUrl}}/images/DevaayanamCompanyName.png" style="max-width: 65%;margin-top: 5px;margin-bottom: 15px;" class="img-responsive mouse-pointer" >
                <div class="log-in-area" style="margin:0px auto;">
                    <div class="dropdown "data-ng-controller="LangCtrl">
                        <button class="dropdown button-login" id="menu1" type="button" data-toggle="dropdown"><img src="{{allLanguages[SessionLanguageID-1].languages_image}}" ></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <span class="btn color-danger fa fa-times-circle" style="float:right;" ></span>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data-ng-repeat="user in allLanguages"data-ng-click="setLanguage(user)"> <div class="" ><img src="{{user.languages_image}}" style="height:21px;width:12px"> {{user.languages_name}} </div></a></li>
                        </ul>
                    </div> <!-- language button-->

                    <div class="dropdown ">
                        <button class="dropdown button-login"data-toggle="dropdown" id="menu2" type="button" aria-expanded="false"><i class="fa fa-key" aria-hidden="true"></i>{{CustomerName}}</button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li> <a href="">
                                <i class="fa fa-user"></i>
                                <span data-i18n="My Profile"></span>
                            </a></li><li>
                            <a  ng-click="logout()">
                                <i class="fa fa-sign-out mouse-pointer"></i>
                                <span data-i18n="Logout"></span>
                            </a>
                        </li>


                        </ul>
                    </div> <!-- login button-->
                    <div class="dropdown ">
                        <button ng-click="logout()"class=" dropdown button-login  dropdown-toggle" id="menu2" type="button" data-toggle="dropdown" aria-expanded="false" >
                            <i class="fa fa-sign-out mouse-pointer"></i>
                            <span>Logout</span>
                       </button>
                    </div> <!-- customer name-->

                </div>
            </div>
            <div class="col-sm-1 col-lg-hidden col-md-hidden"></div>
        </div>
    </div>
</div>