<div data-ng-controller="admincontroller" ng-init="onmasterpujaload()">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="masterpuja">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">MASTER</div></a>
                <a href="Advertisements">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS</div></a>
                <a href="darshanam">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO</div></a>
                <a href="general">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL</div></a>

            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <accordion class="ui-accordion-MainPuja">
                    <accordion-group style="margin: 5px;" is-open="true">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD PUJA</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box" data-ng-controller="admincontroller" >

                            <form  class="form-horizontal"  ng-submit="add_puja('puja')">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Puja Name"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Puja Name"
                                                               ng-model="masterpuja.pujaname"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Descriptin"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control input-medium"
                                                           placeholder="Desc"
                                                           ng-model="masterpuja.description"
                                                           required>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button type="submit" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <hr>
                        <div class="row">
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  PUJA LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body"style="border: 2px red" ng-controller="admincontroller">
                                        <div class="col-md-offset-7 col-md-5 ">

                                            <div class=" col-sm-10 form-group">
                                                <input type="text"
                                                       placeholder="search "
                                                       class="form-control"
                                                       data-ng-model="PujaSearchKeywords">
                                                <!--data-ng-keyup="PujaSearch()">-->
                                                <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                            </div>


                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><span data-i18n="ID"></span></th>
                                                <th><span data-i18n="Name"></span></th>
                                                <th class="text-center"><span data-i18n="Description"></span></th>
                                                <th class="text-center"><span data-i18n="Edit"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="puja in  masterPujaList | filter:PujaSearchKeywords">
                                                <td>
                        <span>
                           {{puja.PujaID}}
                        </span>
                                                </td>
                                                <td>
                        <span ng-hide="puja.editPuja">
                            {{puja.PujaName}}
                        </span>
                                                    <span ng-show="puja.editPuja" >
                                                    <input type="text" data-ng-model="puja.PujaName"class="form-control">
                                                    </span>
                                                </td>
                                                <td class="text-right" ng-hide="puja.editPuja">
                            {{puja.Description}}
                                                </td>
                                                <td class="text-right" ng-show="puja.editPuja">
                                                    <input type="text" data-ng-model="puja.Description"class="form-control">
                                                </td>
                                                <td>

                                                       <span  ng-show="puja.editPuja"
                                                              style="margin-left: 5px;"
                                                              ng-click="updatemasterpuja(puja,'puja');"
                                                              popover-placement="bottom"
                                                              popover-trigger="mouseenter"
                                                              popover="click here to save pooja"
                                                              popover-append-to-body="true">
                                                          <a href="" class="btn btn-xs btn-info">
                                                              <i class="fa fa-trash-o"></i> <span data-i18n="Save"></span>
                                                          </a>
                                                      </span>
                                                      <span  ng-hide="puja.editPuja" style="margin-left: 5px;"
                                                             ng-click="puja.editPuja=true;"
                                                             popover-placement="bottom"
                                                             popover-trigger="mouseenter"
                                                             popover="click here to edit pooja"
                                                             popover-append-to-body="true">
                                                          <a href="" class="btn btn-xs btn-info">
                                                              <i class="fa fa-trash-o"></i> <span data-i18n="Edit"></span>
                                                          </a>
                                                      </span>
                                                      <!--<span style="margin-left: 5px;"-->
                                                            <!--ng-click="deletemasterpuja(puja,'puja')"-->
                                                            <!--popover-placement="bottom"-->
                                                            <!--popover-trigger="mouseenter"-->
                                                            <!--popover="click here to delete pooja"-->
                                                            <!--popover-append-to-body="true">-->
                                                          <!--<a href="" class="btn btn-xs btn-info">-->
                                                              <!--<i class="fa fa-trash-o"></i> <span data-i18n="Delete"></span>-->
                                                          <!--</a>-->
                                                      <!--</span>-->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group></accordion>

                        </div>
                    </accordion-group>
                    <accordion-group style="margin: 5px;">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD DEITY</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box" data-ng-controller="admincontroller" >

                            <form  class="form-horizontal"  ng-submit="add_puja('deity')">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Deity Name"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Deity Name"
                                                               ng-model="masterpuja.pujaname"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Descriptin"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control input-medium"
                                                           placeholder="Desc"
                                                           ng-model="masterpuja.description"
                                                           required>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button type="submit" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <hr>
                        <div class="row">
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  DEITY LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body"style="border: 2px red" ng-controller="admincontroller">
                                        <div class="col-md-offset-7 col-md-5 ">

                                            <div class=" col-sm-10 form-group">
                                                <input type="text"
                                                       placeholder="search "
                                                       class="form-control"
                                                       data-ng-model="PujaSearchKeywords">
                                                <!--data-ng-keyup="PujaSearch()">-->
                                                <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                            </div>


                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><span data-i18n="ID"></span></th>
                                                <th><span data-i18n="Name"></span></th>
                                                <th class="text-center"><span data-i18n="Description"></span></th>
                                                <th class="text-center"><span data-i18n="Edit"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="deity in  masterdeitylist | filter:PujaSearchKeywords">
                                                <td>
                        <span>
                           {{deity.DeityID}}
                        </span>
                                                </td>
                                                <td>
                        <span>
                            {{deity.DeityName}}
                        </span>
                                                    <!--<span data-ng-show="puja.ShowControls">-->
                                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                                    <!--</span>-->
                                                </td>
                                                <td class="text-right">
                                                    {{deity.Description}}
                                                </td>
                                                <td>
                                                      <span
                                                              style="margin-left: 5px;"
                                                              ng-click="deletemasterpuja(deity,'deity')"
                                                              popover-placement="bottom"
                                                              popover-trigger="mouseenter"
                                                              popover="click here to delete pooja"
                                                              popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-info">
                                    <i class="fa fa-trash-o"></i> <span data-i18n="Delete"></span>
                                </a>
							 </span>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group></accordion>

                        </div>
                    </accordion-group>
                    <accordion-group style="margin: 5px;">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD PUJATYPE</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box" data-ng-controller="admincontroller" >

                            <form  class="form-horizontal"  ng-submit="add_puja('pujatype')">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="PUJA TYPE"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Puja Type"
                                                               ng-model="masterpuja.pujaname"
                                                               class="form-control"
                                                               required="">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6">-->
                                        <!--<div class="row">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="control-label col-md-4"><span data-i18n="Descriptin"></span></label>-->
                                                <!--<div class="col-md-8">-->
                                                    <!--<input type="text" class="form-control input-medium"-->
                                                           <!--placeholder="Desc"-->
                                                           <!--ng-model="masterpuja.description"-->
                                                           <!--required>-->

                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button type="submit" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </accordion-group>
                </accordion>

            </div>

        </div>
    </div>
</div>

