<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports">
            <div class="col-md-11 box ">
                <i class="fa fa-dashboard t"></i>
                <span data-i18n="DashBoards"></span>
            </div>
        </a>
        <a href="announcements">
            <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
                <i class="fa fa-tasks"></i>
                <span data-i18n="Settings"></span>
            </div>
        </a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12" style="min-height: 40px;">
            <div class="row">
                <a href="announcements">
                    <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"
                         ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS
                    </div>
                </a>
                <a href="events">
                    <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:11%;"
                         ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS
                    </div>
                </a>
                <a href="masterpuja">
                    <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:10%;"
                         ng-click="submenuselect(allreporthide);pujahide=false;">MASTER
                    </div>
                </a>
                <a href="Advertisements">
                    <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:14%;"
                         ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS
                    </div>
                </a>
                <a href="darshanam">
                    <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:14%;"
                         ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO
                    </div>
                </a>
                <a href="general">
                    <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:14%;"
                         ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL
                    </div>
                </a>
                <a href="onboard">
                    <div class="col-md-1 box adminmenu selected" style="margin-top: 5px;margin-right: 5px;width:14%;"
                         ng-click="submenuselect(allreporthide);pujahide=false;">ONBOARD
                    </div>
                </a>

            </div>
            <div class="adminbox" style="width: 95%;min-height: 400px;">
                <div class="panel panel-info">
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="onboardtemples=!onboardtemples;"><span class="fa fa-bell">
                        </span> <span data-i18n="OnBoard Temple"></span></div>
                    <div class="panel-body" collapse="!onboardtemples">
                        <div class="panel panel-info">
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Temple Name "></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.templename">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Display Name "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.displayname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Devasom "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.devasom">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="WebSite "></span>
                                        </label>
                                        <!--DV-34-->
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.website">
                                        </div>
                                        <!--DV-34-->
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Temple Email "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.emailid">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="UserName"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.templeadmin">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Password"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="password" class="form-control"
                                                   data-ng-model="templedata.templeadminpassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Confirm "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="password" class="form-control"
                                                   data-ng-model="templedata.confirmpassword">
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <button data-ng-click="templedata.category='temple';onboardtemple('createonboard')" class="btn btn-primary">
                                            <span data-i18n="OnBoard Temple"></span>
                                        </button>
                                        <!--<button  class="btn btn-primary"><span data-i18n="Cancel"></span></button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="updatetemple=!updatetemple;onboardtemple('loadtemples');"><span
                            class="fa fa-bell">
                        </span> <span data-i18n="Update Temple"></span></div>
                    <div class="panel-body" collapse="!updatetemple">
                        <div class="panel panel-info">
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Gateway details</u></div>

                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Temple"></span>
                                        </label>

                                        <div class="col-sm-7">
                                            <input type="text"
                                                   ng-blur="onchangetemplename(selectedtemple)"
                                                   ng-click="selectedtemple='';"
                                                   placeholder="Temple Name"
                                                   typeahead="options as options.TempleName for options in templelists | filter:{'Category':'temple'} "
                                                   ng-model="selectedtemple"
                                                   class="form-control"
                                                   required="">
                                        </div>
                                        <div class="col-sm-2">
                                            <button ng-if="templedata.status!=0&&templedata.status!=1" class="form-control btn btn-primary"></button>
                                            <button ng-if="templedata.status==0" data-ng-click="onboardtemple('changeStatus')" class="form-control btn btn-primary">Activate</button>
                                            <button ng-if="templedata.status==1" data-ng-click="onboardtemple('changeStatus')" class="form-control btn btn-primary">Delete</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Domain Name"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text"  class="form-control" data-ng-model="templedata.website">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Payment Gateway"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <select type="text" ng-change="changeGateway(templedata.pgname)" ng-disabled="templedata.status==0" class="form-control" data-ng-model="templedata.pgname">
                                                <option value="no_pg">No PG</option>
                                                <option value="cashfree_temple">Temple Cashfree PG</option>
                                                <option value="cashfree_devaayanam">Cashfree Devaayanam PG</option>
                                                <option value="demo_pg">Cashfree Demo PG</option>												
                                                </select>
                                        </div>
                                    </div>
                                    <div ng-if="templedata.pgname=='cashfree_temple'||templedata.pgname=='cashfree_devaayanam'||templedata.pgname=='fed_temple'||templedata.pgname=='fed_devaayanam'||templedata.pgname=='cashfree_temple'||templedata.pgname=='cashfree_devaayanam'">
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="UserCode"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" ng-disabled="templedata.pgname=='fed_devaayanam'" class="form-control" data-ng-model="templedata.usercode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="PassCode"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" ng-disabled="templedata.pgname=='fed_devaayanam'" class="form-control" data-ng-model="templedata.passcode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="HashKey"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" ng-disabled="templedata.pgname=='fed_devaayanam'" class="form-control" data-ng-model="templedata.hashkey">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Settlement details</u></div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Account Name"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="IFSC"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.ifsc">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="BankName"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.bankname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Branch Name"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.branchname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Account Number"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.acnumber">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="AC Type"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.actype">
                                        </div>
                                    </div>
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Location details</u></div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Map Url"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.mapurl">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n=""></span>
                                        </label>

                                        <div class="col-sm-9">
                                            Get map url by select location on google map then click share and embed map.
                                            Then copy text iframe src without quotation mark.
                                        </div>
                                    </div>
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Other details</u></div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Activate scheduler"></span>
                                        </label>

                                        <div class="col-sm-2">
                                            <input type="checkbox" class="form-control" data-ng-model="templedata.schedulerStatus">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Per puja charges"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.chargePerPuja">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Per transaction charges"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.chargePerTransaction">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Maximum puja per transaction"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.maxPujaPerTransaction">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Devaayanam Subscription Charges"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.dvnmSubscriptionCharge">
                                        </div>
                                    </div>									
                                    <div class="pull-right">
                                        <button data-ng-click="onboardtemple('updatetemple')" class="btn btn-primary">
                                            <span data-i18n="Save"></span>
                                        </button>
                                        <!--<button  class="btn btn-primary"><span data-i18n="Cancel"></span></button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <accordion class="ui-accordion-MainPuja" data-ng-click="onboardtemple('loadtemples');">
                    <accordion-group style="margin: 5px;" is-open="false">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Temple List</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-body"style="border: 2px red" ng-controller="admincontroller">
                            <div class="col-md-offset-7 col-md-5 ">

                                <div class=" col-sm-10 form-group">
                                    <input type="text"
                                           placeholder="search "
                                           class="form-control"
                                           data-ng-model="templeSearchKeyWords">
                                    <!--data-ng-keyup="PujaSearch()">-->
                                    <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                </div>


                            </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center"><span data-i18n="ID"></span></th>
                                    <th><span data-i18n="Temple Name"></span></th>
                                    <th class="text-center"><span data-i18n="URL&Admin ID"></span></th>
                                    <th class="text-center"><span data-i18n="Temple PG"></span></th>
                                    <th class="text-center"><span data-i18n="Status"></span></th>
                                </tr>
                                </thead>
                                <tbody class="content">
                                <tr data-ng-repeat="temple in templelists | filter:templeSearchKeyWords | filter:{'Category':'temple'} ">
                                    <td>
                        <span>
                           {{temple.TempleID}}
                        </span>
                                    </td>
                                    <td>
                        <span>
                            {{temple.TempleName}}
                        </span>
                                        <!--<span data-ng-show="puja.ShowControls">-->
                                        <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                        <!--</span>-->
                                    </td>
                                    <td>
                                        {{temple.WebSite}}<br>
                                        {{temple.adminUser}}
                                    </td>
                                    <td>
                                        {{temple.BankName}}
                                    </td>
                                    <td>
                                        <button ng-if="temple.Status==0" data-ng-click="onchangetemplename(temple);onboardtemple('changeStatus')"style="background-color: #f9a3a9;border: none" class="form-control btn-sm btn-primary">InActive</button>
                                        <button ng-if="temple.Status==1" data-ng-click="onchangetemplename(temple);onboardtemple('changeStatus')"style="background-color: #30d430;border: none" class="form-control btn-sm btn-primary">Active</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </accordion-group>
                </accordion>

                <div class="panel panel-info">
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="onboardpriest=!onboardpriest;"><span class="fa fa-bell">
                        </span> <span data-i18n="OnBoard Priest"></span></div>
                    <div class="panel-body" collapse="!onboardpriest">
                        <div class="panel panel-info">
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Priest Name "></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.templename">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Description "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.description">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Photo "></span>
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="file" ngChange="ValidateSize(myFile)" file-model="myFile"/><br><br>
                                            Image size should be less than 200 KB
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="House Name "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.housename">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Street Name "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.streetname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Post Office "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.postoffice">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Postal Code "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.postalcode">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="State "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.state">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="District "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.district">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Phone Mobile "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.phonemobile">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Phone Wired "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.phonewired">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Email "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.emailid">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="WebSite "></span>
                                        </label>
                                        <!--DV-34-->
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.website">
                                        </div>
                                        <!--DV-34-->
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="UserName"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.templeadmin">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Password"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="password" class="form-control"
                                                   data-ng-model="templedata.templeadminpassword">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Confirm "></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="password" class="form-control"
                                                   data-ng-model="templedata.confirmpassword">
                                        </div>
                                    </div>

                                    <div class="pull-right">
                                        <button data-ng-click="templedata.category='priest';uploadImage()" class="btn btn-primary">
                                            <span data-i18n="OnBoard Priest"></span>
                                        </button>
                                        <!--<button  class="btn btn-primary"><span data-i18n="Cancel"></span></button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="updatepriest=!updatepriest;onboardtemple('loadtemples');"><span
                            class="fa fa-bell">
                        </span> <span data-i18n="Update Priest"></span></div>
                    <div class="panel-body" collapse="!updatepriest">
                        <div class="panel panel-info">
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Gateway details</u></div>

                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Temple"></span>
                                        </label>

                                        <div class="col-sm-7">
                                            <input type="text"
                                                   ng-blur="onchangetemplename(selectedtemple)"
                                                   ng-click="selectedtemple='';"
                                                   placeholder="Priest Name"
                                                   typeahead="options as options.TempleName for options in templelists | filter:{'Category':'priest'}"
                                                   ng-model="selectedtemple"
                                                   class="form-control"
                                                   required="">
                                        </div>
                                        <div class="col-sm-2">
                                            <button ng-if="templedata.status!=0&&templedata.status!=1" class="form-control btn btn-primary"></button>
                                            <button ng-if="templedata.status==0" data-ng-click="onboardtemple('changeStatus')" class="form-control btn btn-primary">Activate</button>
                                            <button ng-if="templedata.status==1" data-ng-click="onboardtemple('changeStatus')" class="form-control btn btn-primary">Delete</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Domain Name"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text"  class="form-control" data-ng-model="templedata.website">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Payment Gateway"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <select type="text" ng-change="changeGateway(templedata.pgname)" ng-disabled="templedata.status==0" class="form-control" data-ng-model="templedata.pgname">
                                                <option value="no_pg">No PG</option>
                                                <option value="fed_temple">Temple Fed PG</option>
                                                <!--<option value="fed_devaayanam">Devaayanam Fed PG</option>-->
                                                <option value="fonepaisa_temple">Temple PhonePaisa PG</option>
                                                <option value="fonepaisa_devaayanam">Devaayanam PhonePaisa PG</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div ng-if="templedata.pgname=='fed_temple'||templedata.pgname=='fed_devaayanam'">
                                        <div class="form-group">
                                            <label for="" class="col-offset-1 col-sm-2">
                                                <span data-i18n="UserCode"></span>
                                            </label>

                                            <div class="col-sm-9">
                                                <input type="text" ng-disabled="templedata.pgname=='fed_devaayanam'" class="form-control" data-ng-model="templedata.usercode">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-offset-1 col-sm-2">
                                                <span data-i18n="PassCode"></span>
                                            </label>

                                            <div class="col-sm-9">
                                                <input type="text" ng-disabled="templedata.pgname=='fed_devaayanam'" class="form-control" data-ng-model="templedata.passcode">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-offset-1 col-sm-2">
                                                <span data-i18n="HashKey"></span>
                                            </label>

                                            <div class="col-sm-9">
                                                <input type="text" ng-disabled="templedata.pgname=='fed_devaayanam'" class="form-control" data-ng-model="templedata.hashkey">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Settlement details</u></div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Account Name"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="IFSC"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.ifsc">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="BankName"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.bankname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Branch Name"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control"
                                                   data-ng-model="templedata.branchname">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Account Number"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.acnumber">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="AC Type"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.actype">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label for="" class="col-offset-1 col-sm-2">-->
                                            <!--<span data-i18n=""></span>-->
                                        <!--</label>-->

                                        <!--<div class="col-sm-9">-->
                                            <!--Get map url by select location on google map then click share and embed map.-->
                                            <!--Then copy text iframe src without quotation mark.-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-12"
                                         style="height:30px;text-align: center;background-color:  transparent;color: #000000">
                                        <u>Other details</u></div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Activate scheduler"></span>
                                        </label>

                                        <div class="col-sm-2">
                                            <input type="checkbox" class="form-control" data-ng-model="templedata.schedulerStatus">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Per puja charges"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.chargePerPuja">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Per transaction charges"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.chargePerTransaction">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-offset-1 col-sm-2">
                                            <span data-i18n="Maximum puja per transaction"></span>
                                        </label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" data-ng-model="templedata.maxPujaPerTransaction">
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button data-ng-click="onboardtemple('updatetemple')" class="btn btn-primary">
                                            <span data-i18n="Save"></span>
                                        </button>
                                        <!--<button  class="btn btn-primary"><span data-i18n="Cancel"></span></button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <accordion class="ui-accordion-MainPuja" data-ng-click="onboardtemple('loadtemples');">
                    <accordion-group style="margin: 5px;" is-open="false">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Priest List</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-body"style="border: 2px red" ng-controller="admincontroller">
                            <div class="col-md-offset-7 col-md-5 ">

                                <div class=" col-sm-10 form-group">
                                    <input type="text"
                                           placeholder="search "
                                           class="form-control"
                                           data-ng-model="templeSearchKeyWords">
                                    <!--data-ng-keyup="PujaSearch()">-->
                                    <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                </div>


                            </div>
                            <table class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center"><span data-i18n="ID"></span></th>
                                    <th><span data-i18n="Priest Name"></span></th>
                                    <th class="text-center"><span data-i18n="URL&Admin ID"></span></th>
                                    <th class="text-center"><span data-i18n="Priest PG"></span></th>
                                    <th class="text-center"><span data-i18n="Status"></span></th>
                                </tr>
                                </thead>
                                <tbody class="content">
                                <tr data-ng-repeat="temple in templelists | filter:templeSearchKeyWords | filter:{'Category':'priest'}">
                                    <td>
                        <span>
                           {{temple.TempleID}}
                        </span>
                                    </td>
                                    <td>
                        <span>
                            {{temple.TempleName}}
                        </span>
                                        <!--<span data-ng-show="puja.ShowControls">-->
                                        <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                        <!--</span>-->
                                    </td>
                                    <td>
                                        {{temple.WebSite}}<br>
                                        {{temple.adminUser}}
                                    </td>
                                    <td>
                                        {{temple.BankName}}
                                    </td>
                                    <td>
                                        <button ng-if="temple.Status==0" data-ng-click="onchangetemplename(temple);onboardtemple('changeStatus')"style="background-color: #f9a3a9;border: none" class="form-control btn-sm btn-primary">InActive</button>
                                        <button ng-if="temple.Status==1" data-ng-click="onchangetemplename(temple);onboardtemple('changeStatus')"style="background-color: #30d430;border: none" class="form-control btn-sm btn-primary">Active</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </accordion-group>
                </accordion>

            </div>

        </div>
    </div>
</div>

