<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box selected ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box " data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div ng-init="devaayanamadmin()">
            <div class="col-lg-12"style="min-height: 40px;">
                <div class="row">
                    <!--<div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%; ">DASHBOARD</div>-->
                    <a href="allreports">  <div class=" col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;" >FRANCHISEEBOARD</div></a>
                    <a href="settlement">   <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;">SETTLEMENT</div></a>
                    <a href="dashboard">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">STATUS</div></a>
                    <a href="adminreports">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;">REPORTS</div></a>
                    <a href="pujapackages">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:15%;">PUJA PACKAGES</div></a>
                </div>

                <div class="adminbox"style="width: 95%;min-height: 400px;">
                    <div class="col-md-12">
                        <accordion class="ui-accordion-MainPuja">
                            <accordion-group is-open="true">
                                <accordion-heading> <div class="row">
                                    <span style="padding-left: 2%">PUJA PACKAGE BOOKING </span></div>
                                </accordion-heading>
                                <div class="" data-ng-controller="Admin_PujaController" >
                                    <div class="col-md-12">
                                        <div class="row" style="margin: 10px;">

                                            <div class="col-md-4">
                                                <div class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                                    <input type="text"
                                                           class="form-control"
                                                           datepicker-popup="dd-MM-yyyy"
                                                           ng-model="reportDates.from"
                                                           is-open="opened"
                                                           min-date="minDate"
                                                           max-date="'2050-12-31'"
                                                           ng-click="open($event)"
                                                           datepicker-options="dateOptions"
                                                           datepicker-append-to-body="true"
                                                           ng-required="true"
                                                           close-text="Close"
                                                           readonly="true"
                                                           show-weeks="false"
                                                           show-button-bar="false"
                                                           tabindex="3">
                                                    <!--date-disabled="disabled(date, mode)"-->
                                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-1" >
                                                <div class="btn btn-info btn-w-md"  ><span i18n="To"></span></div>


                                            </div>
                                            <div class="col-md-4">
                                                <div class="input-group ui-datepicker"  tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                                    <input type="text"
                                                           class="form-control"
                                                           datepicker-popup="dd-MM-yyyy"
                                                           ng-model="reportDates.to"
                                                           is-open="opened"
                                                           min-date="minDate"
                                                           max-date="'2050-12-31'"
                                                           ng-click="open($event)"
                                                           datepicker-options="dateOptions"
                                                           datepicker-append-to-body="true"
                                                           ng-required="true"
                                                           close-text="Close"
                                                           readonly="true"
                                                           show-weeks="false"
                                                           show-button-bar="false"
                                                           tabindex="3">
                                                    <!--date-disabled="disabled(date, mode)"-->
                                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-2" >
                                                <button class="btn btn-info btn-w-md btn-block"  ng-click="generate_puja_package_booking_report(reportDates)" ><span i18n="Show"></span></button>
                                            </div>
                                            <div class="col-md-1"></div>

                                            <div class="row">
                                                <div class="col-md-12" ng-show="puja_package_report.length">
                                                    <div class="panel font_b ">

                                                        <table class="table  table-advance"  >
                                                            <thead>
                                                            <tr>
                                                                <th class="text-left"><i class="fa fa-fax"></i>  <span i18n="Tracking No"></span></th>
                                                                <th class="text-left"><i class="fa fa-print"></i>  <span i18n="Reciept No"></span></th>
                                                                <th class="text-left"><i class="fa fa-calendar"></i>  <span i18n="Booking Date"></span></th>
                                                                <th class="text-left"><i class="fa fa-fire "></i><span i18n="Package Name"></span></th>
                                                                <th class="text-left"><i class="fa fa-leaf "></i><span i18n="Devotee"></span></th>
                                                                <th class="text-left"><i class="fa fa-inr "></i><span i18n="Amount"></span></th>
                                                                <th class="text-right">
                                                                    Status
                                                                </th>
                                                                <th>Action</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody  data-ng-repeat="pk in puja_package_report">
                                                            <tr>
                                                                <td class="text-left">{{pk.TrackingNo}}</td>
                                                                <td class="text-left">{{pk.ReceiptNo}}</td>
                                                                <td class="text-left">{{pk.BookingDate |date:'longDate'}}</td>
                                                                <td class="text-left">{{pk.PackageName}}</td>
                                                                <td class="text-left">{{pk.FirstName}} {{pk.LastName}}</td>
                                                                <td class="text-left">{{show_in_amount(pk.PackageAmount)}}</td>
                                                                <td class="text-center">
                                                                    <span data-ng-if="pk.OrderStatus==0;"> <b class="color-info"> <span data-i18n="New"></span>  </b> </span>
                                                                    <span data-ng-if="pk.OrderStatus==1" > <b class="color-danger"> <span data-i18n="In Progress"></span> </b>  </span>
                                                                    <span data-ng-if="pk.OrderStatus==2" > <b class="color-success"> <span data-i18n="Completed"></span> </b>  </span>
                                                                </td>
                                                                <td>
                                                                    <button ng-if="!pk.open" class="btn btn-xs btn-warning  text-center" style="font-size: 12px; text-align:center !important; "  ng-click="pk.open=!pk.open" >
                                                                        <i class="fa fa-folder-o"></i> <span data-i18n="View Pujas"></span>
                                                                    </button>
                                                                    <button ng-if="pk.open"class="btn btn-xs btn-warning  text-center" style="font-size: 12px; text-align:center !important; "   ng-click="pk.open=!pk.open"  >
                                                                        <i class="fa fa-folder-open"></i> <span data-i18n="Show less"></span>
                                                                    </button>



                                                                </td>

                                                            </tr>
                                                            <tr ng-if="pk.open">
                                                                <td></td>
                                                                <td colspan="7">
                                                                    <table class="table  table-advance"  >
                                                                        <thead>
                                                                        <tr>
                                                                            <th class="text-left"><i class="fa fa-home"></i>  <span i18n="Temple"></span></th>
                                                                            <th class="text-left"><i class="fa fa-fax"></i>  <span i18n="TrackingNo"></span></th>
                                                                            <th class="text-left"><i class="fa fa-print"></i>  <span i18n="RecieptNo"></span></th>
                                                                            <th class="text-left"><i class="fa fa-calendar"></i>  <span i18n="PujaDate"></span></th>
                                                                            <th class="text-left"><i class="fa fa-fire "></i><span i18n="Puja"></span></th>
                                                                            <th class="text-left"><i class="fa fa-leaf "></i><span i18n="Beneficiary"></span></th>
                                                                            <th class="text-left"><i class="fa fa-inr "></i><span i18n="Rate"></span></th>
                                                                            <th class="text-center">Status</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody  data-ng-repeat="puja in pk.pujas">
                                                                        <tr>
                                                                            <td class="text-left">{{puja.TempleName}}</td>
                                                                            <td class="text-left">{{puja.TempleTrackingNo}}</td>
                                                                            <td class="text-left">{{puja.TempleReceiptNo}}</td>
                                                                            <td class="text-left">{{puja.PujaDate |date:'longDate'}}</td>
                                                                            <td class="text-left">{{puja.PujaName}}</td>
                                                                            <td class="text-left">{{puja.DevoteeName}}</td>
                                                                            <td class="text-left">{{show_in_amount(puja.Rate)}}</td>
                                                                            <td class="text-center">{{puja.StatusDesc}} </td>

                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>

                                                            </tr>
                                                            </tbody>
                                                            <tfoot data-ng-if="puja_package_report.length">
                                                            <tr>
                                                                <th class="text-left"></th>
                                                                <th class="text-left" class="text-right" colspan="2"><i class="fa fa-print"></i>  <span i18n="Total Packages Count : "></span>{{puja_package_report.length}}</th>
                                                                <th class="text-right" colspan="2"><span i18n="Total Amount : "></span> <i class="fa fa-inr "></i> {{show_in_amount(get_sum_of_key_for_array(puja_package_report,'PackageAmount'))}}</th>
                                                                <th class="text-right"></th>
                                                            </tr>
                                                            </tfoot>
                                                        </table>




                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                            <accordion-group >
                                <accordion-heading> <div class="row"><span style="padding-left: 2%">MANAGE PUJA PACKAGES </span></div>
                                    <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                </accordion-heading>
                                <div class="" data-ng-controller="Admin_PujaController"  ng-init="load_packages()">

                                    <div class="col-md-12">

                                        <div class="col-md-offset-4 col-md-5">

                                            <div class=" col-sm-12 form-group">
                                                <input type="text"
                                                       placeholder="search "
                                                       class="form-control input-sm"
                                                       data-ng-model="PujaSearchKeywords">
                                                <!--data-ng-keyup="PujaSearch()">-->
                                                <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <a class="btn btn-warning btn-xs text-center" style="font-size: 12px; text-align:center !important; "  ng-click="open_package_details_modal('1')" >
                                                <i class="fa fa-plus-circle"></i> <span data-i18n="Add New Package"></span>
                                            </a>
                                        </div>
                                        <br><br>
                                        <div class="panel panel-body">
                                            <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><span data-i18n="ID"></span></th>
                                                <th><span data-i18n="Package Name"></span></th>
                                                <th class="text-center"><span data-i18n="Package Rate"></span></th>
                                                <th class="text-center"><span data-i18n="View"></span></th>
                                                <th class="text-center"><span data-i18n="Status"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody data-ng-repeat="p in  puja_package_list | filter:PujaSearchKeywords" class="content">
                                            <tr >
                                                <td>
                                                    <span ng-bind="p.PackageID"> </span>
                                                </td>
                                                <td>
                                                    <b><span ng-bind="p.PackageName"> </span></b>
                                                </td>
                                                <td>
                                                    <b><span ng-bind="p.PackageAmount"> </span></b>
                                                </td>
                                                <td>
                                                    <button ng-if="!p.open" class="btn btn-xs btn-warning  text-center" style="font-size: 12px; text-align:center !important; "  ng-click="load_package_details_by_id(p)" >
                                                        <i class="fa fa-folder-o"></i> <span data-i18n="View Pujas"></span>
                                                    </button>
                                                    <button ng-if="p.open"class="btn btn-xs btn-warning  text-center" style="font-size: 12px; text-align:center !important; "  ng-click="load_package_details_by_id(p)" >
                                                        <i class="fa fa-folder-open"></i> <span data-i18n="Show less"></span>
                                                    </button>



                                                </td>

                                                <td class="text-center">
                                                    <span data-ng-show="p.PackageStatus"> <b class="color-success"> <span data-i18n="Active"></span>  </b> </span>
                                                    <span data-ng-hide="p.PackageStatus" > <b class="color-danger"> <span data-i18n="Deleted"></span> </b>  </span>
                                                </td>

                                            </tr>
                                            <tr ng-if="p.open">
                                                <td></td>
                                                <td colspan="4">
                                                    <div class="panel panel-body">
                                                        <table class="table table-bordered table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th class=""><span data-i18n="Temple"></span></th>
                                                                <th class="text-center"><span data-i18n="ID"></span></th>
                                                                <th><span data-i18n="Name"></span></th>
                                                                <th class="text-center"><span data-i18n="Rate"></span></th>
                                                                <th class="text-center"><span data-i18n="Status"></span></th>
                                                                <th class="text-center"><span data-i18n="Action"></span></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody class="content">
                                                            <tr data-ng-repeat="puja in  p.pujas">

                                                                <td>
                                                                <span>
                                                                   <b>{{puja.TempleName}}</b>
                                                                </span>

                                                                </td>
                                                                <td>
                                                                <span>
                                                                    {{puja.PujaID}}
                                                                </span>

                                                                </td>
                                                                <td>
                                                                <span>
                                                                    <b>{{puja.PujaName}}</b>
                                                                </span>

                                                                </td>
                                                                <td>
                                                                <span>
                                                                    <b>{{puja.Amount}}</b>
                                                                </span>

                                                                </td>
                                                                <td class="text-center">
                                                                    <span data-ng-show="puja.Status"> <b class="color-success"> <span data-i18n="Active"></span>  </b> </span>
                                                                    <span data-ng-hide="puja.Status" > <b class="color-danger"> <span data-i18n="Deleted"></span> </b>  </span>
                                                                </td>

                                                                <td>
                                                                    <a href="" class="btn btn-xs btn-info"  >
                                                                        <i class="fa fa-trash"></i> <span data-i18n="Delete"></span>
                                                                    </a>

                                                                </td>

                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        </div>


                                    </div>


                                </div>
                                <hr>
                            </accordion-group>
                        </accordion>

                    </div>
                    <div style="border-bottom: solid #e7e9eb 1px; padding-top: 0px;margin: 20px;"></div>
                </div>
            </div>
        </div>





    </div>


</div>



