<div data-ng-controller="Admin_PujaController" ng-init="onPujaPageLoad()">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">Events</div></a>
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>


                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:13%;"ng-click="submenuselect(allreporthide);settinghide=false;">SETTINGS</div>-->
                <a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>
                <a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>
            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <accordion class="ui-accordion-MainPuja">
                    <accordion-group style="margin: 5px;" is-open="true">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD PUJA</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box" data-ng-controller="Admin_PujaController" >

                            <form  class="form-horizontal"  ng-submit="add_puja()">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Puja"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Puja"
                                                               ng-model="pujaData"
                                                               typeahead="user as user.PujaName for user in masterPujaList| filter:$viewValue"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Deity"></span></label>
                                                <div class="col-md-8">
                                                    <select class="form-control input-medium" ng-model="DeityValue" ng-options="user as user.DeityName for user in allDeityList " >
                                                        <option value="" data-i18n="Select deity"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Puja Type"></span></label>
                                                <div class="col-md-8">
                                                    <select class="select2_category form-control input-medium"  ng-model="PujaType" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value="" data-i18n="Puja Type"></option>
                                                        <option value="{{Users.PujaTypeID}}" ng-repeat="Users in PujaTypeValues">{{Users.Type}}</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Amount"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control input-medium"
                                                           placeholder="Amount"
                                                           ng-model="Amount"
                                                           required>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="List Index"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control input-medium" ng-model="ListIndex"  placeholder="Index Number">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Disable Puja"></span></label>
                                                <div class="col-md-8">
                                                    <div class="radio-list">
                                                        <label class="radio-inline">
                                                            <input type="radio" ng-model="Status" name="optionsRadios2" value="0"/>
                                                            <span data-i18n="">Yes</span>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" ng-model="Status" name="optionsRadios2" value="1" />
                                                            <span data-i18n="No"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Enable Counts"></span></label>
                                                <div class="col-md-8">
                                                    <div class="radio-list">
                                                        <label class="radio-inline">
                                                            <input type="radio" ng-model="EnableCount" name="optionsRadios3" value="1"/>
                                                            <span data-i18n="Yes"></span>
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="radio" ng-model="EnableCount" name="optionsRadios3" value="0" />
                                                            <span data-i18n="No"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button type="submit" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="well well-lg"  collapse="!isCollapsed"style="width:40%;margin-top: 5px;">
                                <form class="form-horizontal">

                                    <div class="form-body">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Select Puja"></span></label>
                                                <div class="col-md-8">
                                                    <select name="foo" class="select2me form-control input-medium" ng-model="PujaID" required="">
                                                        <option value="" data-i18n="Puja Type"></option>
                                                        <option value="{{Users.PujaID}}" ng-repeat="Users in PujaList">{{Users.PujaName}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Sub Puja"></span></label>
                                                <div class="col-md-8">

                                                    <input type="text" class="form-control input-medium" placeholder="Sub Puja Name" required=""  ng-model="SubTypeName">

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row ENDS HERE -->

                                    <!--FORM BODY ENDS HERE -->

                                    <div class="form-actions fluid">

                                        <div class="row">

                                            <div class="col-md-10">
                                                <div class="col-md-offset-3 col-md-10">
                                                    <button data-ng-click="AddSubPuja()" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                            </div>

                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12"><div class="col-md-6 text-center">
                                <a href="" ng-click="isCollapsed = !isCollapsed" ><span data-i18n="click here to Add sub puja"></span></a>

                            </div></div>


                        </div>
                        <hr>
                        <div class="row">
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  PUJA LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body"style="border: 2px red" ng-controller="Admin_PujaController">
                                        <div class="col-md-offset-7 col-md-5 ">

                                            <div class=" col-sm-10 form-group">
                                                <input type="text"
                                                       placeholder="search "
                                                       class="form-control"
                                                       data-ng-model="PujaSearchKeywords">
                                                <!--data-ng-keyup="PujaSearch()">-->
                                                <!--<span class="icon csr fa  fa-search" data-ng-click="PujaSearch()"></span>-->

                                            </div>


                                        </div>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th class="text-center"><span data-i18n="ID"></span></th>
                                                <th><span data-i18n="Name"></span></th>
                                                <th class="text-center"><span data-i18n="Rate"></span></th>
                                                <th class="text-center"><span data-i18n="Status"></span></th>
                                                <th class="text-center"><span data-i18n="Edit"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="puja in  PujaList | filter:PujaSearchKeywords">
                                                <td>
                        <span>
                           {{puja.PujaID}}
                        </span>
                                                </td>
                                                <td>
                        <span>
                            {{puja.PujaName}}
                        </span>
                                                    <!--<span data-ng-show="puja.ShowControls">-->
                                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                                    <!--</span>-->
                                                </td>
                                                <td class="text-right">
                        <span data-ng-hide="puja.ShowControls">
                            {{puja.Amount}}
                        </span>
                                                    <span data-ng-show="puja.ShowControls">
                          <input type="text" data-ng-model="puja.Amount"class="form-control">
                        </span>
                                                </td>

                                                <td class="text-center">
                                                    <span data-ng-show="puja.Status"> <b class="color-success"> <span data-i18n="Active"></span>  </b> </span>
                                                    <span data-ng-hide="puja.Status" > <b class="color-danger"> <span data-i18n="Deleted"></span> </b>  </span>
                                                </td>
                                                <td>
                        <span data-ng-show="puja.ShowControls">
                            <a href=""
                               data-ng-click="ChangePujaStatus(puja,1)"
                               class="btn btn-xs btn-info">
                                <i class="fa fa-check-square-o"></i> <span data-i18n="Update"></span>
                            </a>
							<a href="" data-ng-click="puja.ShowControls=false" class="btn btn-xs btn-danger">
                                <i class="fa fa-times-circle-o"></i> <span data-i18n="Cancel"></span>
                            </a>
                        </span>
                                                    <span data-ng-hide="puja.ShowControls">
                            <span style="margin-left: 20px;"
                                  ng-click="puja.ShowControls=true"
                                  popover-placement="bottom"
                                  popover-trigger="mouseenter"
                                  popover="click here to edit pooja"
                                  popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i> <span data-i18n="Edit"></span>
                                </a>
							 </span>
                            <span  data-ng-hide="puja.Status"
                                   style="margin-left: 5px;"
                                   ng-click="ChangePujaStatus(puja,1)"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter"
                                   popover="click here to enable this pooja"
                                   popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-success">
                                    <i class="fa fa-plus-square"></i> <span data-i18n="Enable"></span>
                                </a>
							 </span>
                            <span  data-ng-show="puja.Status"
                                   style="margin-left: 5px;"
                                   ng-click="ChangePujaStatus(puja,0)"
                                   popover-placement="bottom"
                                   popover-trigger="mouseenter"
                                   popover="click here to delete pooja"
                                   popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-info">
                                    <i class="fa fa-trash-o"></i> <span data-i18n="Delete"></span>
                                </a>
							 </span>
                        </span>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group></accordion>

                        </div>
                    </accordion-group>
                    <accordion-group style="margin: 5px;">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  EDIT PUJA</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box"style="border: 2px red" data-ng-controller="Admin_PujaController">
                            <form  class="form-horizontal"  ng-submit="puja_update()">

                                <div class="form-body">

                                    <!--<h3 class="form-section">Add Puja</h3>-->

                                    <!--RAW 1ST CLASS START HERE -->
                                    <div class="row">

                                        <!--COLUMNS SPAN 1 RAW -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Puja Name"></span></label>
                                                <div class="col-md-8">
                                                    <select class="form-control " ng-model="pujaUpdateData" ng-change="populatePujaData()"  ng-options="user as user.PujaName for user in PujaList " >
                                                        <option value="" data-i18n="Select puja"> </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->

                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Amount"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control "
                                                           placeholder="Puja amount"
                                                           ng-model="pujaUpdateData.Amount">

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Language"></span></label>
                                                <div class="col-md-8">
                                                    <select class="form-control " ng-model="pujaUpdateData.LanguageID" ng-change="getPujaDataByLanguage()"  ng-options="user.languages_id as user.languages_name for user in allLanguages " >
                                                        <option value="" data-i18n="select language"></option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>

                                        <!-- COLOUMN /span 1 ST RAW ENDS HERE -->
                                        <div class="col-md-6">
                                            <label class="control-label col-md-4"><span data-i18n="Puja  Status"></span> </label>
                                            <div class="col-md-8">
                                                <div class="">
                                                    <label class="col-md-6">
                                                        <input type="radio" ng-model="pujaUpdateData.Status" name="optionsRadios2" value="0"/>
                                                        <span data-i18n="Online"></span>
                                                    </label>
                                                    <label class="col-md-6">
                                                        <input type="radio" ng-model="pujaUpdateData.Status" name="optionsRadios2" value="0" />
                                                        <span data-i18n="Offline"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">



                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    <span data-i18n="Description"></span>
                                                </label>
                                                <div class="col-md-8">
                                <textarea
                                        class="form-control "
                                        placeholder="Description"
                                        ng-model="pujaUpdateData.Desc"
                                        id="multi_lang_input_puja_desc"
                                        rows="5">

                                </textarea>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label col-md-4"><span data-i18n="Enable Count "></span> </label>
                                            <div class="col-md-8">
                                                <div class="">
                                                    <label class="col-md-6">
                                                        <input type="radio" ng-model="pujaUpdateData.EnableCount" name="optionsRadios2" value="1"/>
                                                        <span data-i18n="YES"></span>
                                                    </label>
                                                    <label class="col-md-6">
                                                        <input type="radio" ng-model="pujaUpdateData.EnableCount" name="optionsRadios2" value="0" />
                                                        <span data-i18n="NO"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!--/span-->

                                        <!--<div class="col-md-6">-->
                                            <!--<label class="control-label col-md-4"><span data-i18n="Online Booking"></span> </label>-->
                                            <!--<div class="col-md-8">-->
                                                <!--<div class="">-->
                                                    <!--<label class="col-md-6">-->
                                                        <!--<input type="radio" ng-model="pujaUpdateData.onlinebookingstatus" name="bookingradios" value="0"/>-->
                                                        <!--<span data-i18n="Enable"></span>-->
                                                    <!--</label>-->
                                                    <!--<label class="col-md-6">-->
                                                        <!--<input type="radio" ng-model="pujaUpdateData.onlinebookingstatus" name="bookingradios" value="1" />-->
                                                        <!--<span data-i18n="Disable"></span>-->
                                                    <!--</label>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    </div>
                                    <div class="row">
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="control-label col-md-4">-->
                                                    <!--<span data-i18n="Booking Start Date"></span>-->
                                                <!--</label>-->
                                                <!--<div class="col-md-8">-->
                                <!--<input type="date"-->
                                        <!--class="form-control "-->
                                        <!--placeholder="Description"-->
                                        <!--ng-model="pujaUpdateData.fromdate">-->

                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<label class="control-label col-md-4">-->
                                                    <!--<span data-i18n="Booking End Date"></span>-->
                                                <!--</label>-->
                                                <!--<div class="col-md-8">-->
                                <!--<input type="date"-->
                                        <!--class="form-control "-->
                                        <!--placeholder="todate"-->
                                        <!--ng-model="pujaUpdateData.todate">-->

                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    </div>


                                    <div class="form-actions fluid">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="col-md-offset-6 col-md-6">
                                                    <button type="submit" class="btn btn-primary"><span data-i18n="Update"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>

                                            <!--<div class="col-md-6">-->
                                            <!--</div>-->

                                        </div>

                                    </div>

                                </div>

                            </form>

                        </div>


                    </accordion-group>
                    <accordion-group style="margin: 5px;">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  UPDATE PUJA RULE</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box"style="border: 2px red" data-ng-controller="Admin_TempleHistoryController">
                            <form  class="form-horizontal" >

                                <div class="form-body">

                                    <!--<h3 class="form-section">Add Puja</h3>-->

                                    <!--RAW 1ST CLASS START HERE -->
                                    <div class="row">

                                        <!--COLUMNS SPAN 1 RAW -->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Puja Name"></span></label>
                                                <div class="col-md-8">
                                                    <select class="form-control " ng-model="pujaUpdateData" ng-change="setpujadata(pujaUpdateData)"  ng-options="user as user.PujaName for user in PujaList " >
                                                        <option value="" data-i18n="Select puja"> </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/span-->


                                    </div>


                                    <div class="row">



                                        <!--/span-->

                                        <!--/span-->

                                        <div class="col-md-6">
                                            <label class="control-label col-md-4"><span data-i18n="Online Booking"></span> </label>
                                            <div class="col-md-8">
                                                <div class="">
                                                    <label class="col-md-6">
                                                        <input type="radio" ng-model="generaldata.onlinebookingstatus" name="bookingradios" value="0"/>
                                                        <span data-i18n="Enable"></span>
                                                    </label>
                                                    <label class="col-md-6">
                                                        <input type="radio" ng-model="generaldata.onlinebookingstatus" name="bookingradios" value="1" />
                                                        <span data-i18n="Disable"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    <span data-i18n="Booking Start Date"></span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="date"
                                                           class="form-control "
                                                           placeholder="Description"
                                                           ng-model="generaldata.bookingfromdate">

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    <span data-i18n="Booking End Date"></span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="date"
                                                           class="form-control "
                                                           placeholder="todate"
                                                           ng-model="generaldata.bookingtodate">

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-actions fluid">

                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="col-md-offset-6 col-md-6">
                                                    <button data-ng-click="generaltab('updatepujarule');" class="btn btn-primary"><span data-i18n="Update"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>

                                            <!--<div class="col-md-6">-->
                                            <!--</div>-->

                                        </div>

                                    </div>

                                </div>

                            </form>

                        </div>


                    </accordion-group>


                </accordion>

            </div>

        </div>
    </div>
</div>

