
<div data-ng-controller="admincontroller"ng-init="loadreviews()">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box selected">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box ">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row">
                <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:11%; "ng-click="showpage('approval')">APPROVAL</div>
                <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:14%;" ng-click="showpage('statusupdate')">STATUS UPDATE</div>
                <div class="col-md-1 box adminmenu selected " style="margin-top: 5px;margin-right: 5px;width:14%; "ng-click="showpage('reviews')">CHECK REVIEWS</div>
                <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:16%;" ng-click="showpage('sendmail')">SEND NOTIFICATION</div>

            </div>

            <div class="adminbox"style="width: 95%;min-height: 400px;">
                <div>
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD REVIEW</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-body" >
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th><span data-i18n="Name"></span></th>
                                        <th><span data-i18n="Image"></span></th>
                                        <th class="text-center"><span data-i18n="Review"></span></th>
                                        <th class="text-center"><span data-i18n=""></span></th>
                                    </tr>
                                    </thead>
                                    <tbody class="content ">
                                    <tr >

                                        <td>
                        <span>
                            <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Name"
                                                               ng-model="customerdata.customername"
                                                               class="form-control"
                                                               required="">
                                                    </div>

                        </span>
                                            <!--<span data-ng-show="puja.ShowControls">-->
                                            <!--<input type="text" data-ng-model="puja.PujaName" class="form-control">-->
                                            <!--</span>-->
                                        </td>
                                        <td>
                                            <div class="input-group">
                                                <input type="file" file-model="myFile"/><br><br>
                                            </div>

                                        </td>
                                        <td >

                           <div class="input-group">
                                                        <input type="text"
                                                               placeholder="Review"
                                                               ng-model="customerdata.review"
                                                               class="form-control"
                                                               required="">
                                                    </div>


                                        </td>

                                        <td align="center">
                                            <!--<button style="border-radius: 5px;" ng-click="editmode=true;updatereview(users,'review');">DELETE</button>-->
                                            <button ng-click="addreview(myFile);">Save</button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>



                        </accordion-group>
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  REVIEW LIST</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-body" >
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th><span data-i18n="Name"></span></th>
                                        <th><span data-i18n="Image"></span></th>
                                        <th class="text-center"><span data-i18n="Review"></span></th>
                                        <th class="text-center"><span data-i18n=""></span></th>
                                    </tr>
                                    </thead>
                                    <tbody class="content" data-ng-repeat="users in  reviews ">
                                    <tr >

                                        <td>
                        <span>
                            {{users.MessageHeader}}
                        </span>
                                            <!--<span data-ng-show="puja.ShowControls">-->
                                            <!--<input type="text" data-ng-model="puja.PujaName" class="form-control">-->
                                            <!--</span>-->
                                        </td>
                                        <td>
                                            <img src="{{imageurl}}{{users.MessageImagePath}}"class="img-responsive"style="height: 150px;width: 300px;">
                                        </td>
                                        <td >
                        <span>
                            {{users.MessageBody}}
                        </span>

                                        </td>

                                        <td align="center">
                                            <button style="border-radius: 5px;" ng-click="editmode=true;updatereview(users,'review');">DELETE</button>
                                            <!--<button ng-click="editmode=false;updatedevotee();">Save</button>-->
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>



                        </accordion-group>
                    </accordion>


                </div>

            </div>

        </div>
    </div>

</div>



