<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box selected">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row">
                <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:11%; "ng-click="showpage('approval')">APPROVAL</div>
                <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:14%;" ng-click="showpage('statusupdate')">STATUS UPDATE</div>
                <div class="col-md-1 box adminmenu  " style="margin-top: 5px;margin-right: 5px;width:14%; "ng-click="showpage('reviews')">CHECK REVIEWS</div>
                <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:16%;" ng-click="showpage('sendmail')">SEND NOTIFICATION</div>

            </div>

            <div class="adminbox"style="width: 95%;min-height: 400px;"ng-controller="Admin_TaskController"ng-init="loadIncompletedPuja();">

                <div >
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                      Status Update</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="row">


                                    <div class="panel-body" data-ng-show="NoIncompletedPujaTextHide">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr style="max-width: 1%">
                                                <th >
                                                    <span>Order Number</span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-fire"></i> <span>Puja</span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-user"></i> <span >Devotee</span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-calendar"></i> <span >Date</span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-truck"></i> <span >Shipping</span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-check-square-o"></i> <span>Status</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="content" data-ng-repeat="puja in IncompletedPujaList">

                                            <tr>

                                                <td>
                                                    {{puja.TrackingNo}}
                                                </td>
                                                <td >
                                                   <span style=""> {{puja.PujaName}}</span>
                                                </td>
                                                <td>
                                                    {{puja.DevoteeName}}
                                                </td>
                                                <td>
                                                    {{puja.PujaDate|date:'mediumDate'}}
                                                </td>
                                                <td>
                                                    {{shippingOptions[puja.ShippingID]}}
                                                </td>
                                                <td>
                                                    {{puja.StatusDesc| lowercase | capitalize}}
                                                </td>
                                            </tr>
                                            <tr>

                                                <td colspan="2" class="text-right">
                                                    <div >
                                                        <select class="form-control" data-ng-model="puja.PujaStatus" required data-ng-switch="puja.PostalStatus" data-ng-change="populateDescription(puja)">
                                                            <option value="0" selected data-i18n="Select new status"></option>
                                                            <option value="17" data-i18n="BOOKING COMPLETE"ng-if="isassisted"></option>
                                                            <option value="2" data-i18n="BOOKING RECEIVED"></option>
                                                            <option value="6" data-ng-switch-when="0" data-i18n="PUJA COMPLETE POSTAGE PENDING"></option>
                                                            <option value="7" data-ng-switch-when="0" data-i18n="PUJA COMPLETE POSTAGE COMPLETE"></option>
                                                            <option value="1" data-i18n="PUJA COMPLETED"></option>
                                                            <option value="16"data-i18n="PUJA DELAYED"></option>
                                                            <option value="3" data-i18n="PUJA CANCELLED"></option>
                                                        </select>
                                                    </div>
                                                </td>
                                                <td colspan="3">
                                                    <form  data-ng-submit="ChangePujaStatus(puja)">
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <textarea placeholder="Type Message" data-ng-model="puja.PujaStatusMessage" required  class="form-control"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="text-center">
                                                                <div class="form-group">
                                                                    <button type="submit"  class="btn btn-info btn-w-l"><span i18n="Update"></span></button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </form>
                                                </td>


                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="callout callout-info" data-ng-hide="NoIncompletedPujaTextHide">
                                        <p><span i18n="{{NoIncompletedPujaText}}"></span></p>
                                    </div>

                            </div>


                        </accordion-group>
                    </accordion>
                </div>

            </div>


        </div>
    </div>

</div>
<script type="text/ng-template" id="sendreceipt.html">
    <div class="col-md-12"style="background-color: whitesmoke;padding: 30px;">  <div class="col-md-6"> <input class="btn btn-info btn-w-l" type="file" file-model="myFile"/></div>
        <div class="col-md-6">
            <button ng-click="uploadFile(myFile)"style="float:right"  class="btn btn-info btn-w-l"><span i18n="Send Mail"></span></button>
        </div></div>
</script>