<div class="page page-allTemples "  style="margin-top: 5px; min-height: 450px;" data-ng-controller="FranchiseeDashboardController">
    <!--<div class="divider"></div>-->

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-4">
                <div class="input-group"  >
                    <input type="text"
                           class="form-control"
                           datepicker-popup="dd-MM-yyyy"
                           ng-model="reportDates.from"
                           is-open="opened[1]"
                           min="minDate"
                           max="'2050-12-31'"
                           datepicker-options="dateOptions"
                           datepicker-append-to-body="true"
                           close-text="Close"
                           ng-click="open($event,1)">
                    <span class="input-group-addon  "><span class="">to</span></span>
                    <input type="text"
                           class="form-control"
                           datepicker-popup="dd-MM-yyyy"
                           ng-model="reportDates.to"
                           is-open="opened[2]"
                           min="'reportDates.from'"
                           max="'2050-12-31'"
                           datepicker-options="dateOptions"
                           datepicker-append-to-body="true"
                           close-text="Close"
                           ng-click="open($event,2)">
                </div>
            </div>
            <div class="col-md-2" >
                <div class="" >
                    <button class="btn btn-info btn-w-md" ng-click="Showfranchiseereport(reporttype,reportDates)" ><span i18n="show"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div style="border-bottom: solid #e7e9eb 1px; padding-top: 0px"></div>

    <div class="row">
        <div class="col-md-12" ng-if="pujareport">
            <div class="panel font_b ">
                <div class="panel-body" ng-repeat="(key,value) in pujareportgroup">
                    <div class="row ">
                        <div class="col-md-8 bg-franchiseboardListitem" >
                            <div class="col-md-12 col-sm-6 col-xs-12 padding-top-18 " ng-switch="reporttype" style="padding-bottom: 15px">
                                <span class="fa font_b text_bold " ng-switch-when="1"> {{key}} </span>
                                <span class="fa font_b text_bold " ng-switch-when="2"> {{key|date:'fullDate'}} </span>
                            </div>
                        </div>
                        <div class="col-md-4 bg-franchiseboardListitem" ng-switch="reporttype" >
                            <div class="text-right col-md-12 col-sm-6 col-xs-12 padding-top-18 " style="padding-bottom: 10px">
                                <span class="fa fa-print envelope mouse-point" data-ng-click="printpujareport('print',value,key)" ng-switch-when="1"></span>&nbsp;&nbsp;&nbsp;
                                <span class="fa fa-file-text envelope iconcolor mouse-point" data-ng-click="printpujareport('pdf',value,key)" ng-switch-when="1"></span>&nbsp;&nbsp; &nbsp;
                                <span class="fa fa-file-excel-o envelope mouse-point" data-ng-click="printpujareport('excel',value,key)" ng-switch-when="1"></span>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px; margin-bottom: 15px; padding-left: 10px; padding-right: 10px" ng-switch="reporttype">
                        <div class="col-md-6 col-sm-6 col-xs-12 text-left " ng-switch-when="1">
                            <span class="font_b text-normal"> {{value[0].PostOffice}}, {{value[0].District}},{{value[0].State}} </span><br>
                            <span class="font_b text-normal"> {{value[0].Email}} </span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right " ng-switch-when="1">
                            <span class="font_b "> {{value[0].PhoneWired}} </span> <br>
                            <span class="font_b "> {{value[0].PhoneMobile}} </span>
                        </div>
                    </div>

                    <table class="table  table-advance"  >
                        <thead>
                        <tr ng-switch="reporttype">
                            <th ng-switch-when="1" class="text-left"><i class="fa fa-calendar"></i>  <span i18n="puja date"></span></th>
                            <th ng-switch-when="2" class="text-left"><i class="fa fa-calendar"></i>  <span i18n="temple"></span></th>
                            <th class="text-left"><i class="fa fa-fire "></i><span i18n="puja"></span></th>
                            <th class="text-left"><i class="fa fa-leaf "></i><span i18n="diety"></span></th>
                            <th class="text-right"><i class="fa fa-sort-numeric-asc "></i> <span i18n="count"></span></th>
                        </tr>
                        </thead>
                        <tbody  data-ng-repeat="puja in value">
                        <tr ng-switch="reporttype">
                            <td ng-switch-when="1" class="text-left">{{puja.PujaDate|date:'longDate'}}</td>
                            <td ng-switch-when="2" class="text-left">{{puja.TempleName}}</td>
                            <td class="text-left">{{puja.PujaName}}</td>
                            <td class="text-left">{{puja.Deity}}</td>
                            <td class="text-right">{{puja.PujaCount}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<section data-ng-include="'views/footer.html'"
         class="content-container">
</section>
