<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">Events</div></a>
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>


                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:13%;"ng-click="submenuselect(allreporthide);settinghide=false;">SETTINGS</div>-->
                <a href="user"><div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>
                <a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>
            </div>

            <div class="adminbox"style="width: 95%;min-height: 400px;">
                 <div>
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  USER REGISTRATION</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-body" ng-controller="Admin_NewUserController">
                                <div class="page-signup bg-temple-puja">
                                    <form ng-submit="AddUserAdmin()" class="form-horizontal" id="submit_form">
                                        <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="Email"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="email"
                                                       class="form-control"
                                                       name="email"
                                                       ng-model="userLoginID"
                                                       data-ng-blur="CheckUsernameAvailability()"
                                                       required
                                                       placeholder=" your email address will be Username"/> {{Availability}}

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="Password"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7" >
                                                <input type="password"
                                                       class="form-control"
                                                       name="Password"
                                                       ng-model="userPassword"
                                                       id="submit_form_password" required
                                                       placeholder="Provide your password."
                                                        />

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="Confirm Password"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="password"
                                                       class="form-control"
                                                       name="ConfirmPassword"
                                                       ng-model="userConfirmPassword"
                                                       required
                                                       placeholder="Confirm your password"
                                                       ng-blur="ValidatePassword()"/>

				<span class="error">
				<span data-i18n="{{PasswordStatus}}"></span>
				</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="First Name"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       class="form-control"
                                                       name="FirstName"
                                                       ng-model="userFirstName"
                                                       placeholder="Provide your first name"
                                                       required/>

                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">
                                                    <span data-i18n="Last Name"></span>
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="LastName"
                                                           ng-model="userLastName"
                                                           placeholder="Provide your last name"
                                                           required/>

                                                </div>
                                            </div></div>
                                        <div class="col-md-4">

                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="Access Type"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">

                                                <select ng-model="userAccessType"class="form-control" required >
                                                    <option value="" data-i18n="AccessType"></option>
                                                    <option value="{{AccessType.AccessTypeID}}" ng-repeat="AccessType in AccessTypeValues">{{AccessType.TypeName}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="Designation"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <select ng-model="userTitleID" class="form-control" required>
                                                    <option value="" data-i18n="Designation"></option>
                                                    <option value="{{Designation.TitleID}}" ng-repeat="Designation in DesignationValues  |filter:{'LanguageID': SessionLanguageID }">{{Designation.Title}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="Address"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       class="form-control"
                                                       name="address"
                                                       ng-model="userHouseName"
                                                       placeholder="Provide your House Name"
                                                       required />
                                            </div>

                                        </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="address"
                                                           ng-model="userHouseNumber"
                                                           placeholder="Provide your House Number"
                                                           required />

                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">
                                                    <span data-i18n="Post"></span>
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="city"
                                                           ng-model="userPostOffice"
                                                           placeholder="Enter your nearest postoffice"
                                                           required/>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">



                                        <div class="form-group">
                                            <label class="control-label col-md-5">
                                                <span data-i18n="City/District"></span>
                                                <span class="required">*</span>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="text"
                                                       class="form-control"
                                                       name="city"
                                                       ng-model="userDistrict"
                                                       placeholder=" Provide your city/district"
                                                       required/>

                                            </div>
                                        </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">
                                                    <span data-i18n="State"></span>
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="city"
                                                           ng-model="userState"
                                                           placeholder="Provide your State"
                                                           required/>

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5"><span data-i18n="Country"></span></label>
                                                <div class="col-md-7">
                                                    <select ng-model="userCountry" id="country_list"  class="form-control">
                                                        <option value="">Select Country</option>
                                                        <option value="Afghanistan">Afghanistan</option>
                                                        <option value="Albania">Albania</option>
                                                        <option value="Algeria">Algeria</option>
                                                        <option value="American Samoa">American Samoa</option>
                                                        <option value="Andorra">Andorra</option>
                                                        <option value="Angola">Angola</option>
                                                        <option value="Anguilla">Anguilla</option>
                                                        <option value="Antarctica">Antarctica</option>
                                                        <option value="Argentina">Argentina</option>
                                                        <option value="Armenia">Armenia</option>
                                                        <option value="Aruba">Aruba</option>
                                                        <option value="Australia">Australia</option>
                                                        <option value="Austria">Austria</option>
                                                        <option value="AZ">Azerbaijan</option>
                                                        <option value="BS">Bahamas</option>
                                                        <option value="BH">Bahrain</option>
                                                        <option value="BD">Bangladesh</option>
                                                        <option value="BB">Barbados</option>
                                                        <option value="BY">Belarus</option>
                                                        <option value="BE">Belgium</option>
                                                        <option value="BZ">Belize</option>
                                                        <option value="BJ">Benin</option>
                                                        <option value="BM">Bermuda</option>
                                                        <option value="BT">Bhutan</option>
                                                        <option value="BO">Bolivia</option>
                                                        <option value="BA">Bosnia and Herzegowina</option>
                                                        <option value="BW">Botswana</option>
                                                        <option value="BV">Bouvet Island</option>
                                                        <option value="BR">Brazil</option>
                                                        <option value="IO">British Indian Ocean Territory</option>
                                                        <option value="BN">Brunei Darussalam</option>
                                                        <option value="BG">Bulgaria</option>
                                                        <option value="BF">Burkina Faso</option>
                                                        <option value="BI">Burundi</option>
                                                        <option value="KH">Cambodia</option>
                                                        <option value="CM">Cameroon</option>
                                                        <option value="CA">Canada</option>
                                                        <option value="CV">Cape Verde</option>
                                                        <option value="KY">Cayman Islands</option>
                                                        <option value="CF">Central African Republic</option>
                                                        <option value="TD">Chad</option>
                                                        <option value="CL">Chile</option>
                                                        <option value="CN">China</option>
                                                        <option value="CX">Christmas Island</option>
                                                        <option value="CC">Cocos (Keeling) Islands</option>
                                                        <option value="CO">Colombia</option>
                                                        <option value="KM">Comoros</option>
                                                        <option value="CG">Congo</option>
                                                        <option value="CD">Congo, the Democratic Republic of the</option>
                                                        <option value="CK">Cook Islands</option>
                                                        <option value="CR">Costa Rica</option>
                                                        <option value="CI">Cote d'Ivoire</option>
                                                        <option value="HR">Croatia (Hrvatska)</option>
                                                        <option value="CU">Cuba</option>
                                                        <option value="CY">Cyprus</option>
                                                        <option value="CZ">Czech Republic</option>
                                                        <option value="DK">Denmark</option>
                                                        <option value="DJ">Djibouti</option>
                                                        <option value="DM">Dominica</option>
                                                        <option value="DO">Dominican Republic</option>
                                                        <option value="EC">Ecuador</option>
                                                        <option value="EG">Egypt</option>
                                                        <option value="SV">El Salvador</option>
                                                        <option value="GQ">Equatorial Guinea</option>
                                                        <option value="ER">Eritrea</option>
                                                        <option value="EE">Estonia</option>
                                                        <option value="ET">Ethiopia</option>
                                                        <option value="FK">Falkland Islands (Malvinas)</option>
                                                        <option value="FO">Faroe Islands</option>
                                                        <option value="FJ">Fiji</option>
                                                        <option value="FI">Finland</option>
                                                        <option value="FR">France</option>
                                                        <option value="GF">French Guiana</option>
                                                        <option value="PF">French Polynesia</option>
                                                        <option value="TF">French Southern Territories</option>
                                                        <option value="GA">Gabon</option>
                                                        <option value="GM">Gambia</option>
                                                        <option value="GE">Georgia</option>
                                                        <option value="DE">Germany</option>
                                                        <option value="GH">Ghana</option>
                                                        <option value="GI">Gibraltar</option>
                                                        <option value="GR">Greece</option>
                                                        <option value="GL">Greenland</option>
                                                        <option value="GD">Grenada</option>
                                                        <option value="GP">Guadeloupe</option>
                                                        <option value="GU">Guam</option>
                                                        <option value="GT">Guatemala</option>
                                                        <option value="GN">Guinea</option>
                                                        <option value="GW">Guinea-Bissau</option>
                                                        <option value="GY">Guyana</option>
                                                        <option value="HT">Haiti</option>
                                                        <option value="HM">Heard and Mc Donald Islands</option>
                                                        <option value="VA">Holy See (Vatican City State)</option>
                                                        <option value="HN">Honduras</option>
                                                        <option value="HK">Hong Kong</option>
                                                        <option value="Hungary">Hungary</option>
                                                        <option value="Iceland">Iceland</option>
                                                        <option value="India">India</option>
                                                        <option value="Indonesia">Indonesia</option>
                                                        <option value="IR">Iran (Islamic Republic of)</option>
                                                        <option value="IQ">Iraq</option>
                                                        <option value="IE">Ireland</option>
                                                        <option value="IL">Israel</option>
                                                        <option value="IT">Italy</option>
                                                        <option value="JM">Jamaica</option>
                                                        <option value="JP">Japan</option>
                                                        <option value="JO">Jordan</option>
                                                        <option value="KZ">Kazakhstan</option>
                                                        <option value="KE">Kenya</option>
                                                        <option value="KI">Kiribati</option>
                                                        <option value="KP">Korea, Democratic People's Republic of</option>
                                                        <option value="KR">Korea, Republic of</option>
                                                        <option value="KW">Kuwait</option>
                                                        <option value="KG">Kyrgyzstan</option>
                                                        <option value="LA">Lao People's Democratic Republic</option>
                                                        <option value="LV">Latvia</option>
                                                        <option value="LB">Lebanon</option>
                                                        <option value="LS">Lesotho</option>
                                                        <option value="LR">Liberia</option>
                                                        <option value="LY">Libyan Arab Jamahiriya</option>
                                                        <option value="LI">Liechtenstein</option>
                                                        <option value="LT">Lithuania</option>
                                                        <option value="LU">Luxembourg</option>
                                                        <option value="MO">Macau</option>
                                                        <option value="MK">Macedonia, The Former Yugoslav Republic of</option>
                                                        <option value="MG">Madagascar</option>
                                                        <option value="MW">Malawi</option>
                                                        <option value="MY">Malaysia</option>
                                                        <option value="MV">Maldives</option>
                                                        <option value="ML">Mali</option>
                                                        <option value="MT">Malta</option>
                                                        <option value="MH">Marshall Islands</option>
                                                        <option value="MQ">Martinique</option>
                                                        <option value="MR">Mauritania</option>
                                                        <option value="MU">Mauritius</option>
                                                        <option value="YT">Mayotte</option>
                                                        <option value="MX">Mexico</option>
                                                        <option value="FM">Micronesia, Federated States of</option>
                                                        <option value="MD">Moldova, Republic of</option>
                                                        <option value="MC">Monaco</option>
                                                        <option value="MN">Mongolia</option>
                                                        <option value="MS">Montserrat</option>
                                                        <option value="MA">Morocco</option>
                                                        <option value="MZ">Mozambique</option>
                                                        <option value="MM">Myanmar</option>
                                                        <option value="NA">Namibia</option>
                                                        <option value="NR">Nauru</option>
                                                        <option value="NP">Nepal</option>
                                                        <option value="NL">Netherlands</option>
                                                        <option value="AN">Netherlands Antilles</option>
                                                        <option value="NC">New Caledonia</option>
                                                        <option value="NZ">New Zealand</option>
                                                        <option value="NI">Nicaragua</option>
                                                        <option value="NE">Niger</option>
                                                        <option value="NG">Nigeria</option>
                                                        <option value="NU">Niue</option>
                                                        <option value="NF">Norfolk Island</option>
                                                        <option value="MP">Northern Mariana Islands</option>
                                                        <option value="NO">Norway</option>
                                                        <option value="OM">Oman</option>
                                                        <option value="PK">Pakistan</option>
                                                        <option value="PW">Palau</option>
                                                        <option value="PA">Panama</option>
                                                        <option value="PG">Papua New Guinea</option>
                                                        <option value="PY">Paraguay</option>
                                                        <option value="PE">Peru</option>
                                                        <option value="PH">Philippines</option>
                                                        <option value="PN">Pitcairn</option>
                                                        <option value="PL">Poland</option>
                                                        <option value="PT">Portugal</option>
                                                        <option value="PR">Puerto Rico</option>
                                                        <option value="QA">Qatar</option>
                                                        <option value="RE">Reunion</option>
                                                        <option value="RO">Romania</option>
                                                        <option value="RU">Russian Federation</option>
                                                        <option value="RW">Rwanda</option>
                                                        <option value="KN">Saint Kitts and Nevis</option>
                                                        <option value="LC">Saint LUCIA</option>
                                                        <option value="VC">Saint Vincent and the Grenadines</option>
                                                        <option value="WS">Samoa</option>
                                                        <option value="SM">San Marino</option>
                                                        <option value="ST">Sao Tome and Principe</option>
                                                        <option value="SA">Saudi Arabia</option>
                                                        <option value="SN">Senegal</option>
                                                        <option value="SC">Seychelles</option>
                                                        <option value="SL">Sierra Leone</option>
                                                        <option value="SG">Singapore</option>
                                                        <option value="SK">Slovakia (Slovak Republic)</option>
                                                        <option value="SI">Slovenia</option>
                                                        <option value="SB">Solomon Islands</option>
                                                        <option value="SO">Somalia</option>
                                                        <option value="ZA">South Africa</option>
                                                        <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                        <option value="ES">Spain</option>
                                                        <option value="LK">Sri Lanka</option>
                                                        <option value="SH">St. Helena</option>
                                                        <option value="PM">St. Pierre and Miquelon</option>
                                                        <option value="SD">Sudan</option>
                                                        <option value="SR">Suriname</option>
                                                        <option value="SJ">Svalbard and Jan Mayen Islands</option>
                                                        <option value="SZ">Swaziland</option>
                                                        <option value="SE">Sweden</option>
                                                        <option value="CH">Switzerland</option>
                                                        <option value="SY">Syrian Arab Republic</option>
                                                        <option value="TW">Taiwan, Province of China</option>
                                                        <option value="TJ">Tajikistan</option>
                                                        <option value="TZ">Tanzania, United Republic of</option>
                                                        <option value="TH">Thailand</option>
                                                        <option value="TG">Togo</option>
                                                        <option value="TK">Tokelau</option>
                                                        <option value="TO">Tonga</option>
                                                        <option value="TT">Trinidad and Tobago</option>
                                                        <option value="TN">Tunisia</option>
                                                        <option value="TR">Turkey</option>
                                                        <option value="TM">Turkmenistan</option>
                                                        <option value="TC">Turks and Caicos Islands</option>
                                                        <option value="TV">Tuvalu</option>
                                                        <option value="UG">Uganda</option>
                                                        <option value="UA">Ukraine</option>
                                                        <option value="AE">United Arab Emirates</option>
                                                        <option value="GB">United Kingdom</option>
                                                        <option value="US">United States</option>
                                                        <option value="UM">United States Minor Outlying Islands</option>
                                                        <option value="UY">Uruguay</option>
                                                        <option value="UZ">Uzbekistan</option>
                                                        <option value="VU">Vanuatu</option>
                                                        <option value="VE">Venezuela</option>
                                                        <option value="VN">Viet Nam</option>
                                                        <option value="VG">Virgin Islands (British)</option>
                                                        <option value="VI">Virgin Islands (U.S.)</option>
                                                        <option value="WF">Wallis and Futuna Islands</option>
                                                        <option value="EH">Western Sahara</option>
                                                        <option value="YE">Yemen</option>
                                                        <option value="ZM">Zambia</option>
                                                        <option value="ZW">Zimbabwe</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">
                                                    <span data-i18n="Pincode"></span>
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           class="form-control"
                                                           ng-model="userPIN"
                                                           placeholder="Provide your pin code number"
                                                           required />

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-5">
                                                    <span data-i18n="Mobile"></span>
                                                    <span class="required">*</span>
                                                </label>
                                                <div class="col-md-7">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="phone"
                                                           ng-model="userPhoneMobile"
                                                           placeholder="Provide your mobile number"
                                                           required />

                                                </div>
                                            </div></div>

<div class="col-md-10"></div><div class="col-md-1"><button type="submit" class="btn btn-info button-submit">
                                        <span data-i18n="Create Account"></span> <i class="m-icon-swapright m-icon-white"></i>
                                    </button></div>
                                    </form>
                                </div></div>
                        </accordion-group>

                    </accordion>
                     <accordion class="ui-accordion-MainPuja">
                     <accordion-group style="margin: 5px;" is-open="true">
                         <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  USER LIST</span></div>
                             <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                         </accordion-heading>
                         <div class="panel-body" >
                             <table class="table table-bordered table-striped">
                                 <thead>
                                 <tr>
                                     <th><span data-i18n="Name"></span></th>
                                     <th class="text-center"><span data-i18n="Designation"></span></th>
                                     <th class="text-center"><span data-i18n="Access Type"></span></th>
                                     <th class="text-center"><span data-i18n="Email"></span></th>
                                 </tr>
                                 </thead>
                                 <tbody class="content">
                                 <tr data-ng-repeat="event in  adminusers ">

                                     <td>
                        <span>
                            {{event.FirstName}}
                        </span>
                                         <!--<span data-ng-show="puja.ShowControls">-->
                                         <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                         <!--</span>-->
                                     </td>
                                     <td >
                        <span>
                            {{event.designation}}
                        </span>

                                     </td>
                                     <td>
                                         {{event.accesstype }}
                                     </td>
                                     <td>
                                         {{event.LoginID }}
                                     </td>

                                 </tr>
                                 </tbody>
                             </table>
                         </div>



                     </accordion-group>
</accordion>

                </div>

            </div>

        </div>
    </div>

</div>
