<div class="col-md-2">
    <a href="allreports"> <div class="col-md-11 box">
        <i class="fa fa-dashboard t"></i>
        <span data-i18n="Reports"></span>
    </div></a>
    <a href="approval">  <div class="col-md-11 box">
        <i class="fa fa-cogs"></i>
        <span data-i18n="Tasks"></span>
    </div></a>
    <a href="deity"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
        <i class="fa fa-tasks"></i>
        <span data-i18n="Settings"></span>
    </div></a>
</div>
<div class="col-md-10">
    <div class="col-lg-12"style="min-height: 40px;">
        <div class="row" >
            <div class="row" >
                <!--<a href="announcements">  <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>-->
                <!--<a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">Events</div></a>-->
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <!--<a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>-->
                <a href="about"> <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>-->
                <!--<a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>-->
            </div>
        </div>
        <div class="adminbox"style="width: 95%;min-height: 400px;" >
            <div data-ng-controller="Admin_TempleHistoryController" ng-init="loadHistory()" >

                <div style="margin: 5px;">
                    <div class="panel panel-info"  >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer " data-ng-click="historyTab=!historyTab"><span class="fa  fa-bookmark"></span> <span data-i18n="Description"></span></div>
                        <div class="panel-body" collapse="!historyTab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="AddHistory=!AddHistory"><span class="fa fa-bookmark"></span> <span data-i18n="Add Description"></span></div>
                                <div class="panel-body" collapse="!AddHistory">
                                    <form class="form-horizontal" data-ng-submit="AddHistory()">

                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Category"></span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"
                                                       data-ng-model="historydata.CategoryName"
                                                       typeahead="Category for Category in AboutCategory | filter:$viewValue">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Display Sequence"></span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="historydata.DisplaySequence">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Description"></span></label>
                                            <div class="col-sm-10">
                                                <textarea name=""  class="form-control" rows="4" data-ng-model="historydata.Description"></textarea>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary"><span data-i18n="Save"></span></button>
                                            <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="panel panel-info"   >
                                <div class="panel-heading  mouse-pointer" data-ng-click="ListHistory=!ListHistory"><span class="fa  fa-bars"> </span>  <span data-i18n="List Description"></span> </div>
                                <div class="panel-body"  collapse="ListHistory">
                                    <form class="form-horizontal">
                                        <div class="form-group"ng-init="templeAboutLanguageID=SessionLanguageID">
                                            <label for="" class="col-sm-4"><span data-i18n="Please select a input language"></span></label>
                                            <div class="col-sm-4">
                                                <select class="form-control " ng-model="templeAboutLanguageID"  ng-options="user.languages_id as user.languages_name for user in allLanguages " >
                                                    <option value="" data-i18n="select language"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <accordion close-others="true" class="ui-accordion ui-accordion-revenue">
                                        <accordion-group heading="{{key}}" ng-repeat="(key,value) in TempleAboutCategories">
                                            <div class="col-md-12"  ng-repeat="user in value| filter:{LanguageID:templeAboutLanguageID}">
                                                <div class="callout callout-info">
                                                    <p> Language :{{allLanguages[user.LanguageID-1].languages_name}}</p>
                                                    <p data-ng-hide="user.isCollapsed">{{user.Description}}</p>
                                                    <div collapse="!user.isCollapsed">
                                                        <div class="col-md-12">
                                                            <textarea name=""  data-ng-model="user.Description" id="templeAboutInput_{{user.LanguageID}}_{{user.PlaceHolderID}}_{{user.CategoryDisplaySequence}}" class="form-control" rows="4"></textarea>
                                                            <span class="pull-right" style="padding-top: 10px;">
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="user.isCollapsed = !user.isCollapsed"> <i class="fa fa-times-circle"></i> <span data-i18n="Close"></span>  </button>
                                    <button class="btn btn-info btn-xs" ng-click="user.isCollapsed = !user.isCollapsed;UpdateHistory(user,0)"> <i class="fa fa-edit"></i>  <span data-i18n="Update "></span> </button>
                                   </span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                <span class="pull-right"  data-ng-hide="user.isCollapsed">
                                    <button class=" btn fa fa-edit" data-ng-click="setInputLanguage('TempleAbout',user)">Edit</button> &nbsp;&nbsp;<button class="btn fa fa-trash-o" ng-click="UpdateHistory(user,1)">Delete</button>
                                </span>
                                                    </div>


                                                </div>

                                            </div>
                                        </accordion-group>
                                    </accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info"  >
                        <div style="color:#ffffff;background-color: #e38749"class="panel-heading  mouse-pointer" data-ng-click="galleryTab=!galleryTab"><span class="fa fa-camera"> </span> <span data-i18n="Gallery"></span></div>
                        <div class="panel-body" collapse="!galleryTab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="AddGallery=!AddGallery"><span class="fa fa-camera"> </span> <span data-i18n="Add Gallery Images"></span></div>
                                <div class="panel-body"  collapse="AddGallery">
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <form name="gallery" data-ng-submit="UploadGalleryImage(ImagePath)">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-4"><span data-i18n="Choose Type"></span></label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" data-ng-model="TypeID">
                                                                <option value="" data-i18n="Choose Type"></option>
                                                                <option value="1" >Banner(width:height ratio should be 1.8:1)</option>
                                                                <option value="2" data-i18n="Image"></option>
                                                                <option value="4" data-i18n="Video"></option>

                                                                <!--<option value="3">Thumbnail</option>-->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4"><span data-i18n="Title"></span></label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" data-ng-model="ImageTitle"  placeholder="enter image title here">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4"><span data-i18n="Description"></span></label>
                                                        <div class="col-md-8">
                                                            <textarea class="form-control" rows="5" ng-model="ImageDescription" placeholder="enter image description here"></textarea>
                                                            <br>
                                                        </div>
                                                        <label class="col-md-4" ng-show="TypeID==4"><span data-i18n="Url"></span></label>
                                                        <div class="col-md-8"  ng-show="TypeID==4">
                                                            <input class="form-control" rows="5" ng-model="Url" placeholder="eg: https://www.youtube.com/embed/tgbNymZ7vqY">
                                                            <br>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="col-md-12 text-right">
                                                                <button class="btn  btn-primary" type="submit"><span data-i18n="Save"></span></button>
                                                                <button class="btn  btn-primary" type="reset"><span data-i18n="Clear"></span></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group pull-left" ng-show="TypeID!=4">
                                                        <label  class="col-md-6"><span data-i18n="Select Image"></span></label>
                                                        <div class="col-md-6">
                                                            <input type="file" ngChange="ValidateSize(myFile)" file-model="myFile"/><br><br>
                                                            <!--<input type="file" title="Choose File" data-ng-file-model="ImagePath" data-ui-file-upload class="btn-primary">-->
                                                            Image size should be less than 200 KB
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <div class="col-md-12">
                                                            <img class="gallery "style="max-height: 400px; max-width: 400px;" data-ng-src="{{image}}">
                                                        </div>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info" ng-init="LoadImages()" >
                                <div class="panel-heading  mouse-pointer" data-ng-click="ListGallery=!ListGallery"><span class="fa fa-th"> </span> <span data-i18n="List  Gallery Images"></span></div>
                                <div class="panel-body"  collapse="!ListGallery">
                                    <table class="table">
                                        <tr>
                                            <th><span data-i18n="#"></span></th>
                                            <th><span data-i18n="Title"></span></th>
                                            <th><span data-i18n="Image"></span></th>
                                            <th><span data-i18n="Description"></span></th>
                                            <th><span data-i18n="Delete"></span></th>
                                        </tr>
                                        <tr data-ng-repeat="list in TempleImages |filter:{'TypeID':'2','LanguageID': SessionLanguageID }">
                                            <th>{{$index+1}}</th>
                                            <th>{{list.Title}}</th>
                                            <th><img data-ng-src="{{baseUrl}}{{list.Url}}" style="max-width: 250px;max-height: 250px;"></th>
                                            <th>{{list.Desc}}</th>
                                            <th><button data-ng-click="deleteImage(list)"   style="border-radius: 5px" > Delete </button></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel panel-info" >
                                <div class="panel-heading  mouse-pointer" data-ng-click="ListVideo=!ListVideo"><span class="fa fa-th"> </span> <span data-i18n="List  Gallery Videos"></span></div>
                                <div class="panel-body"  collapse="!ListVideo">
                                    <table class="table">
                                        <tr>
                                            <th><span data-i18n="#"></span></th>
                                            <th><span data-i18n="Video Title"></span></th>
                                            <th><span data-i18n="Video URL"></span></th>
                                            <th><span data-i18n="Description"></span></th>
                                            <th><span data-i18n="Delete"></span></th>
                                        </tr>
                                        <tr data-ng-repeat="list in TempleImages |filter:{'TypeID':'4','LanguageID': SessionLanguageID }">
                                            <th>{{$index+1}}</th>
                                            <th>{{list.Title}}</th>
                                            <th>

                                            </th>
                                            <th>{{list.Desc}}</th>
                                            <th><button data-ng-click="deleteImage(list)"   style="border-radius: 5px" > Delete </button></th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="panel panel-info" ng-init="LoadImages()" >
                                <div class="panel-heading  mouse-pointer" data-ng-click="ListBanner=!ListBanner"><span class="fa fa-th"> </span> <span data-i18n="List Banner Images"></span></div>
                                <div class="panel-body"  collapse="!ListBanner">
                                    <table class="table">
                                        <tr>
                                            <th><span data-i18n="#"></span></th>
                                            <th><span data-i18n="Title"></span></th>
                                            <th><span data-i18n="Image"></span></th>
                                            <th><span data-i18n="Description"></span></th>
                                            <th><span data-i18n="Delete"></span></th>
                                        </tr>
                                        <tr data-ng-repeat="list in TempleImages |filter:{'TypeID':'1','LanguageID': SessionLanguageID }">
                                            <th>{{$index+1}}</th>
                                            <th>{{list.Title}}</th>
                                            <th><img data-ng-src="{{baseUrl}}{{list.Url}}" style="max-width: 250px;max-height: 250px;"></th>
                                            <th>{{list.Desc}}</th>
                                            <th><span class="fa fa-trash-o btn" data-ng-click="deleteImage(list)"></span> </th>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info" ng-init="loadTempleRule()" >
                        <div style="color:#ffffff;background-color: #e38749" class=" panel-heading  mouse-pointer" data-ng-click="rulesTab=!rulesTab"><span class="fa fa-bullhorn"> </span> <span data-i18n="Temples associated"></span> </div>
                        <div class="panel-body" collapse="!rulesTab">

                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="AddTempleRules=!AddTempleRules"><span class="fa fa-bullhorn"> </span> <span data-i18n="Add Temples associated"></span> </div>
                                <div class="panel-body" collapse="!AddTempleRules">
                                    <form class="form-horizontal" data-ng-submit="addTempleRule(templeRuleData)">


                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Display Sequence"></span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="templeRuleData.ruleType" required="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Description"></span></label>
                                            <div class="col-sm-10">
                                                <textarea name=""  class="form-control" rows="4" data-ng-model="templeRuleData.description" required=""></textarea>
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-primary"><span data-i18n="Save"></span></button>
                                            <button type="button" class="btn btn-primary" data-ng-click="templeRuleData=''"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="panel panel-info" ng-init="templeRulesLanguageID=SessionLanguageID"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="ListTempleRules=!ListTempleRules"><span class="fa fa-th"> </span> List Temples associated</div>
                                <div class="panel-body"  collapse="!ListTempleRules">
                                    <!--<form class="form-horizontal">-->

                                        <!--<div class="form-group">-->
                                            <!--<label for="" class="col-sm-4"><span data-i18n="Please select a input language"></span></label>-->
                                            <!--<div class="col-sm-4">-->
                                                <!--<select class="form-control " ng-model="templeRulesLanguageID"  ng-options="user.languages_id as user.languages_name for user in allLanguages ">-->
                                                    <!--<option value="" data-i18n="select language"></option>-->
                                                <!--</select>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</form>-->
                                    <div class="well-lg " >
                                        <div class="" ng-repeat="rule in templeRules| filter:{LanguageID:templeRulesLanguageID}">
                                            <div class="text-small  col-md-12" collapse="rule.isCollapsed">
                                                <p>{{rule.MessageBody}}
                                                    <button class=" btn-xs " data-ng-click="setInputLanguage('TempleRule',rule)"><i class="fa fa-edit"></i> <span data-i18n="edit"></span></button>
                                                    <button class=" btn-xs " data-ng-click="updateTempleRule(rule,1)"><i class="fa fa-trash-o"></i> <span data-i18n="delete"></span></button>
                                                </p>
                                            </div>
                                            <div class="text-small row" collapse="!rule.isCollapsed">
                                                <div class="col-md-10">
                                                    <textarea class="form-control" ng-model="rule.MessageBody" id="templeRuleInput_{{rule.LanguageID}}_{{rule.ContentID}}"></textarea>
                                                </div>
                                                <div class="col-md-2">
                                                    <p>
                                                        <button class=" btn-xs btn-info" data-ng-click="updateTempleRule(rule,0)" ><i class="fa fa-save"></i>  <span data-i18n="save"></span></button>
                                                        <button class=" btn-xs " data-ng-click="rule.isCollapsed=!rule.isCollapsed"><i class="fa fa-times-circle-o"></i> <span data-i18n="cancel"></span></button>
                                                    </p>

                                                </div>
                                                <div class="col-md-12"><br></div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info"  >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer" data-ng-click="pujaTimingsTab=!pujaTimingsTab"><span class="fa fa-bell"> </span>  <span data-i18n="Location preferences"></span> </div>
                        <div class="panel-body" collapse="!pujaTimingsTab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="pujaTiming=!pujaTiming"><span class="fa fa-clock-o"> </span> <span data-i18n="Add Location preferences"></span></div>
                                <div class="panel-body" collapse="!pujaTiming">
                                    <form class="form-horizontal">

                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Preference"></span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="PujaTime.MessageHeader" placeholder="Preference ">
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button ng-click="addPujaTime(PujaTime)" class="btn btn-primary"><span data-i18n="Save"></span></button>
                                            <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="panel panel-info"   ng-init="loadPujaTime()">
                                <div class="panel-heading  mouse-pointer" data-ng-click="pujaTimingList=!pujaTimingList"><span class="fa fa-th"> </span> <span data-i18n="List Location preferences"></span></div>
                                <div class="panel-body"  collapse="!pujaTimingList">
                                    <div class="col-md-12" ng-init="pujaTimingLanguageID=SessionLanguageID">
                                        <table class="table">
                                            <thead>
                                            </thead>
                                            <tbody  data-ng-repeat="user in templePujaSchedule| filter:{LanguageID:pujaTimingLanguageID}">
                                            <tr ng-hide="user.isCollapsed">
                                                <td class="text-left time-color">{{$index+1}}</td>
                                                <td class="text-left time-color"> {{user.MessageHeader}}</td>
                                                <td class="text-right time-color text-small">
                                                    <p>
                                                        <button class=" btn-xs " data-ng-click="setInputLanguage('PujaSchedule',user)"><i class="fa fa-edit"></i> <span data-i18n="edit"></span></button>
                                                        <button class=" btn-xs " data-ng-click="updatePujaTime(user,1)"><i class="fa fa-trash-o"></i> <span data-i18n="delete"></span></button>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr ng-show="user.isCollapsed">
                                                <td class="text-left time-color">{{$index+1}}</td>
                                                <td class="text-left time-color">
                                                    <input type="text" class="form-control" id="pujaScheduleInput_{{user.LanguageID}}_{{user.ScheduleID}}" ng-model="user.MessageHeader">
                                                </td>
                                                <td class="text-right time-color text-small">
                                                    <p>
                                                        <button class=" btn-xs btn-info" data-ng-click="updatePujaTime(user,0)"><i class="fa fa-save"></i>  <span data-i18n="save"></span></button>
                                                        <button class=" btn-xs btn-success" data-ng-click="user.isCollapsed=!user.isCollapsed"><i class="fa fa-times-circle-o"></i> <span data-i18n="cancel"></span> </button>
                                                    </p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info" data-ng-controller="Admin_PujaController" ng-init="loadPuja()" >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                             data-ng-click="shippingchargestab=!shippingchargestab"><span class="fa fa-bell">
                        </span>  <span data-i18n="Puja Items Charge"></span> </div>
                        <div class="panel-body" collapse="!shippingchargestab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="shippingcharges=!shippingcharges">
                                    <span class="fa fa-clock-o"> </span> <span data-i18n="Add Puja Items Charge"></span>
                                </div><div class="panel-body" collapse="!shippingcharges">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">
                                            <span data-i18n="Puja Items Option"></span>
                                        </label>
                                        <div class="col-sm-10">
                                            <select name="foo" class="select2me form-control input-medium" ng-model="shipping.PujaID" required="">
                                                <option value="" data-i18n="Puja Type"></option>
                                                <option value="{{Users.PujaID}}" ng-repeat="Users in PujaList">{{Users.PujaName}}</option>
                                            </select>
                                            <!--<input type="text" class="form-control" data-ng-model="shipping.ShippingName" placeholder="Provide items Option eg:All items">-->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-2"><span data-i18n="Charge"></span></label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" data-ng-model="shipping.Amount" placeholder="Provide Item Charge  ">
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button ng-click="shipping.ShippingName=' ';addshippingcharge(shipping)" class="btn btn-primary"><span data-i18n="Save"></span>
                                        </button>
                                        <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                    </div>
                                </form>
                            </div>
                            </div>
                            <div class="panel panel-info"   ng-init="loadshippingcharge()">
                                <div class="panel-heading  mouse-pointer" data-ng-click="shippingchargelist=!shippingchargelist">
                                    <span class="fa fa-th"> </span> <span data-i18n="List Puja Items Charges"></span></div>
                                <div class="panel-body"  collapse="!shippingchargelist">
                                    <div class="col-md-12" >
                                        <table class="table">
                                            <tbody  data-ng-repeat="user in templeshippingcharges">
                                            <tr ng-hide="user.isCollapsed">
                                                <td class="text-left time-color">{{$index+1}}</td>
                                                <td class="text-left time-color" ng-repeat="Users in PujaList" ng-if="Users.PujaID==user.PujaID"> {{Users.PujaName}}</td>
                                                <td class="text-right time-color"> {{user.Amount}}</td>
                                                <td class="text-right time-color text-small">
                                                    <p>
                                                        <button class=" btn-xs " data-ng-click="setInputLanguage('PujaSchedule',user)">
                                                            <i class="fa fa-edit"></i> <span data-i18n="edit"></span></button>
                                                        <button class=" btn-xs " data-ng-click="updateshippingcharge(user,1)">
                                                            <i class="fa fa-trash-o"></i> <span data-i18n="delete">

                                                        </span></button></p></td></tr><tr ng-show="user.isCollapsed">
                                                <td class="text-left time-color">{{$index+1}}</td>
                                                <td class="text-left time-color" ng-repeat="Users in PujaList" ng-if="Users.PujaID==user.PujaID"> {{Users.PujaName}}</td>
                                                <td class="text-left time-color">
                                                <input type="text" class="form-control" ng-model="user.Amount">                                                         </td>                                                         <td class="text-right time-color text-small">                                                             <p>                                                                 <button class=" btn-xs btn-info" data-ng-click="updatePujaTime(user,0)"><i class="fa fa-save"></i>  <span data-i18n="save"></span></button>                                                                 <button class=" btn-xs btn-success" data-ng-click="user.isCollapsed=!user.isCollapsed"><i class="fa fa-times-circle-o"></i>
                                                <span data-i18n="cancel"></span></button></p></td></tr></tbody></table></div></div></div>
                        </div>
                    </div>
                    <div class="panel panel-info"  >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                             data-ng-click="facebooktab=!facebooktab"><span class="fa fa-bell">
                        </span>  <span data-i18n="Facebook Page"></span> </div>
                        <div class="panel-body" collapse="!facebooktab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="generaltab('loadfacebook');updatefacebook=!updatefacebook">
                                    <span class="fa fa-clock-o"> </span> <span data-i18n="Update Facebook Page"></span>
                                </div>
                                <div class="panel-body" collapse="!updatefacebook">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Facebook Page"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generaldata.facebookpage">
                                            </div></div>
                                        <div class="pull-right">
                                            <button ng-click="generaltab('updatefacebook')" class="btn btn-primary"><span data-i18n="Save"></span>
                                            </button>
                                            <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info"  >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                             data-ng-click="templatetab=!templatetab"><span class="fa fa-bell">
                        </span>  <span data-i18n="Template"></span> </div>
                        <div class="panel-body" collapse="!templatetab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="generaltab('loadtemplate');choosetemplate=!choosetemplate">
                                    <span class="fa fa-clock-o"> </span> <span data-i18n="Choose Template"></span>
                                </div>
                                <div class="panel-body" collapse="!choosetemplate">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Template"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <select class="form-control"data-ng-model="generaldata.selectedtemplate">
                                                    <option></option>
                                                    <option value="{{template.template}}" data-ng-repeat="template in templatelist| filter:{'category':'priest'}">{{template.name}}</option>
                                                </select>
                                            </div></div>
                                        <div class="pull-right">
                                            <button ng-click="generaltab('updatetemplate')" class="btn btn-primary"><span data-i18n="Save"></span>
                                            </button>
                                            <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info"  >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                             data-ng-click="addresstab=!addresstab;generaltab('loadaddress');"><span class="fa fa-bell">
                        </span>  <span data-i18n="Update Address"></span> </div>
                        <div class="panel-body" collapse="!addresstab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer">
                                    <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                                </div>
                                <div class="panel-body" >
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="HouseName"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generaldata.housename">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="StreetName"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generaldata.streetname">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Postoffice"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text"  class="form-control" data-ng-model="generaldata.postoffice">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Pin Code"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text"maxlength="6" class="form-control" data-ng-model="generaldata.postalcode">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="District"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generaldata.district">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="State"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generaldata.state">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Country"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generaldata.country">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Phonemobile"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"maxlength="10" data-ng-model="generaldata.phonemobile">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="PhoneWired"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="text"maxlength="12" class="form-control" data-ng-model="generaldata.phonewired">

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2">
                                                <span data-i18n="Email"></span>
                                            </label>
                                            <div class="col-sm-10">
                                                <input type="textarea" class="form-control" data-ng-model="generaldata.email">

                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button data-ng-click="generaltab('updateaddress')" class="btn btn-primary"><span data-i18n="Save"></span>
                                            </button>
                                            <button  class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info"data-ng-controller="admincontroller"  >
                        <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer" data-ng-click="downloadstab=!downloadstab"><span class="fa fa-bell"> </span>  <span data-i18n="Downloads"></span> </div>
                        <div class="panel-body" collapse="!downloadstab">
                            <div class="panel panel-info"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="download=!download"><span class="fa fa-clock-o"> </span> <span data-i18n="Add Downloads"></span></div>
                                <div class="panel-body" collapse="!download">
                                    <form class="form-horizontal">


                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Name"></span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generalparms.header" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="Description"></span></label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" data-ng-model="generalparms.desc" placeholder="desc">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="File"></span></label>
                                            <div class="col-sm-10">
                                                <input type="file" file-model="generalparms.filepath" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="" class="col-sm-2"><span data-i18n="End Date"></span></label>
                                            <div class="col-sm-10">
                                                <input type="date" data-ng-model="generalparms.enddate" class="form-control">
                                            </div>
                                        </div>
                                        <div class="pull-right">
                                            <button ng-click="generalcall('adddownload')" class="btn btn-primary"><span data-i18n="Save"></span></button>
                                            <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!--DV-10-->
                            <div class="panel panel-info"ng-init="loadContent('downloads')"  >
                                <div class="panel-heading  mouse-pointer" data-ng-click="listdownloads=!listdownloads"><span class="fa fa-clock-o"> </span> <span data-i18n="List Downloads"></span></div>
                                <div class="panel-body" collapse="!listdownloads">
                                    <table class="table">
                                        <thead>
                                        <tr ng-hide="user.isCollapsed">
                                            <td class="text-left time-color">#</td>
                                            <td class="text-left time-color"> Name</td>
                                            <td class="text-right time-color"> Description</td>
                                            <td class="text-right time-color"> EndDate</td>
                                            <td class="text-right time-color text-small">

                                            </td>
                                        </tr>
                                        </thead>
                                        <tbody data-ng-repeat="user in  downloads"ng-init="user.isCollapsed=false">
                                        <tr ng-hide="user.isCollapsed">
                                            <td class="text-left time-color">{{$index+1}}</td>
                                            <td class="text-left time-color"> {{user.MessageHeader}}</td>
                                            <td class="text-right time-color"> {{user.MessageBody}}</td>
                                            <td class="text-right time-color"> {{user.EndDate | date }}</td>
                                            <td class="text-right time-color text-small">
                                                <p>
                                                    <button class=" btn-xs " data-ng-click="setEditMode(user)"><i class="fa fa-edit"></i> <span data-i18n="edit"></span></button>
                                                    <button class=" btn-xs " data-ng-click="updateContent(user,'downloads','delete')"><i class="fa fa-trash-o"></i> <span data-i18n="delete"></span></button>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr ng-show="user.isCollapsed">
                                            <td class="text-left time-color">{{$index+1}}</td>
                                            <td class="text-left time-color"> {{user.MessageHeader}}</td>
                                            <td class="text-left time-color">
                                                <input type="text" class="form-control" ng-model="user.MessageBody">
                                            </td>
                                            <td class="text-left time-color">
                                                <input type="date" class="form-control" ng-model="user.EndDate">
                                            </td>
                                            <td class="text-right time-color text-small">
                                                <p>
                                                    <button class=" btn-xs btn-info" data-ng-click="updateContent(user,'downloads','update')" ><i class="fa fa-save"></i>  <span data-i18n="save"></span></button>
                                                    <button class=" btn-xs btn-success" data-ng-click="user.isCollapsed=!user.isCollapsed"><i class="fa fa-times-circle-o"></i> <span data-i18n="cancel"></span> </button>
                                                </p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--DV-10-->
                        </div>
                    </div>

                </div>
                <div class=""style="height: 50px;">

                </div>

            </div>
        </div>

    </div>
</div>


