<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box selected ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box " data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div ng-init="devaayanamadmin()">
            <div class="col-lg-12"style="min-height: 40px;">
                <div class="row">
                    <!--<div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%; ">DASHBOARD</div>-->
                    <a href="allreports">  <div class=" col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;" >FRANCHISEEBOARD</div></a>
                    <a href="settlement">   <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;">SETTLEMENT</div></a>
                    <a href="dashboard">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">STATUS</div></a>
                    <a href="adminreports">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:15%;">REPORTS</div></a>
                </div>

                <div class="adminbox"style="width: 95%;min-height: 400px;">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-4" style="margin: 10px;">  <select class="select2me form-control" ng-model="generalparms.selectedtemple" required>
                                <option value="0">All</option>
                                <option value="{{user.TempleID}}" ng-repeat="user in templelist">{{user.TempleName}}</option>
                            </select>
                            </div>
                            <div class="input-group" style="margin: 10px;"  >
                                <div class="input-group ui-datepicker"style="margin-right: 5px;" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd-MM-yyyy"
                                           ng-model="generalparms.fromdate"
                                           is-open="opened"
                                           min-date="minDate"
                                           max-date="'2050-12-31'"
                                           ng-click="open($event)"
                                           datepicker-options="dateOptions"
                                           datepicker-append-to-body="true"
                                           ng-required="true"
                                           close-text="Close"
                                           readonly="true"
                                           show-weeks="false"
                                           show-button-bar="false"
                                           tabindex="3">
                                    <!--date-disabled="disabled(date, mode)"-->
                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                </div>

                                <span class="input-group-addon  "style="border-radius: 5px;"><span class="">to</span></span>
                                <div style="margin-left:5px;"class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">

                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd-MM-yyyy"
                                           ng-model="generalparms.todate"
                                           is-open="opened"
                                           min-date="minDate"
                                           max-date="'2050-12-31'"
                                           ng-click="open($event)"
                                           datepicker-options="dateOptions"
                                           datepicker-append-to-body="true"
                                           ng-required="true"
                                           close-text="Close"
                                           readonly="true"
                                           show-weeks="false"
                                           show-button-bar="false"
                                           tabindex="3">
                                    <!--date-disabled="disabled(date, mode)"-->
                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info btn-w-md" ng-click="generalcall('loaddata')()"style="margin-top: 9px;" ><span i18n="show">show</span></button>
                        </div>

                    </div>
                    <div style="border-bottom: solid #e7e9eb 1px; padding-top: 0px;margin: 20px;"></div>
                   <div class="col-md-12" ng-show="showreport">
                       <div class="col-md-3">
Puja Completd : {{reportdata[1][0].pujacount}}

                       </div>
                       <div class="col-md-3">
Revenue : {{reportdata[2][0].revenue}}

                       </div>
                       <hr>

                   </div>
                </div>
            </div>
        </div>





    </div>


</div>



