<div data-ng-controller="Admin_CalendarController" ng-init="announcementPageLoad()">
    <div class="col-md-2" ng-show="davaayanamadmin">
        <a href="allreports"> <div class="col-md-11 box ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-2" ng-hide="davaayanamadmin">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row"ng-show="davaayanamadmin" >
                <a href="announcements">  <div class="col-md-1 box adminmenu selected" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="masterpuja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">MASTER</div></a>
                <a href="Advertisements">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS</div></a>
                <a href="darshanam">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO</div></a>
                <a href="general">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL</div></a>
                <a href="onboard">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ONBOARD</div></a>

            </div>
            <div class="row"ng-hide="davaayanamadmin" >
                <a href="announcements">  <div class="col-md-1 box adminmenu selected" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>


                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:13%;"ng-click="submenuselect(allreporthide);settinghide=false;">SETTINGS</div>-->
                <a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>
                <a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>
            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <div  class="row headerdiv" >
                    <h4 >ADD ALERT</h4> </div>
                            <div class="panel-body"style="margin:10px;border: groove 0.8px #e38749;border-radius: 5px;" >
                                <form  data-ng-submit="AddAlert()" class="form-horizontal">
                                    <div class="form-body">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label "><span data-i18n="Announcement"></span></label>
                                                    </div>

                                                    <div class="col-md-8">
                                                        <div class="col-sm-10">
                                                            <input type="text"
                                                                   class="form-control input-medium"
                                                                   ng-model="AlertName"
                                                                   placeholder="Enter title"
                                                                   required="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label">
                                                            <span data-i18n="Start Date"></span>
                                                        </label>
                                                    </div>

                                                    <div class="col-md-8">
                                                        <div class="col-sm-10 ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   data-ng-model="AlertStartDate"
                                                                   min-date="AlertStartDate"
                                                                   is-open="opened1"
                                                                   ng-click="open($event,'start')"
                                                                   datepicker-options="dateOptions"
                                                                   required=""
                                                                   data-ng-change="AlertEndDate=AlertStartDate">

                                                            <span class="icon csr fa  fa-calendar" data-ng-click="open($event,'start')"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label"><span data-i18n="Expiry Date"></span></label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-sm-10 ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   ng-model="AlertEndDate"
                                                                   min-date="AlertStartDate"
                                                                   is-open="opened2"
                                                                   ng-click="open($event,'end')"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   required=""
                                                                   close-text="Close" >
                                                            <span class="icon csr fa  fa-calendar" data-ng-click="open($event,'end')"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-md-2"><span data-i18n="Message"></span></label>
                                                <div class="col-md-10">
                            <textarea class="form-control input-medium"
                                      ng-model="AlertMessage"
                                      placeholder="Type message here"
                                      rows="8"
                                      required=""></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions fluid">

                                            <div class="row">

                                                <div class="col-md-10">
                                                    <div class="col-md-offset-3 col-md-10">
                                                        <button type="submit" class="btn btn-primary"><span data-i18n="Submit"></span></button>
                                                        <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </form>

                            </div>
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ANNOUNCEMENTS LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body" >
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th><span data-i18n="Name"></span></th>
                                                <th class="text-center"><span data-i18n="Message"></span></th>
                                                <th class="text-center"><span data-i18n="Expiry Date"></span></th>
                                                <th class="text-center"><span data-i18n="Delete"></span></th>
                                            </tr>
                                            </thead>
                                            <tbody class="content">
                                            <tr data-ng-repeat="alert in  AnnouncementList ">

                                                <td>
                        <span>
                            {{alert.MessageHeader}}
                        </span>
                                                    <!--<span data-ng-show="puja.ShowControls">-->
                                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                                    <!--</span>-->
                                                </td>
                                                <td class="text-right">
                        <span>
                            {{alert.MessageBody}}
                        </span>

                                                </td>
                                                <td>
                                                    {{alert.EndDate | limitTo:10}}
                                                </td>

                                                <td align="center">
                        <span>
							<a href=""  ng-click="updateAnnouncement($index,0)" class="btn btn-xs btn-danger">
                                <i class="fa fa-times-circle-o"></i> <span data-i18n="Delete"></span>
                            </a>
                        </span>


                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </accordion-group>
                            </accordion>


<div data-ng-click="editdiv=!editdiv" class="row headerdiv" >
   <h4 >EDIT ALERT</h4> </div>
                            <div class="panel-body"style="margin:10px;border: groove 0.8px #e38749;border-radius: 5px;" ng-show="editdiv" >
                                <form  data-ng-submit="updateAnnouncement($index,1)" class="form-horizontal">
                                    <div class="form-body">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-4 ">
                                                        <label class="control-label pull-right"><span data-i18n="Announcement"></span></label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-sm-10">
                                                            <select class="form-control input-medium"
                                                                    data-ng-model="UpdateAnnouncementData" ng-options="user as user.MessageHeader for user in AnnouncementList " >
                                                                <option value=""> <span data-i18n="select announcement"></span> </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4 ">
                                                        <label class="control-label pull-right"><span data-i18n="Expiry Date"></span></label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-sm-10 ui-datepicker">
                                                            <input type="text"
                                                                   class="form-control"
                                                                   datepicker-popup="dd/MM/yyyy"
                                                                   ng-model="UpdateAnnouncementData.EndDate"
                                                                   is-open="opened"
                                                                   ng-click="open($event)"
                                                                   datepicker-options="dateOptions"
                                                                   datepicker-append-to-body="true"
                                                                   ng-required="true"
                                                                   close-text="Close" >
                                                            <span class="icon csr fa  fa-calendar" data-ng-click="open($event)"></span>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-4">
                                                        <label class="control-label pull-right"><span data-i18n="Language"></span></label>
                                                    </div>
                                                    <div class="col-md-8">
                                                        <div class="col-sm-10">
                                                            <select class="form-control " ng-model="UpdateAnnouncementData.LanguageID" ng-change="getAnnouncementDataByLanguage()"  ng-options="user.languages_id as user.languages_name for user in allLanguages " >
                                                                <option value="" data-i18n="select language"></option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-2">
                                                    <label class="control-label "><span data-i18n="Title"></span></label>
                                                </div>
                                                <div class="col-md-10">
                                                    <input type="text"
                                                           class="form-control"
                                                           ng-model="UpdateAnnouncementData.MessageHeader"
                                                           placeholder="update announcement title"
                                                           id="multi_lang_input_announcement_title">

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-2"><span data-i18n="Message"></span></label>
                                                <div class="col-md-10">
                            <textarea class="form-control"
                                      ng-model="UpdateAnnouncementData.MessageBody"
                                      placeholder="Type message here"
                                      rows="8"
                                      id="multi_lang_input_announcement_desc"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions fluid">

                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="col-md-offset-3 col-md-10">
                                                        <button type="submit" class="btn btn-primary" ><span data-i18n="Update"></span></button>
                                                        <button type="button" class="btn btn-primary"  data-ng-click="updateAnnouncement($index,0)"><span data-i18n="Delete"></span></button>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </form>

                            </div>


</div>







            </div>

        </div>
    </div>

</div>
