<div ng-controller="Admin_TempleContactController">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">Events</div></a>
                <a href="deity">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>


                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">ABOUT</div></a>
                <!--<a href="user">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:13%;"ng-click="submenuselect(allreporthide);settinghide=false;">SETTINGS</div>-->
                <a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>
                <a href="contact"> <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>
            </div>


            <div class="adminbox"style="width: 95%;min-height: 400px;">
                <div class="row headerdiv" >
                    <h4 >TEMPLE CONTACT </h4> </div>
                            <div class="panel-box"style="margin: 10px;">
                                <form  class="form-horizontal">
                                    <div class="form-body">
                                         <div class="col-md-12"style="margin-bottom:15px;margin-top:5px;background-color: #002D92;height: 1px";></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Name"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="Contact Name" required ng-model="ContactName">

                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Designation"></span></label>
                                                    <div class="col-md-8">
                                                        <select ng-model="TitleID" required  class="form-control input-medium" >
                                                            <option value="" data-i18n="Designation"></option>
                                                            <option value="{{user.TitleID}}" ng-repeat="user in DesignationValues |filter:{'LanguageID': SessionLanguageID }">{{user.Title}}</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Address"></span> </label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" ng-model="HouseName" required  placeholder="House Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" ng-model="HouseNumber" placeholder="House Number">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="Streer Name" ng-model="StreetName" required >
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Post"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="Post Office" ng-model="PostOffice" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="State"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="State" ng-model="State" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="District"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="District" ng-model="District" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>

                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Post Code"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="Pin Code" ng-model="PIN" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Email"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control input-medium" placeholder="email address" ng-model="Email" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Mobile"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="Mobile Number" ng-model="PhoneMobile">
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label col-md-4"><span data-i18n="Land Line"></span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control input-medium" placeholder="Land Phone" ng-model="PhoneWired" >
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>


                                    </div>
                                    <div class="form-actions fluid">
                                        <div class="row">

                                            <div class="col-md-12">
                                                <div class="col-md-offset-8 col-md-3">
                                                    <button type="submit"ng-click="AddContact();" class="btn btn-primary"><span data-i18n="Submit"></span></button>
                                                    <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                            </div>

                                        </div>
                                    </div>
                                </form>

                            </div>
                <accordion class="ui-accordion-MainPuja">
                <accordion-group style="margin: 5px;" is-open="true">
                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  CONTACT LIST</span></div>
                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                    </accordion-heading>
                    <div class="panel-body" >
                        <table class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th><span data-i18n="Name"></span></th>
                                <th class="text-center"><span data-i18n="Designation"></span></th>
                                <th class="text-center"><span data-i18n="Mobile"></span></th>
                            </tr>
                            </thead>
                            <tbody class="content">
                            <tr data-ng-repeat="event in  templecontacts ">

                                <td>
                        <span>
                            {{event.ContactName}}
                        </span>
                                    <!--<span data-ng-show="puja.ShowControls">-->
                                    <!--<input type="text" data-ng-model="puja.PujaName"class="form-control">-->
                                    <!--</span>-->
                                </td>
                                <td >
                        <span>
                            {{event.designation}}
                        </span>

                                </td>
                                <td>
                                    {{event.Phone }}
                                </td>


                            </tr>
                            </tbody>
                        </table>
                    </div>



                </accordion-group>
                    </accordion>

            </div>



        </div>
    </div>

</div>
