<div data-ng-controller="Admin_TempleHistoryController">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="masterpuja">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">MASTER</div></a>
                <a href="Advertisements">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS</div></a>
                <a href="darshanam">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO</div></a>
                <a href="general">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL</div></a>
                <a href="onboard">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ONBOARD</div></a>

            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <accordion class="ui-accordion-MainPuja">
                    <accordion-group style="margin: 5px;" is-open="true">
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  ADD LOCALINFO</span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <div class="panel-box" ng-init="generaltab('loadtemplesforlocalinfo');" >
                            <form  class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Place Name"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               placeholder="eg:LISTING_BUSINESS_DATA_PALAKKAD"
                                                               ng-model="generaldata.businessplacename"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group" style="float: left">
                                                <label class="control-label col-md-4"><span data-i18n="Temple"></span></label>
                                                <div class="col-md-8">
                                                    <input type="text"
                                                           data-ng-blur="onchangetemplename(selectedtemple)"
                                                           ng-click="selectedtemple='';"
                                                           placeholder="Temple Name"
                                                           typeahead="options as options.TempleName for options in templelists"
                                                           ng-model="selectedtemple"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-1 col-md-10">
                                                    <button data-ng-click="generaltab('addlocalinfo');" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button data-ng-click="creategeneraldata();" class="btn btn-primary"><span data-i18n="Cancel"></span></button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <hr>
                        <div class="row">
                            <accordion class="ui-accordion-MainPuja">
                                <accordion-group style="margin: 5px;" is-open="true">
                                    <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  LOCAL INFO LIST</span></div>
                                        <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                    </accordion-heading>
                                    <div class="panel-body"style="border: 2px red">

                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Select Place
                                            </div>
                                            <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text"
                                                       data-ng-blur="onchangelocalinfoplace(selectedplace)"
                                                       ng-click="selectedplace='';"
                                                       placeholder="LocalInfo Name"
                                                       typeahead="options as options.Key for options in localinfolist"
                                                       ng-model="selectedplace"
                                                       class="form-control"
                                                       required="">
                                            </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Select Business
                                            </div>
                                            <div class="col-md-8">
                                            <div class="input-group">
                                                <input type="text"
                                                       data-ng-blur="onchangebusinessname(selectedbusiness)"
                                                       ng-click="selectedbusiness='';"
                                                       placeholder="LocalInfo Name"
                                                       typeahead="options as options.businessname for options in businesses"
                                                       ng-model="selectedbusiness"
                                                       class="form-control"
                                                       required="">
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12" style="height: 30px;"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Group
                                            </div>
                                            <div class="col-md-8">
                                            <div class="input-group">
                                                <select class="form-control " ng-model="businesses[selectedbusinessid].group" >
                                                    <option value="planner" data-i18n="Plan Your Visit"></option>
                                                    <option value="utilities" data-i18n="Utilities"></option>
                                                    <option value="others" data-i18n="Others"></option>
                                                </select>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                lob
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <select class="form-control " ng-model="businesses[selectedbusinessid].lob" >
                                                        <option ng-if="businesses[selectedbusinessid].group=='planner'" value="eat" data-i18n="Eat"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='planner'"  value="stay" data-i18n="Stay"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='planner'"  value="travel" data-i18n="Travel"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='planner'"  value="guide" data-i18n="Guide"></option>

                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'"  value="pharmacy" data-i18n="Pharmacy"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'"value="bank" data-i18n="Bank/ATM"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'"value="hospital" data-i18n="Hospitals"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'"value="textile" data-i18n="Textile"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'"value="jewellery" data-i18n="Jewellery"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'" value="metalstore" data-i18n="Metal Store"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='utilities'"value="pujastore" data-i18n="Puja Store"></option>

                                                        <option ng-if="businesses[selectedbusinessid].group=='others'" value="marriagehall" data-i18n="Marriage Hall"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='others'" value="decorations" data-i18n="Decorations"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='others'" value="studio" data-i18n="Photography/Studio"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='others'" value="astrologer" data-i18n="Astrologer"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='others'" value="tantric" data-i18n="Tantric"></option>
                                                        <option ng-if="businesses[selectedbusinessid].group=='others'" value="catering" data-i18n="Caterers"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Address
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder="address"
                                                           ng-model="businesses[selectedbusinessid].address"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Phone
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder="phone"
                                                           ng-model="businesses[selectedbusinessid].phone"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Email
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder="email"
                                                           ng-model="businesses[selectedbusinessid].email"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Contact
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder="contact"
                                                           ng-model="businesses[selectedbusinessid].contact"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Tag Line
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder="tag line"
                                                           ng-model="businesses[selectedbusinessid].tagline"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Web Site
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder="website"
                                                           ng-model="businesses[selectedbusinessid].website"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-md-12">-->
                                            <!--<div class="col-md-4">-->
                                                <!--Qualifier-->
                                            <!--</div>-->
                                            <!--<div class="col-md-8">-->
                                                <!--<div class="input-group">-->
                                                    <!--<input type="text"-->
                                                           <!--placeholder="Group"-->
                                                           <!--ng-model="businesses[selectedbusinessid].qualifier"-->
                                                           <!--class="form-control"-->
                                                           <!--required="">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-12">-->
                                            <!--<div class="col-md-4">-->
                                                <!--Status-->
                                            <!--</div>-->
                                            <!--<div class="col-md-8">-->
                                                <!--<div class="input-group">-->
                                                    <!--<input type="text"-->
                                                           <!--placeholder="Group"-->
                                                           <!--ng-model="businesses[selectedbusinessid].status"-->
                                                           <!--class="form-control"-->
                                                           <!--required="">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Service 1
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder=" service 1"
                                                           ng-model="businesses[selectedbusinessid].services1"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Service 2
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder=" service 2"
                                                           ng-model="businesses[selectedbusinessid].services2"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-4">
                                                Service 3
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group">
                                                    <input type="text"
                                                           placeholder=" service 3"
                                                           ng-model="businesses[selectedbusinessid].services3"
                                                           class="form-control"
                                                           required="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions fluid">
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <div class="col-md-offset-4 col-md-10">
                                                        <button data-ng-click="generaltab('updatelocalinfo');" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                        <button  data-ng-click="creategeneraldata();"  class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group></accordion>

                        </div>
                    </accordion-group>
                    <accordion-group style="margin: 5px;" >
                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                 ASSIGN LOCALINFO </span></div>
                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                        </accordion-heading>
                        <!--ng-init="generaltab('loadadvertisementsassigned');generaltab('loadadvertisements');"-->
                        <div class="panel-box" ng-init="generaltab('loadtemplesforlocalinfo');">
                            <div  class="form-horizontal">
                                <div class="form-body">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Temple Name"></span></label>
                                                <div class="col-md-8">
                                                    <!--<select class="form-control input-medium" ng-model="pujaData" ng-options="user as user.PujaName for user in masterPujaList " >-->
                                                    <!--<option value="" data-i18n="Select puja"></option>-->
                                                    <!--</select>-->
                                                    <div class="input-group">
                                                        <input type="text"
                                                               data-ng-blur="onchangetemplename(selectedtemple)"
                                                               ng-click="selectedtemple='';"
                                                               placeholder="Temple Name"
                                                               typeahead="options as options.TempleName for options in templelists"
                                                               ng-model="selectedtemple"
                                                               class="form-control"
                                                               required="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="form-group">
                                                <label class="control-label col-md-4"><span data-i18n="Place"></span></label>
                                                <div class="col-md-8">
                                                    <div class="input-group">
                                                        <input type="text"
                                                                data-ng-blur="onchangelocalinfoplace(selectedplace)"
                                                                ng-click="selectedplace='';"
                                                               placeholder="LocalInfo Name"
                                                               typeahead="options as options.Key for options in localinfolist"
                                                               ng-model="selectedplace"
                                                               class="form-control"
                                                               required="">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-actions fluid">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <div class="col-md-offset-4 col-md-10">
                                                    <button data-ng-click="generaltab('assignlocalinfo');" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button  data-ng-click="creategeneraldata();"  class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                            </div>
                    </accordion-group>
                </accordion>

            </div>

        </div>
    </div>
</div>

