<div data-ng-controller="Admin_DeityController" ng-init="loadMasterDeity()">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <!--<a href="announcements">  <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>-->
                <!--<a href="events">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">Events</div></a>-->
                <a href="deity">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">DEITY</div></a>
                <a href="puja">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">PUJA</div></a>
                <!--<a href="donation">   <div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);donationhide=false;">DONATION</div></a>-->
                <a href="about"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);abouthide=false;">GENERAL</div></a>
                <!--<a href="user"><div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);userhide=false;">USER</div></a>-->
                <!--<a href="contact"> <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;"ng-click="submenuselect(allreporthide);contacthide=false;">CONTACT</div></a>-->
            </div>

            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <div  class="row headerdiv" >
                    <h4 >ADD DEITY</h4> </div>

                        <div >
                            <div class="col-md-12">
                                <div class="col-md-3" align="left"style="margin: 5px;">
                                    <div class="form-group">
                                        <label class="control-label col-md-3"> <span data-i18n="Deity"></span> </label>
                                        <div class="col-md-9">
                                            <div class="input-group">
                                                <input type="text"
                                                       placeholder="Deity"
                                                       ng-model="DeityData"
                                                       typeahead="user as user.DeityName for user in masterDeityList | filter:$viewValue"
                                                       class="form-control"
                                                       required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" align="left" style="margin: 5px;" >

                                    <div class="form-group">
                                        <label class="control-label col-md-3"><span data-i18n="Category"></span></label>
                                        <div class="col-md-9">
                                            <select class="form-control input-medium" ng-model="Category" >
                                                <option value="" data-i18n="Select category">  </option>
                                                <option value="MAIN" data-i18n="Main">  </option>
                                                <option value="SUB DEITY" data-i18n="Sub Deity">  </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="margin: 5px;">
                                    <div class="row">
                                        <button data-ng-click="AddDeity()" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                        <button type="reset" class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <accordion class="ui-accordion-MainPuja">
                                    <accordion-group style="margin: 5px;"is-open="true">
                                        <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  DEITY LIST</span></div>
                                            <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                        </accordion-heading>
                                        <div class="panel-box">
                                            <table class="table table-bordered table-striped">
                                                <thead>
                                                <tr>
                                                    <th class="text-center"><span data-i18n="ID"></span></th>
                                                    <th class="text-left"><span data-i18n="Name "></span></th>
                                                    <th class="text-center"><span data-i18n="Status"></span></th>
                                                    <th class="text-center"><span data-i18n="Edit"></span></th>
                                                </tr>
                                                </thead>
                                                <tbody class="content">
                                                <tr data-ng-repeat="user in  allDeityList">
                                                    <td>
                                                        <span>{{user.DeityID}}</span>
                                                    </td>
                                                    <td class="text-left">
                                                        <span >{{user.DeityName}}</span>
                                                    </td>
                                                    <td class="text-center">
                                                        <span data-ng-show="user.Status"> <b class="color-success"> <span data-i18n="Active"></span>  </b> </span>
                                                        <span data-ng-hide="user.Status" > <b class="color-danger"> <span data-i18n="Deleted"></span> </b>  </span>
                                                    </td>
                                                    <td align="center">
                                        <span  data-ng-hide="user.Status"
                                               style="margin-left: 5px;"
                                               ng-click="removedeity(user,1)"
                                               popover-placement="bottom"
                                               popover-trigger="mouseenter"
                                               popover="click here to enable this {{user.DeityName}}"
                                               popover-append-to-body="true">
                                <a href="" class="btn btn-xs btn-success">
                                    <i class="fa fa-plus-square"></i> <span data-i18n="Enable"></span>
                                </a>
							 </span>

                                        <span  data-ng-show="user.Status"
                                               style="margin-left: 5px;"
                                               popover-placement="bottom"
                                               popover-trigger="mouseenter"
                                               popover="click here to remove {{user.DeityName}}"
                                               popover-append-to-body="true">
                                            <a href="" data-ng-click="removedeity(user,0)" class="btn btn-xs btn-info" >
                                                <i class="fa fa-trash-o"></i><span data-i18n="Delete"></span>
                                            </a>
							        </span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </accordion-group>
                                </accordion>
                            </div>
                        </div>



.

            </div>

        </div>
    </div>
</div>

