
<div data-ng-controller="admincontroller"ng-init="loaddevotees()">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box selected">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box ">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <div class="row">
                <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:11%; "ng-click="showpage('approval')">APPROVAL</div>
                <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:14%;" ng-click="showpage('statusupdate')">STATUS UPDATE</div>
                <div class="col-md-1 box adminmenu " style="margin-top: 5px;margin-right: 5px;width:14%; "ng-click="showpage('reviews')">CHECK REVIEWS</div>
                <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:16%;" ng-click="showpage('sendmail')">SEND NOTIFICATION</div>

            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">
                <div>
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  USER LIST</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-body" >
                                <table class="table table-bordered table-striped" ng-if="devoteelist.length!=0">
                                    <thead>
                                    <tr>
                                        <th><span data-i18n="Name"></span></th>
                                        <!--<th><span data-i18n="Image"></span></th>-->
                                        <th class="text-center"><span data-i18n="Email"></span></th>
                                        <th class="text-center"><span data-i18n="Mobile"></span></th>
                                        <th class="text-center"><span data-i18n=""></span></th>
                                    </tr>
                                    </thead>
                                    <tbody class="content" data-ng-repeat="users in  devoteelist ">
                                    <tr >

                                        <td>
                        <span>
                            {{users.FirstName}}
                        </span>
                                            <!--<span data-ng-show="puja.ShowControls">-->
                                            <!--<input type="text" data-ng-model="puja.PujaName" class="form-control">-->
                                            <!--</span>-->
                                        </td>
                                        <!--<td>-->
                                            <!--<img src="{{imageurl}}{{users.customerimage}}"class="img-circle">-->
                                        <!--</td>-->
                                        <td >
                        <span>
                            {{users.LoginID}}  <button  ng-click="opentemplate(users,'mail','one');"style="float: right;border-radius: 5px">Send mail</button>
                         </span>

                                        </td>
                                        <td>
                                         <span ng-hide="editmode">  {{users.PhoneMobile }}   <button ng-click="opentemplate(users,'sms','one');"style="float: right;border-radius: 5px">Send SMS</button></span>
                                     <span ng-show="editmode"><textarea data-ng-model="userdata.PhoneMobile">     {{users.PhoneMobile }}    </textarea></span>
                                        </td>
                                        <td align="center">
                                            <button style="border-radius: 5px" ng-hide="editmode" ng-click="editmode=true;editdevotees(users);">Edit</button>
                                            <button style="border-radius: 5px" ng-show="editmode" ng-click="editmode=false;updatedevotee();">Save</button>
                                            <button style="border-radius: 5px" ng-show="editmode" ng-click="editmode=false">Cancel</button>
                                        </td>

                                    </tr>
                                    </tbody>
 <tr>


     <td></td>
     <td> <button  ng-click="opentemplate(users,'mail','all');"style="float: right;border-radius: 5px">Send mail to all</button></td>
     <td> <button  ng-click="opentemplate(users,'sms','all');"style="float: right;border-radius: 5px">Send SMS to all</button></td>
     <td></td>
 </tr>
                                    <tr class="text-right">


                                        <td colspan="4" class="text-right">
                                            <div class="btn-group" dropdown is-open="status.isopen">
                                            <button type="button"  style="float: right;border-radius: 5px" class="dropdown-toggle"  data-slider-tooltip="Export">
                                            <i class="fa fa-upload"></i>  Download Contacts  <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                            <li><a href="#"  ng-click="exportContacts(users,'all','XLS');"> <img src="images/icon/xls.png" width="24px"> XLX</a></li>
                                            <li><a href="#" ng-click="exportContacts(users,'all','PDF');"> <img src="images/icon/pdf.png" width="24px"> PDF</a></li>
                                            <li><a href="#" ng-click="exportContacts(users,'all','CSV');"> <img src="images/icon/csv.png" width="24px"> CSV</a></li>
                                            </ul>
                                            </div>

                                            <!--<button  ng-click="exportContacts(users,'all','XLS');"style="float: right;border-radius: 5px"><span class="fa fa-file-archive-o"></span> Export Contacts (XLS) </button>-->
                                            <!--<button  ng-click="exportContacts(users,'all','csv');"style="float: right;border-radius: 5px"><span class="fa fa-file-excel-o"></span> CSV </button>-->
                                        </td>
                                    </tr>

                                </table>

                            </div>



                        </accordion-group>
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  SEND NOTIFICATION</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="panel-body" >
                                <table class="table table-bordered table-striped">

                                    <tbody class="content">
                                    <tr >
                                        <td>
                   To :
                                        </td>
                                        <td>
                                            <input  ng-model="notificationdata.to"style="width: 90%;margin: 10px;border-radius: 5px;">
                                        </td>

                                    </tr>
                                    <tr >
                                        <td>
                                            Message :
                                        </td>
                                        <td>
                                            <textarea data-ng-model="notificationdata.message" type="text"style="width: 90%;min-height: 200px;margin: 10px;"></textarea>
                                        </td>

                                    </tr>
                                    <tr><td></td><td>
                                        <div class="col-md-3"> <button style="border-radius: 5px;" data-ng-click="sendmail('mail','other');" style="margin:10px;width: 90%">Send mail</button> </div><div class="col-md-3"> <button  style="border-radius: 5px;" data-ng-click="sendmail('sms','other');" style="margin:10px;width: 90%">Send SMS</button></div>
                                    </td></tr>
                                    </tbody>
                                </table>
                            </div>



                        </accordion-group>
                    </accordion>


                </div>

            </div>

        </div>
    </div>

</div>

<script type="text/ng-template" id="emailtemplate.html"ng-show="messagebox">
    <div class="panel-body" data-slim-scroll data-scroll-height="600px" ng-show="messagebox">
<div class="row">
    <!--<div class="col-md-2">From :</div><div class="col-md-10"> <input type="email"ng-model="maildata.from" style="width: 90%;margin: 10px;"></div>-->
    <div class="col-md-2"style="margin: 10px;">To :</div><div class="col-md-10"> <input type="email"ng-model="maildata.to"style="width: 90%;margin: 10px;"></div>
    <div class="col-md-12"> <textarea data-ng-model="maildata.message" type="text"style="width: 90%;min-height: 200px;margin: 10px;"></textarea></div>
    <div class="col-md-2"> <button data-ng-click="sendmail('mail','user');cancel(modalInstance);" style="margin:10px;width: 90%;border-radius: 5px">Send</button></div>
    <div class="col-md-2"> <button data-ng-click="cancel(modalInstance)" style="margin:10px;width: 90%;border-radius: 5px">Cancel</button></div>
</div>
    </div>
</script>
<script type="text/ng-template" id="smstemplate.html">
    <div class="panel-body" data-slim-scroll data-scroll-height="600px"ng-show="messagebox">
        <div class="row">
            <!--<div class="col-md-2">From :</div><div class="col-md-10"> <input  type="email"ng-model="maildata.from" style="width: 90%;margin: 10px;"></div>-->
            <div class="col-md-2"style="margin: 10px;">To :</div><div class="col-md-10"> <input ng-model="maildata.to"style="border-radius: 5px;width: 90%;margin: 10px;"></div>
            <div class="col-md-12"> <textarea data-ng-model="maildata.message" type="text"style="width: 90%;min-height: 200px;margin: 10px;"></textarea></div>
            <div class="col-md-2"> <button data-ng-click="sendmail('sms','user');cancel(modalInstance);" style="margin:10px;width: 90%;border-radius: 5px">Send</button></div>
            <div class="col-md-2"> <button data-ng-click="cancel(modalInstance)" style="margin:10px;width: 90%;border-radius: 5px">Cancel</button></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="allmail.html">
    <div class="panel-body" data-slim-scroll data-scroll-height="600px"ng-show="messagebox">
        <div class="row">
            <!--<div class="col-md-2">From :</div><div class="col-md-10"> <input  type="email"ng-model="maildata.from" style="width: 90%;margin: 10px;"></div>-->
            <!--<div class="col-md-2"style="margin: 10px;">To :</div><div class="col-md-10"> <input ng-model="maildata.to"style="border-radius: 5px;width: 90%;margin: 10px;"></div>-->
            <div class="col-md-12"> <textarea data-ng-model="maildata.message" type="text"style="width: 90%;min-height: 200px;margin: 10px;"></textarea></div>
            <div class="col-md-2"> <button data-ng-click="sendmail('mail','user');cancel(modalInstance);" style="margin:10px;width: 90%;border-radius: 5px">Send</button></div>
            <div class="col-md-2"> <button data-ng-click="cancel(modalInstance)" style="margin:10px;width: 90%;border-radius: 5px">Cancel</button></div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="allsms.html">
    <div class="panel-body" data-slim-scroll data-scroll-height="600px"ng-show="messagebox">
        <div class="row">
            <!--<div class="col-md-2">From :</div><div class="col-md-10"> <input  type="email"ng-model="maildata.from" style="width: 90%;margin: 10px;"></div>-->
            <!--<div class="col-md-2"style="margin: 10px;">To :</div><div class="col-md-10"> <input ng-model="maildata.to"style="border-radius: 5px;width: 90%;margin: 10px;"></div>-->
            <div class="col-md-12"> <textarea data-ng-model="maildata.message" type="text"style="width: 90%;min-height: 200px;margin: 10px;"></textarea></div>
            <div class="col-md-2"> <button data-ng-click="sendmail('sms','user');cancel(modalInstance);" style="margin:10px;width: 90%;border-radius: 5px">Send</button></div>
            <div class="col-md-2"> <button data-ng-click="cancel(modalInstance)" style="margin:10px;width: 90%;border-radius: 5px">Cancel</button></div>
        </div>
    </div>
</script>