<div data-ng-controller="Admin_TempleHistoryController">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">

            <div class="row" >
                <a href="announcements">  <div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%;"ng-click="submenuselect(allreporthide);announcementhide=false; ">ANNOUNCEMENTS</div></a>
                <a href="events">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:11%;"ng-click="submenuselect(allreporthide);calenderhide=false;">EVENTS</div></a>
                <a href="masterpuja">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(allreporthide);pujahide=false;">MASTER</div></a>
                <a href="Advertisements">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ADVERTISEMENTS</div></a>
                <a href="darshanam">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">LOCALINFO</div></a>
                <a href="general">  <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">GENERAL</div></a>
                <a href="onboard">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:14%;"ng-click="submenuselect(allreporthide);pujahide=false;">ONBOARD</div></a>

            </div>
            <div class="adminbox"style="width: 95%;min-height: 400px;">

                <div class="panel panel-info"  >
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="mailaddress=!mailaddress;generaltab('loadmailaddress');"><span class="fa fa-bell">
                        </span>  <span data-i18n="Update Settlement Mail ID"></span> </div>
                    <div class="panel-body" collapse="!mailaddress">
                        <div class="panel panel-info"  >
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body" >
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="" class="col-sm-2">
                                            <span data-i18n="Mail "></span>
                                        </label>
                                        <div class="col-sm-10">
                                              <textarea rows="4" type="text" class="form-control" data-ng-model="generaldata.settlementmails">

                                              </textarea>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <button data-ng-click="generaltab('updatemailaddress')" class="btn btn-primary"><span data-i18n="Save"></span>
                                        </button>
                                        <!--<button  class="btn btn-primary"><span data-i18n="Cancel"></span></button>-->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-info" ng-init="generaltab('checkautosettlement')" >
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer">
                            <span class="fa fa-bell">
                        </span>  <span data-i18n="Enable Auto Settlement Mail"></span>
                        <input style="width: 17px;height:17px;margin-left: 5px;" type="checkbox"ng-model="generaldata.enableautosettlement"data-ng-change="generaltab('enableautosettlement')">
                    </div>
                </div>
                <div class="panel panel-info"  >
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="msg_paytm=!msg_paytm;" ng-init="generaltab('loadtemples');load_pg_msg_page()"><span class="fa fa-bell">
                        </span>  <span data-i18n="Add PG messages"></span> </div>
                    <div class="panel-body" collapse="!msg_paytm">
                        <div class="panel panel-info"  >
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body" style="min-height: 450px">
                                <div class="">
                                    <form  class="form-horizontal">



                                            <div class="col-md-12">

                                                <div class="form-group">
                                                    <label for="name1"><span data-i18n="Temple Name"></span><span class="require-field">*</span>
                                                    </label>
                                                    <input id="name1"
                                                           type="text"
                                                           placeholder="Temple Name"
                                                           typeahead="options as options.TempleName for options in templelists"
                                                           ng-model="pgmessages_Temple"
                                                           class="form-control"
                                                           typeahead-on-select="pg_msg_temple_selected(pgmessages_Temple)"
                                                           required="">
                                                    <span></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="Last"><span data-i18n="Message"></span> <span class="require-field"></span></label>
                                                     <textarea type="text"
                                                       placeholder="Message in Payment page with multi line"
                                                       ng-model="pgmessages.Message"
                                                       class="form-control"
                                                       required=""></textarea>
                                                    <span></span>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Last"><span data-i18n="Start Date"></span> <span class="require-field"></span></label>
                                                <div class="input-group input-medium ui-datepicker">
                                                    <input type="text"
                                                           class="form-control"
                                                           datepicker-popup="dd/MM/yyyy"
                                                           data-ng-model="pgmessages.Start_DateTime"
                                                           min-date="Today"
                                                           data-ng-change="pgmessages.Expiry_DateTime=pgmessages.Start_DateTime"
                                                           is-open="opened1"
                                                           ng-click="open($event,'start')"
                                                           datepicker-options="dateOptions"
                                                           datepicker-append-to-body="true"
                                                           ng-required="true"
                                                           close-text="Close"
                                                    >
                                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event,'start')"><span class="fa  fa-calendar" ></span></span>

                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="Last"><span data-i18n="End Date"></span> <span class="require-field"></span></label>
                                                <div class="input-group input-medium ui-datepicker">
                                                    <input type="text"
                                                           class="form-control"
                                                           datepicker-popup="dd/MM/yyyy"
                                                           data-ng-model="pgmessages.Expiry_DateTime"
                                                           min-date="pgmessages.Start_DateTime"
                                                           is-open="opened2"
                                                           ng-click="open($event,'end')"
                                                           datepicker-options="dateOptions"
                                                           datepicker-append-to-body="true"
                                                           ng-required="true"
                                                           close-text="Close">
                                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event,'end')"><span class="fa  fa-calendar" ></span></span>

                                                </div>
                                            </div>
                                        </div>
                                            <div class="row">
                                                <div class="col-sm-12 text-right"> <br>

                                                    <button ng-hide="pgmessages.MessageID" data-ng-click="manage_pg_msg('add_pg_msg',pgmessages);" class="btn btn-primary"><span data-i18n="Add"></span></button>
                                                    <button ng-show="pgmessages.MessageID" data-ng-click="manage_pg_msg('update_pg_msg',pgmessages);" class="btn btn-primary"><span data-i18n="Update"></span></button>
                                                    <button  data-ng-click="load_pg_msg_page();"  class="btn btn-primary"><span data-i18n="Cancel"></span></button>
                                                </div>
                                            </div>
                                        </form>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-info"  >
                    <div style="color:#ffffff;background-color: #e38749" class="panel-heading  mouse-pointer"
                         data-ng-click="pg_msglist=!pg_msglist;"><span class="fa fa-bell">
                        </span>  <span data-i18n="PG Message List"></span> </div>
                    <div class="panel-body" collapse="!pg_msglist">
                        <div class="panel panel-info"  >
                            <div class="panel-heading  mouse-pointer">
                                <span class="fa fa-clock-o"> </span> <span data-i18n=""></span>
                            </div>
                            <div class="panel-body" style="min-height:500px">
                                <div class="table-responsive" >
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th class="text-left"><span data-i18n="Temple"></span></th>
                                            <th class="text-left"><span data-i18n="Message"></span></th>
                                            <th class="text-center"><span data-i18n="Start Date"></span></th>
                                            <th class="text-center"><span data-i18n="End Date"></span></th>
                                            <th class="text-center"><span data-i18n="Status"></span></th>
                                            <th class="text-center"><span data-i18n="Edit"></span></th>
                                            <th class="text-center"><span data-i18n="Delete"></span></th>
                                        </tr>
                                        </thead>
                                        <tbody class="content" ng-repeat="m in  pg_msg_list">
                                        <tr>
                                            <td><span ng-bind="m.TempleName"></span></td>
                                            <td><span ng-bind="m.Message"></span></td>
                                            <td><span ng-bind="m.Start_DateTime|date:'dd.MM.y'"></span></td>
                                            <td><span ng-bind="m.Expiry_DateTime|date:'dd.MM.y'"></span></td>
                                            <td><span ng-show="m.Status" ng-bind="'Active'"></span><span ng-show="!m.Status" ng-bind="'Disabled'"></span></td>
                                            <td><button class="btn btn-line-info btn-sm" ng-click="manage_pg_msg('edit_pg_msg',m);">Edit </button></td>
                                            <td><button class="btn btn-line-danger btn-sm" ng-click="manage_pg_msg('delete_pg_msg',m);">Delete </button></td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

