<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="Reports"></span>
        </div></a>
        <a href="approval">  <div class="col-md-11 box">
            <i class="fa fa-cogs"></i>
            <span data-i18n="Tasks"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box selected" data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>
    </div>
















    <div class="col-md-10">
        <div class="col-lg-12"style="min-height: 40px;">
            <!--<div class="row">-->
                <!--&lt;!&ndash;<div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%; ">DASHBOARD</div>&ndash;&gt;-->
                <!--<div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:10%;"ng-click="submenuselect(pujalisthide);pujalisthide=false;">PUJA LIST</div>-->
                <!--<div class=" col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:12%;" ng-click="showpage('allreports');submenuselect(allreporthide);allreporthide=false;">ALL REPORTS</div>-->
            <!--</div>-->

            <div class="adminbox"style="width: 95%;min-height: 400px;">
                <div>
                    <accordion class="ui-accordion-MainPuja">
                        <accordion-group style="margin: 5px;" is-open="true">
                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Puja List</span></div>
                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                            </accordion-heading>
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="col-md-5">
                                    <div class="input-group ui-datepicker" data-ng-controller="DatepickerDemoCtrl" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                        <input type="text"
                                               class="form-control"
                                               datepicker-popup="dd-MM-yyyy"
                                               ng-model="pujaReportSearchDate"
                                               is-open="opened"
                                               min-date="minDate"
                                               max-date="'2050-12-31'"
                                               ng-click="open($event)"
                                               datepicker-options="dateOptions"
                                               datepicker-append-to-body="true"
                                               ng-required="true"
                                               close-text="Close"
                                               readonly="true"
                                               show-weeks="false"
                                               show-button-bar="false"
                                               tabindex="3">
                                        <!--date-disabled="disabled(date, mode)"-->
                                        <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                    </div>
                                </div>
                                <div class="col-md-1" >
                                    <div class="" >
                                        <button class="btn btn-info btn-w-md"  ng-click="searchPujaReport(pujaReportSearchDate,1)" ><span i18n="Go"></span></button>
                                    </div>
                                </div>
                            </div>


                            <div class style="background-color: #f1fcff;margin-top: 50px;" ng-show="searchpuja">
                                <div class="row">
                                    <accordion class="ui-accordion-MainPuja">
                                        <accordion-group style="margin: 5px;" is-open="true">
                                            <accordion-heading> <div class="row"><span style="padding-left: 2%">
                  Puja List</span></div>
                                                <!--<span class="pull-right"> <span class="fa fa-inr"> </span> {{Donation.Amount}}.00</span>-->
                                            </accordion-heading>
                                    <div class="table-responsive" style="padding: 10px; min-height: 200px;">
                                        <table class="table table-hover table-advance">
                                            <thead>
                                            <tr>
                                                <th>
                                                    <i class="fa fa-leaf"></i>  <span i18n="Diety"></span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-fire"></i>  <span i18n="Puja"></span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-user"></i>  <span i18n="Devotee"></span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-star"></i> <span i18n="Star"></span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-truck"></i> <span i18n="Shipping"></span>
                                                </th>
                                                <th>
                                                    <i class="fa fa-edit "></i> <span i18n="Status"></span>
                                                </th>


                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="puja in pujaReportSearchResult">
                                                <td>
                                                    {{puja.DeityName}}
                                                </td>
                                                <td>
                                                    {{puja.PujaName}}
                                                </td>
                                                <td>
                                                    {{puja.DevoteeName}}
                                                </td>
                                                <td>
                                                    {{puja.StarName}}
                                                </td>
                                                <td>
                                                    {{shippingOptions[puja.ShippingID]}}
                                                </td>
                                                <td>
                                                    {{puja.StatusDesc|lowercase|capitalize}}
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                            </accordion-group></accordion>
                                </div>
                            </div>

                        </accordion-group>
                    </accordion>
                </div>
            </div>


        </div>
    </div>

</div>
