<div data-ng-controller="admincontroller">
    <div class="col-md-2">
        <a href="allreports"> <div class="col-md-11 box selected ">
            <i class="fa fa-dashboard t"></i>
            <span data-i18n="DashBoards"></span>
        </div></a>
        <a href="announcements"> <div class="col-md-11 box " data-ng-click="menuselect('settings')">
            <i class="fa fa-tasks"></i>
            <span data-i18n="Settings"></span>
        </div></a>

    </div>
    <div class="col-md-10">
        <div ng-init="devaayanamadmin()">
            <div class="col-lg-12"style="min-height: 40px;">
                <div class="row">
                    <!--<div class="col-md-1 box adminmenu" style="margin-top: 5px;margin-right: 5px;width:15%; ">DASHBOARD</div>-->
                    <a href="allreports">  <div class=" col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;" >FRANCHISEEBOARD</div></a>
                    <a href="settlement">   <div class="col-md-1 box adminmenu selected"style="margin-top: 5px;margin-right: 5px;width:15%;">SETTLEMENT</div></a>
                    <a href="dashboard">  <div class="col-md-1 box adminmenu"style="margin-top: 5px;margin-right: 5px;width:15%;">STATUS</div></a>
                    <a href="adminreports">  <div class="col-md-1 box adminmenu "style="margin-top: 5px;margin-right: 5px;width:15%;">REPORTS</div></a>
                </div>

                <div class="adminbox"style="width: 95%;min-height: 400px;">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="btn-group" style="margin: 10px;">
                                <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus=''" ng-model="reporttype"  btn-radio="1"  style="font-size: 12px"><span class="fa fa-home"> </span> All</button>
                                <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus='S'" ng-model="reporttype"  btn-radio="2"  style="font-size: 12px"><span class="fa fa-home"> </span> Success</button>
                                <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus='F'"  ng-model="reporttype"  btn-radio="3"  style="font-size: 12px" ><span class="fa fa-calendar"> </span> Failed</button>
                                <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus='I'"  ng-model="reporttype"  btn-radio="4"  style="font-size: 12px" ><span class="fa fa-calendar"> </span> Incomplete</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-4" style="margin: 10px;">  <select class="select2me form-control" ng-model="reportDates.TempleID" required>
                                <option value="">--Choose a Temple--</option>
                                <option value="all">All</option>
                                <option value="{{user.TempleID}}" ng-repeat="user in templelist">{{user.TempleName}}</option>
                            </select>
                            </div>
                            <div class="input-group" style="margin: 10px;"  >
                                <div class="input-group ui-datepicker"style="margin-right: 5px;" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd-MM-yyyy"
                                           ng-model="reportDates.from"
                                           is-open="opened"
                                           min-date="minDate"
                                           max-date="'2050-12-31'"
                                           ng-click="open($event)"
                                           datepicker-options="dateOptions"
                                           datepicker-append-to-body="true"
                                           ng-required="true"
                                           close-text="Close"
                                           readonly="true"
                                           show-weeks="false"
                                           show-button-bar="false"
                                           tabindex="3">
                                    <!--date-disabled="disabled(date, mode)"-->
                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                </div>

                                <span class="input-group-addon  "style="border-radius: 5px;"><span class="">to</span></span>
                                <div style="margin-left:5px;"class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">

                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd-MM-yyyy"
                                           ng-model="reportDates.to"
                                           is-open="opened"
                                           min-date="minDate"
                                           max-date="'2050-12-31'"
                                           ng-click="open($event)"
                                           datepicker-options="dateOptions"
                                           datepicker-append-to-body="true"
                                           ng-required="true"
                                           close-text="Close"
                                           readonly="true"
                                           show-weeks="false"
                                           show-button-bar="false"
                                           tabindex="3">
                                    <!--date-disabled="disabled(date, mode)"-->
                                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-info btn-w-md" ng-click="loadsettlements()"style="margin-top: 9px;" ><span i18n="show">show</span></button>
                        </div>

                    </div>
                    <div style="border-bottom: solid #e7e9eb 1px; padding-top: 0px;margin: 20px;"></div>
                    <div class="row" ng-hide="settlementdatahide">
                        <div class="col-md-12">
                            <div class="panel font_b ">
                                <div class="panel-body">
                                    <div class="col-md-12">

                                        <table class="table table-striped">


                                            <thead>

                                            <tr>
                                                <th class="text-small">
                                                    <span>Booking Date</span>
                                                </th>

                                                <th class="text-small">
                                                    <span>Tracking No</span>
                                                </th>
                                                <th class="text-small">
                                                    <span>Status</span>
                                                </th>
                                                <th class="text-small">
                                                    <span>TempleName</span>
                                                </th>
                                                <th class="text-small">
                                                    <span>Email</span>
                                                </th>
                                                <th class="text-small">
                                                    <span>Temple's charge</span>
                                                </th>
                                                <th class="text-small">
                                                    <span>Commission</span>
                                                </th>
                                                <th class="text-small">
                                                    <span >Settled Date</span>
                                                </th>
                                                <th class="text-small">
                                                    <span >Update Status</span>
                                                </th>
                                                <th class="text-small">
                                                    <span ></span>
                                                </th>
                                                <th class="text-small">
                                                    <span ></span>
                                                </th>

                                            </tr>
                                            </thead>
                                            <tbody class="text-small">
                                            <tr ng-repeat="CartItems in transactions | filter:{TransactionStatus:filterstaus}" ng-style="checkBankName(CartItems)">
                                                <td>
                                                    <span>{{CartItems.TransactionRequestedTime  | date:'mediumDate'}}</span>
                                                </td>
                                                <td>
                                                    <span>{{CartItems.TrackingNo}}</span>
                                                </td>
                                                <td>
                                                    <span ng-if="CartItems.TransactionStatus=='S'">Success</span>
                                                    <span ng-if="CartItems.TransactionStatus=='F'">Failed</span>
                                                    <span ng-if="CartItems.TransactionStatus=='D'">Delayed</span>
                                                    <span ng-if="CartItems.TransactionStatus=='I'">Incomplete</span>
                                                </td>
                                                <td  class="">
                                                    <span> {{CartItems.TempleName}}</span>
                                                </td>
                                                <td  class="">
                                                    <span> {{CartItems.LoginID}}</span>
                                                </td>
                                                <td  class="">
                                                    <span><span class="fa fa-inr"> </span> {{(CartItems.GatewayTransactionAmount/100)-10}}</span>
                                                </td>
                                                <td  class="">
                                                    <span><span class="fa fa-inr"> </span> {{CartItems.Commission}}</span>
                                                </td>

                                                <td  class="">
                                                    <span> {{CartItems.SettlementCompleteDate | date:'dd/MM/yyyy'}}</span>
                                                </td>
                                                <td  class="">
                                                    <select ng-if="filterstaus=='S'||filterstaus=='I'" class="select2me form-control" ng-model="CartItems.SettlementStatus"ng-change="updatesettlementstatus($index,CartItems)" required>
                                                        <option value="">--Choose Status--</option>
                                                        <option ng-if="filterstaus=='S'||filterstaus=='I'" value="Complete">Complete</option>
                                                        <option ng-if="filterstaus=='S'" value="In-Progress">In-Progress</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <input ng-if="filterstaus=='S'" type="checkbox"ng-model="addtolist" ng-change="addlistforsettlement(addtolist,CartItems)">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div class="col-md-6"><button ng-if="filterstaus=='S'" style="background-color:#ff88a0;margin-top: 20px;" class="btn btn-info btn-w-md" ng-click="generatesettlementfile('transferAmount')" ><span i18n="Fonepaisa Transfer Amount"></span></button></div>
                                        <div class="col-md-6"style="margin-top: 30px;">
                                            <!--<button ng-if="filterstaus=='S'" style="margin-top: 20px;" class="btn btn-info btn-w-md" ng-click="generatesettlementfile('createfile')" ><span i18n="Geneate Settlement File"></span></button>-->

                                            <!--<button ng-if="filterstaus=='S'" style="margin-top: 20px;" class="btn btn-info btn-w-md" ng-click="generatesettlementfile('previewmail')" ><span i18n="Preview Mail"></span></button>-->
                                            <span class="btn btn-info btn-w-md"style="background:whitesmoke;margin-top: 20px;color:black">To:</span><input class="btn btn-info btn-w-md"style="color:black;background:whitesmoke;height: 30px;margin-top: 20px;"ng-model="toaddress">
                                            <button ng-if="filterstaus=='S'" style="margin-top: 20px;" class="btn btn-info btn-w-md" ng-click="generatesettlementfile('sendmail')" ><span i18n="Send Mail For Settlement"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>


</div>
<script type="text/ng-template" id="mailpreview.html"style="width:100%;background-color:green">
    <div ng-bind-html="maildata" style="width:100%;"></div>
</script>



