<div data-ng-controller="ListController"ng-init="ontemplelistload();">

    <div class="row bg-franchiseboardList"style="margin: 30px;">
        <div class="col-md-12 bg-franchiseboardList text-center " style="padding-bottom: 15px">
            <div class="col-md-12 col-sm-6 col-xs-12 padding-top-18 ">
                <span class="fa font_b "style="color: #ffffff;font-size: 20px;margin-top: 15px;">Settlement dashboard</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" style="margin-left: 10px;">
            <div class="col-md-4"></div>
            <div class="col-md-12"style="margin-left: 8px;">
                <div class="btn-group">
                    <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus=''" ng-model="reporttype"  btn-radio="1"  style="font-size: 12px"><span class="fa fa-home"> </span> All</button>
                    <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus='S'" ng-model="reporttype"  btn-radio="2"  style="font-size: 12px"><span class="fa fa-home"> </span> Success</button>
                    <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus='F'"  ng-model="reporttype"  btn-radio="3"  style="font-size: 12px" ><span class="fa fa-calendar"> </span> Failed</button>
                    <button type="button" class="btn btn-line-primary" data-ng-click="filterstaus='I'"  ng-model="reporttype"  btn-radio="4"  style="font-size: 12px" ><span class="fa fa-calendar"> </span> Incomplete</button>
                </div></div>
        </div>
        <div class="col-md-6">
            <div class="col-md-4">  <select  style="margin-left: 100px;" class="select2me form-control" ng-model="reportDates.TempleID" required>
                <option value="">--Choose a Temple--</option>
                <option value="{{user.TempleID}}" ng-repeat="user in templelist1">{{user.TempleName}}</option>
            </select></div>
            <div class="input-group"  >
                <div class="input-group ui-datepicker"style="margin-left:20px;margin-right: 20px;" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">

                    <input type="text"
                           class="form-control"
                           datepicker-popup="dd-MM-yyyy"
                           ng-model="reportDates.from"
                           is-open="opened"
                           min-date="minDate"
                           max-date="'2050-12-31'"
                           ng-click="open($event)"
                           datepicker-options="dateOptions"
                           datepicker-append-to-body="true"
                           ng-required="true"
                           close-text="Close"
                           readonly="true"
                           show-weeks="false"
                           show-button-bar="false"
                           tabindex="3">
                    <!--date-disabled="disabled(date, mode)"-->
                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                </div>

                <span class="input-group-addon  "style="border-radius: 5px;"><span class="">to</span></span>
                <div style="margin-left:20px;"class="input-group ui-datepicker" tooltip-placement="top" tooltip="click here to select puja date" tooltip-append-to-body="true">

                    <input type="text"
                           class="form-control"
                           datepicker-popup="dd-MM-yyyy"
                           ng-model="reportDates.to"
                           is-open="opened"
                           min-date="minDate"
                           max-date="'2050-12-31'"
                           ng-click="open($event)"
                           datepicker-options="dateOptions"
                           datepicker-append-to-body="true"
                           ng-required="true"
                           close-text="Close"
                           readonly="true"
                           show-weeks="false"
                           show-button-bar="false"
                           tabindex="3">
                    <!--date-disabled="disabled(date, mode)"-->
                    <span class="input-group-addon bg-transparent btn" ng-click="open($event)"><span class="fa  fa-calendar" ></span></span>
                </div>
            </div>
        </div>
        <button class="btn btn-info btn-w-md" ng-click="loadsettlements()" ><span i18n="show">show</span></button>

    </div>
    <div style="border-bottom: solid #e7e9eb 1px; padding-top: 0px;margin: 20px;"></div>
    <div class="row" ng-hide="settlementhide">
        <div class="col-md-12 box" style="margin: 10px;">
            <div class="panel font_b ">
                <div class="panel-body">
                    <div class="col-md-12">

                        <table class="table table-striped">


                            <thead>

                            <tr>
                                <th class="text-small">
                                    <span>Bookind Date</span>
                                </th>

                                <th class="text-small">
                                    <span>Tracking No</span>
                                </th>
                                <th class="text-small">
                                    <span>Status</span>
                                </th>
                                <th class="text-small">
                                    <span>Name</span>
                                </th>
                                <th class="text-small">
                                    <span>Email</span>
                                </th>
                                <th class="text-small">
                                    <span>Bill Amount</span>
                                </th>
                                <th class="text-small">
                                    <span>Commission</span>
                                </th>
                                <th class="text-small">
                                    <span >Requested Date</span>
                                </th>
                                <th class="text-small">
                                    <span >Completed Date</span>
                                </th>
                                <th class="text-small">
                                    <span >Update Status</span>
                                </th>
                                <th class="text-small">
                                    <span ></span>
                                </th>
                                <th class="text-small">
                                    <span ></span>
                                </th>

                            </tr>
                            </thead>
                            <tbody class="text-small">
                            <tr ng-repeat="CartItems in transactions | filter:{TransactionStatus:filterstaus}">
                                <td>
                                    <span>{{CartItems.TransactionRequestedTime | limitTo:10}}</span>
                                </td>
                                <td>
                                    <span>{{CartItems.TrackingNo}}</span>
                                </td>
                                <td>
                                    <span ng-if="CartItems.TransactionStatus=='S'">Success</span>
                                    <span ng-if="CartItems.TransactionStatus=='F'">Failed</span>
                                    <span ng-if="CartItems.TransactionStatus=='D'">Delayed</span>
                                    <span ng-if="CartItems.TransactionStatus=='I'">Incomplete</span>
                                </td>
                                <td  class="">
                                    <span><span class="fa fa-inr"> </span> {{CartItems.FirstName}}</span>
                                </td>
                                <td  class="">
                                    <span><span class="fa fa-inr"> </span> {{CartItems.LoginID}}</span>
                                </td>
                                <td  class="">
                                    <span><span class="fa fa-inr"> </span> {{CartItems.BillAmount}}</span>
                                </td>
                                <td  class="">
                                    <span><span class="fa fa-inr"> </span> {{CartItems.Commission}}</span>
                                </td>

                                <td  class="">
                                    <span ><span class="fa fa-inr"> </span> {{CartItems.SettlementRequestedDate | limitTo:10}}</span>
                                </td>
                                <td  class="">
                                    <span><span class="fa fa-inr"> </span> {{CartItems.SettlementCompleteDate | limitTo:10}}</span>
                                </td>
                                <td  class="">
                                    <select class="select2me form-control" ng-model="updatestatus.new"ng-change="updatesettlementstatus($index,CartItems)" required>
                                        <option value="">--Choose Status--</option>
                                        <option value="Complete">Complete</option>
                                        <option value="In-Progress">In-Progress</option>
                                    </select>
                                </td>
                                <td>
                                    <input ng-if="filterstaus=='S'" type="checkbox"ng-model="addtolist" ng-change="addlistforsettlement(addtolist,CartItems)">
                                </td>


                            </tr>



                            </tbody>


                        </table>
                        <div class="col-md-10"></div>
                        <div class="col-md-2"style="margin-top: 30px;">
                            <button ng-if="filterstaus=='S'" style="margin-top: 20px;" class="btn btn-info btn-w-md" ng-click="generatesettlementfile()" ><span i18n="Generate Settlement File"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>